<p id="notice"><%= notice %></p>

<h1 class="text-center">InText Franchise Terms</h1>
</br></br>


<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_in_text_po_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', in_text_po_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', in_text_pos_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br>
<br>

<%= form_tag "/in_text_pos", method: :get, class: 'form-inline'  do %>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>
            <th>InText Franchise Terms</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @in_text_pos.each do |in_text_po| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  in_text_po.id %></td>
            <td><%= in_text_po.term %></td>
            <td><%= link_to 'Show', in_text_po %></td>
            <td><%= link_to 'Edit', edit_in_text_po_path(in_text_po) %></td>
            <td><%= link_to 'Destroy', in_text_po, method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <%= submit_tag "Delete Checked", class: 'btn btn-danger' %>
</div>
<% end %>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_in_text_po_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', in_text_po_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', in_text_pos_path(format: "csv"), class: 'btn btn-primary' %>
</div>
