<p id="notice"><%= notice %></p>

<p>
  <strong>Indexer status:</strong>
  <%= @indexer_location.indexer_status %>
</p>

<p>
  <strong>Sfdc acct:</strong>
  <%= @indexer_location.sfdc_acct %>
</p>

<p>
  <strong>Sfdc group name:</strong>
  <%= @indexer_location.sfdc_group_name %>
</p>

<p>
  <strong>Sfdc ult acct:</strong>
  <%= @indexer_location.sfdc_ult_acct %>
</p>

<p>
  <strong>Root:</strong>
  <%= @indexer_location.root %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @indexer_location.domain %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @indexer_location.ip %>
</p>

<p>
  <strong>Text:</strong>
  <%= @indexer_location.text %>
</p>

<p>
  <strong>Href:</strong>
  <%= @indexer_location.href %>
</p>

<p>
  <strong>Loc link:</strong>
  <%= @indexer_location.loc_link %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @indexer_location.msg %>
</p>

<p>
  <strong>Sfdc street:</strong>
  <%= @indexer_location.sfdc_street %>
</p>

<p>
  <strong>Sfdc city:</strong>
  <%= @indexer_location.sfdc_city %>
</p>

<p>
  <strong>Sfdc state:</strong>
  <%= @indexer_location.sfdc_state %>
</p>

<p>
  <strong>Sfdc type:</strong>
  <%= @indexer_location.sfdc_type %>
</p>

<p>
  <strong>Sfdc tier:</strong>
  <%= @indexer_location.sfdc_tier %>
</p>

<p>
  <strong>Sfdc sales person:</strong>
  <%= @indexer_location.sfdc_sales_person %>
</p>

<p>
  <strong>Sfdc:</strong>
  <%= @indexer_location.sfdc_id %>
</p>

<p>
  <strong>Indexer timestamp:</strong>
  <%= @indexer_location.indexer_timestamp %>
</p>

<%= link_to 'Edit', edit_indexer_location_path(@indexer_location) %> |
<%= link_to 'Back', indexer_locations_path %>
