<p id="notice"><%= notice %></p>


<!-- #======== Google API Starts ========== -->
<%= render partial: 'google_api', locals: {  } %>
<!-- #======== Google API Ends ========== -->



<h1 class="text-center">Dashboard</h1>
<br>

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Core Accounts</h2>
        <br>

        <div class="col-md-6">
            <h4>BDS Status</h4>
            <p>All: <%= @core_all %></p>
            <p>Imported: <%= @core_bds_status_imported %></p>
            <p>Queue Domainer: <%= @core_bds_status_queue %></p>
            <p>Dom Result: <%= @core_bds_status_dom_result %></p>
            <p>Matched: <%= @core_bds_status_matched %></p>
            <p>No Matches: <%= @core_bds_status_no_matches %></p>
            <br>

            <h4>URL Comparison</h4>
            <p>Same URL: <%= @core_url_comparison_same %></p>
            <p>Updated URL: <%= @core_url_comparison_different %></p>
            <br>
            <h4>Root Comparison</h4>
            <p>Same Root: <%= @core_root_comparison_same %></p>
            <p>Updated Root: <%= @core_root_comparison_different %></p>
            <br>

            <h4>Sales Tier</h4>
            <p>Sales Tier 1: <%= @core_tier_1 %></p>
            <p>Sales Tier 2: <%= @core_tier_2 %></p>
            <p>Sales Tier 3: <%= @core_tier_3 %></p>
            <p>Sales Tier 4: <%= @core_tier_4 %></p>
            <p>Sales Tier 5: <%= @core_tier_5 %></p>
        </div>


        <div class="col-md-6">
            <h4>Type</h4>
            <p>Canceled: <%= @core_type_canceled %></p>
            <p>Current Account: <%= @core_type_current_account %></p>
            <p>Current Sub-account: <%= @core_type_current_sub_account %></p>
            <p>Distribution Partner: <%= @core_type_distribution_partner %></p>
            <p>Do Not Solicit: <%= @core_type_do_not_solicit %></p>
            <p>Failure To Launch: <%= @core_type_failure_to_launch %></p>
            <p>Group Division: <%= @core_type_group_division %></p>
            <p>Group Name: <%= @core_type_group_name %></p>
            <p>Inactive: <%= @core_type_inactive %></p>
            <p>Influencer: <%= @core_type_influencer %></p>
            <p>Max Digital Demo Store: <%= @core_type_max_digital_demo_store %></p>
            <p>Prospect: <%= @core_type_prospect %></p>
            <p>Prospect Sub-account: <%= @core_type_prospect_sub_account %></p>
            <p>Vendor: <%= @core_type_vendor %></p>
            <br>

            <h4>Sales Person</h4>
            <p>Marc Peckler: <%= @core_sp_peckler %></p>
            <p>Ben Rosen: <%= @core_sp_rosen %></p>
            <p>Jason Price: <%= @core_sp_price %></p>
            <p>Sarah Thompson: <%= @core_sp_thompson %></p>
            <p>Justin Huffmeyer: <%= @core_sp_huffmeyer %></p>

        </div>
    </div> <!-- col-md-6 ends -->

    <div class="col-md-6">
        <h2 class="text-center">Domainer</h2>
        <br>
        <h4>Summary</h4>
        <p>Queries Submitted: <%= @gcse_query_count %></p>
        <p>Current Query Results: <%= @gcse_all %></p>
        <br>

        <h4>Status</h4>
        <p>Dom Results: <%= @gcse_domain_status_dom_result %></p>
        <p>No Auto-Matches: <%= @gcse_domain_status_no_auto_matches %></p>
        <br>

        <p>Solitary: <%= @solitary_all %></p>
    </div> <!-- col-md-6 ends -->
</div> <!-- Row ends -->
<br>


<!-- <h2>POWER BUTTONS  - Starts</h2> -->

<!-- Clean Domainer Button -->
<%#= link_to "Clean Gcse", gcse_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Clean Solitary Button -->
<%#= link_to "Clean Solitary", solitary_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Clean Core Button -->
<%#= link_to "Clean Core Comparison", core_comp_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Auto Match Button -->
<%= link_to "Auto Match", auto_match_btn_path, class: 'btn btn-warning' %>

<!-- <h2>POWER BUTTONS - Ends</h2> -->



<!-- STATS FORMULAS FOR FUTURE USE -  Starts -->

<%#= number_with_delimiter(@core_all) %>

<%#= @domainer_query_count %>
<%#= percent_format(@domainer_query_count, @core_all) %>

<%#= @domainer_query_count %>

<%#= @core_dom_result_count %>
<%#= percent_format(@core_dom_result_count, @domainer_query_count) %>

<%#= @core_matched_count %>
<%#= percent_format(@core_matched_count, @domainer_query_count) %>

<%#= @core_no_matches_count %>
<%#= percent_format(@core_no_matches_count, @domainer_query_count) %>

<%#= @roots_updated %>
<%#= percent_format(@roots_updated, @core_matched_count) %>

<%#= @urls_updated %>
<%#= percent_format(@urls_updated, @core_matched_count) %>

<%#= @solitary_all %>
<%#= percent_format(@solitary_all, @domainer_query_count) %>

<%#= @roots_updated %>
<%#= percent_format(@roots_updated, @core_matched_count) %>

<%#= @urls_updated %>
<%#= percent_format(@urls_updated, @core_matched_count) %>

<%#= @solitary_all %>
<%#= percent_format(@solitary_all, @domainer_query_count) %>

<!-- STATS FORMULAS FOR FUTURE USE -  Ends -->
