<div id="search-box" class="row">
    <div class="col-sm-6">
        <div class="panel panel-info"> <!-- Core Search Box -->
            <div class="panel-heading"><b>Search Core Accounts by Status</b></div>
            <div class="panel-body">
                <%= form_tag "/search_result_page_core", method: :post  do %>
                    <div class="form-group">
                        <%= label_tag :bds_status, "BDS Status" %>
                        <%= select_tag :bds_status, options_for_select(Core.select(:bds_status).map(&:bds_status).uniq), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag :sfdc_type, "SFDC Type" %>
                        <%= select_tag :sfdc_type, options_for_select(Core.select(:sfdc_type).map(&:sfdc_type).uniq), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                    <%= submit_tag "Search", class: 'btn btn-primary pull-right' %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-info"> <!-- GCSE Search Box -->
            <div class="panel-heading"><b>Search Domain Finder by Status</b></div>
            <div class="panel-body">
                <%= form_tag "/search_result_page_gcse", method: :post  do %>
                <div class="form-group">
                    <%= label_tag :domain_status, "Domain Status" %>
                    <%= select_tag :domain_status, options_for_select(Gcse.select(:domain_status).map(&:domain_status).uniq), multiple: true, class: 'selectpicker form-control' %>
                </div>
                <%= submit_tag "Search", class: 'btn btn-primary pull-right' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
