<p id="notice"><%= notice %></p>

<h1 class="text-center">Dashboard</h1>

<!-- My Panel Starts-->
<div class="panel panel-default"> <!-- Panel Begins -->
    <div class="panel-heading"> <!-- panel heading begins -->
        <h3 class="panel-title">Statistical Summary</h3>
    </div> <!-- panel heading ends -->

    <div class="panel-body"> <!-- panel body begins -->

        <!-- My Toggable Tabs Section Starts-->
        <div> <!-- Toggable Tabs Section Begins -->
            <ul class="nav nav-tabs" role="tablist"> <!-- Nav Tabs Start-->
                <li role="presentation"><a href="#core" aria-controls="core" role="tab" data-toggle="tab">Core</a></li>

                <li role="presentation" class="active"><a href="#domainer" aria-controls="domainer" role="tab" data-toggle="tab">Domainer</a></li>

                <li role="presentation"><a href="#indexer" aria-controls="indexer" role="tab" data-toggle="tab">Indexer</a></li>

                <li role="presentation"><a href="#staffer" aria-controls="staffer" role="tab" data-toggle="tab">Staffer</a></li>
            </ul>  <!-- Nav Tabs End-->

            <div class="tab-content">  <!-- Tab Panes Start-->
                <div role="tabpanel" class="tab-pane" id="core"> <!-- Core Tab Body Begins -->

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center warning">Core Accounts Statistics</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center">Core Accounts</th>
                                <th class="text-center">Domainer Queries</th>
                                <th class="text-center">Indexer Queries</th>
                                <th class="text-center">Staffer Queries</th>
                            </tr>
                            <tr>
                                <td><%= number_with_delimiter(@core_all) %></td>
                                <td>
                                    <%= @domainer_query_count %> |
                                    <%= percent_format(@domainer_query_count, @core_all) %>
                                </td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- Core Tab Body Ends -->

                <div role="tabpanel" class="tab-pane active" id="domainer"> <!-- Domainer Tab Body Begins -->
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="6" class="text-center warning">Domainer Results Statistics</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center">Domainer Queries</th>
                                <th class="text-center">Unfiltered Results</th>
                                <th class="text-center">Matches Found</th>
                                <th class="text-center">No Matches Found</th>
                            </tr>

                            <tr>
                                <td><%= @domainer_query_count %></td>
                                <td>
                                    <%= @core_dom_result_count %> |
                                    <%= percent_format(@core_dom_result_count, @domainer_query_count) %>
                                </td>
                                <td>
                                    <%= @core_matched_count %> |
                                    <%= percent_format(@core_matched_count, @domainer_query_count) %>
                                </td>

                                <td>
                                    <%= @core_no_matches_count %> |
                                    <%= percent_format(@core_no_matches_count, @domainer_query_count) %>
                                </td>

                                <tr>
                                    <th class="text-center">Updated Roots</th>
                                    <th class="text-center">Updated URLs</th>
                                    <th class="text-center" colspan="2">Newly Discovered Dealerships</th>
                                </tr>


                                <td><%= @roots_updated %> |
                                <%= percent_format(@roots_updated, @core_matched_count) %>
                                </td>
                                <td><%= @urls_updated %> |
                                <%= percent_format(@urls_updated, @core_matched_count) %>
                                </td>
                                <td colspan="2"><%= @solitary_all %> |
                                <%= percent_format(@solitary_all, @domainer_query_count) %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- Domainer Tab Body Ends -->

                <div role="tabpanel" class="tab-pane" id="indexer"> <!-- Indexer Tab Body Begins -->
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center warning">Indexer Results Statistics</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center">N/A</th>
                                <th class="text-center">N/A</th>
                                <th class="text-center">N/A</th>
                                <th class="text-center">N/A</th>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- Indexer Tab Body Ends -->

                <div role="tabpanel" class="tab-pane" id="staffer"> <!-- Staffer Tab Body Begins -->
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center warning">Staffer Results Statistics</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th class="text-center">N/A</th>
                                <th class="text-center">N/A</th>
                                <th class="text-center">N/A</th>
                                <th class="text-center">N/A</th>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- Staffer Tab Body Ends -->

            </div> <!-- Tab Panes End-->
        </div> <!-- My Toggable Tabs Section Ends -->
    </div> <!-- My Panel Body Ends -->
</div> <!-- My Panel Ends -->

<!-- <h2>Clean Data</h2> -->
<%#= link_to "Clean Gcse", gcse_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>
<%#= link_to "Clean Solitary", solitary_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>
<%#= link_to "Clean Core Comparison", core_comp_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>
