<table class="table table-bordered no-wrap">

    <tr>
        <%= acct_merge_sts_indicator(core) %>

        <td class="geo w-xsm"><%= core.match_score %></td>

        <!-- source -->
        <td class="geo w-xsm">CRM</td>

        <td><%= link_to core.sfdc_clean_url, :target => "_blank", class: 'tooltips', title: "Raw URL: #{core.sfdc_url}\nClean URL: #{core.sfdc_clean_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
            <%= core.sfdc_clean_url %>
            <% end %>
        </td>

        <!-- SFDC Acct Name -->
        <td ><%= core.sfdc_acct %></td>


        <!-- CRM Addr Pin -->
        <td class="geo w-md"><%= core.crm_acct_pin %></td>


        <!-- SFDC core.full_address -->
        <% if core.full_address %>
            <td><%= link_to core.full_address, core, target: "_blank" %></td>
        <% else %>
            <td>No Address</td>
        <% end %>

        <!-- Map Module -->
        <% if core.sfdc_acct %>
            <td class="geo w-xsm fa-blue">
                <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMINjz6qATKxuxTc6tWNzyVehLybEYouY&zoom=17&q=<%= "#{core.sfdc_acct}" %>"><%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "Map LightBox  #{core.coordinates}" %></span>
            </td>
        <% else %>
            <td class="geo w-xsm fa-gray">
                <%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "No Account" %>
            </td>
        <% end %>


        <!-- phone -->
        <% unless core.sfdc_ph == nil %>
            <td class="geo w-xsm fa-blue">
                <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "#{core.sfdc_ph}" %>
            </td>
        <% else %>
            <td class="geo w-xsm fa-gray">
                <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "No Phone" %>
            </td>
        <% end %>

        <!-- franchise brand type & Franchise Category Icon-->
        <% if core.sfdc_franch_cons && core.sfdc_franch_cat != nil %>
            <td class="geo w-xsm fa-blue"><%= fa_icon "car lg", "data-toggle": "tooltip", "data-placement": "top", title: "SDF #{core.sfdc_franch_cat}: #{core.sfdc_franch_cons}" %></td>
        <% else %>
            <td class="geo w-xsm fa-gray"><%= fa_icon "car lg", "data-toggle": "tooltip", "data-placement": "top", title: "No Franchise Data" %></td>
        <% end %>

    </tr>


    <!-- Updated/Confirmed Account Details (name, address, url, franchise, etc.) -->
    <tr>
        <%= acct_merge_sts_indicator(core) %>

        <% if advanced_and_up %>
            <td class="geo w-xsm" data-id="<%= core.id %>" onClick="changeStatusCore(this);">
                <%= fa_icon "check lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Select" %>
            </td>
        <% else %>
            <td></td>
        <% end %>

        <td class="geo w-md"><%= link_to "Scraped", indexer_show_detail_path(core: core), target: '_blank' %></td>


        <td>
            <% if core.alt_url %>
                <%= link_to core.alt_url, :target => "_blank", class: 'tooltips', title: "Scraped Clean URL: #{core.alt_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                <%= core.alt_url %>
                <% end %>
            <% end %>
        </td>



        <!-- SFDC Acct Name -->
        <td><%= core.alt_acct %></td>

        <!-- Alt Addr Pin -->
        <td class="geo w-md"><%= core.alt_acct_pin %></td>


        <!-- SFDC core.alt_address -->
        <% if core.alt_address %>
            <td><%= link_to core.alt_address, core, target: "_blank" %></td>
        <% else %>
            <td>No Address</td>
        <% end %>


        <!-- Map Module -->
        <% if core.alt_address %>
            <td class="geo w-xsm fa-blue">
                <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMINjz6qATKxuxTc6tWNzyVehLybEYouY&zoom=17&q=<%= "#{core.alt_address}" %>"><%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "Map LightBox  #{core.alt_address}" %></span>
            </td>
        <% else %>
            <td class="geo w-xsm fa-gray">
                <%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "No Account" %>
            </td>
        <% end %>


        <!-- phone -->
        <% unless core.sfdc_ph == nil %>
            <td class="geo w-xsm fa-blue">
                <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "#{core.sfdc_ph}" %>
            </td>
        <% else %>
            <td class="geo w-xsm fa-gray">
                <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "No Phone" %>
            </td>
        <% end %>

        <!-- franchise brand type & Franchise Category Icon-->
        <% if core.sfdc_franch_cons && core.sfdc_franch_cat != nil %>
            <td class="geo w-xsm fa-blue"><%= fa_icon "car lg", "data-toggle": "tooltip", "data-placement": "top", title: "SDF #{core.sfdc_franch_cat}: #{core.sfdc_franch_cons}" %></td>
        <% else %>
            <td class="geo w-xsm fa-gray"><%= fa_icon "car lg", "data-toggle": "tooltip", "data-placement": "top", title: "No Franchise Data" %></td>
        <% end %>

    </tr>

</table>
