<br>
<h3 class="section-header">Detailed View Starts Here</h3>
<%= render partial: 'buttons' %>
<br>

<% num = 0 %>
<% @cores.each do |core| %>
    <% num +=1 %>

<div class="text-nowrap cores-layout account-profile-container">
    <div class="row profile-row">

        <div class="profile-col col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t5"><%= check_box_tag "status_checks[]",  core.id %></th>
                    <th class="th-1 t4"><%= num %></th>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Profile</th>

                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= core.sfdc_sales_person %></td>
                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= core.sfdc_type %></td>

                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= core.sfdc_id %></td>

                    <td class='details-btn' >
                        <%= link_to core, method: :details do %>
                            <span class="glyphicon glyphicon-folder-open"></span>
                        <% end %>
                    </td>

                    <td class='edit-btn' >
                        <%= link_to core, method: :edit do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                    </td>

                    <td class='delete-btn' >
                        <%= link_to core, method: :delete do %>
                            <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="row profile-row">
        <div class="profile-col col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Account Name</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Group Name</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Ultimate Group Name</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-md">Sales Tier</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xsm">GRT</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xsm">URT</th>

                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <%= render partial: 'layouts/indicator', locals: { col: core.acct_indicator } %>
                    <td><%= core.sfdc_acct %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.grp_name_indicator } %>
                    <td><%= core.sfdc_group %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.ult_grp_name_indicator } %>
                    <td><%= core.sfdc_ult_grp %></td>
                    <td></td> <!-- sales_tier_indicator -->
                    <td><%= core.sfdc_tier %></td> <!-- sales_tier indicator will go here. -->
                    <%= render partial: 'layouts/indicator', locals: { col: core.grp_rt_indicator } %>
                    <td><%= core.sfdc_grp_rt %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.ult_grp_rt_indicator } %>
                    <td><%= core.sfdc_ult_rt %></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <%= render partial: 'layouts/indicator', locals: { col: core.acct_indicator } %>
                    <td><%= core.site_acct %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.grp_name_indicator } %>
                    <td><%= core.site_group%></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.ult_grp_name_indicator } %>
                    <td><%= core.site_ult_grp%></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.tier_indicator } %>
                    <td><%= core.site_tier%></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.grp_rt_indicator } %>
                    <td><%= core.site_grp_rt%></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.ult_grp_rt_indicator } %>
                    <td><%= core.site_ult_rt%></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Street</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-lg">City</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xxsm">State</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xsm">Zip</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-md">Phone</th>

                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <%= render partial: 'layouts/indicator', locals: { col: core.street_indicator } %>
                    <td><%= core.sfdc_street %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.city_indicator } %>
                    <td><%= core.sfdc_city %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.state_indicator } %>
                    <td><%= core.sfdc_state %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.zip_indicator } %>
                    <td><%= core.sfdc_zip %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.ph_indicator } %>
                    <td><%= core.sfdc_ph %></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <%= render partial: 'layouts/indicator', locals: { col: core.street_indicator } %>
                    <td><%= core.site_street %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.city_indicator } %>
                    <td><%= core.site_city %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.state_indicator } %>
                    <td><%= core.site_state %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.zip_indicator } %>
                    <td><%= core.site_zip %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.ph_indicator } %>
                    <td><%= core.site_ph %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Website</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Root</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Franchise</th>

                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <%= render partial: 'layouts/indicator', locals: { col: core.url_comparison } %>
                    <td><%= link_to core.sfdc_url,"http://#{core.sfdc_url}", :target => "_blank" %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.root_comparison } %>
                    <td><%= core.sfdc_root %></td>
                    <td>ind</td>
                    <td><%= core.sfdc_franchise %></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <%= render partial: 'layouts/indicator', locals: { col: core.url_comparison } %>
                    <td><%= link_to core.matched_url, core.matched_url, :target => "_blank" %></td>
                    <%= render partial: 'layouts/indicator', locals: { col: core.root_comparison } %>
                    <td><%= core.matched_root %></td>
                    <td>ind</td>
                    <td><%= core.site_franchise %></td>
                    <td><%= core.template %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Modules</th>
                    <th class="th-2">Core</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Inventory Index</th>
                    <th class="th-2">Staffer</th>
                    <th class="th-2">WhoIs</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">Status</th>
                    <td><%= core.bds_status %></td>
                    <td><%= core.domain_status %></td>
                    <td><%= core.staff_indexer_status %></td>
                    <td><%= core.location_indexer_status %></td>
                    <td><%= core.inventory_indexer_status %></td>
                    <td><%= core.staffer_status %></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Date</th>
                    <%= render partial: 'layouts/date_format', locals: { col: core.core_date } %>
                    <%= render partial: 'layouts/date_format', locals: { col: core.domainer_date } %>
                    <%= render partial: 'layouts/date_format', locals: { col: core.indexer_date } %>
                    <%= render partial: 'layouts/date_format', locals: { col: core.indexer_date } %>
                    <%= render partial: 'layouts/date_format', locals: { col: core.indexer_date } %>
                    <%= render partial: 'layouts/date_format', locals: { col: core.staffer_date } %>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2 th-2c">Link</th>
                    <td></td>
                    <td></td>
                    <%= render partial: 'layouts/link', locals: { text: core.staff_text, link: core.staff_link } %>
                    <%= render partial: 'layouts/link', locals: { text: core.location_text, link: core.location_link } %>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- Account Profile Ends -->

<% end %>
<br>

<%= render partial: 'buttons' %>

<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>
