<br>
<h3 class="section-header">Detailed View Starts Here</h3>
<%= render partial: 'buttons' %>
<br>

<% num = 0 %>
<% @cores.each do |core| %>
    <% num +=1 %>

<div class="text-nowrap cores-layout account-profile-container">
    <div class="row profile-row">

        <div class="profile-col col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t5"><%= check_box_tag "status_checks[]",  core.id %></th>
                    <th class="th-1 t4"><%= num %></th>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Profile</th>

                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= core.sfdc_sales_person %></td>
                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= core.sfdc_type %></td>

                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= core.sfdc_id %></td>

                    <td class='details-btn' >
                        <%= link_to core, method: :details do %>
                            <span class="glyphicon glyphicon-folder-open"></span>
                        <% end %>
                    </td>

                    <td class='edit-btn' >
                        <%= link_to core, method: :edit do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                    </td>

                    <td class='delete-btn' >
                        <%= link_to core, method: :delete do %>
                            <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                    </td>

                </tr>
            </table>
        </div>
    </div>

    <div class="row profile-row">
        <div class="profile-col col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Account Name</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Group Name</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Ultimate Group Name</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-md">Sales Tier</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xsm">GRT</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xsm">URT</th>

                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>

                    <% if core.acct_indicator == "Same" || core.acct_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.acct_indicator %></span></td>
                    <% elsif core.acct_indicator == "Different" || core.acct_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.acct_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.acct_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_acct %></td>

                    <% if core.grp_name_indicator == "Same" || core.grp_name_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.grp_name_indicator %></span></td>
                    <% elsif core.grp_name_indicator == "Different" || core.grp_name_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.grp_name_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.grp_name_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_group %></td>

                    <% if core.ult_grp_name_indicator == "Same" || core.ult_grp_name_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_name_indicator %></span></td>
                    <% elsif core.ult_grp_name_indicator == "Different" || core.ult_grp_name_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_name_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_name_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_ult_grp %></td>

                    <!-- sales_tier_indicator -->
                    <td></td>
                    <!-- sales_tier indicator will go here. -->
                    <td><%= core.sfdc_tier %></td>

                    <% if core.grp_rt_indicator == "Same" || core.grp_rt_indicator == "same"%>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.grp_rt_indicator %></span></td>
                    <% elsif core.grp_rt_indicator == "Different" || core.grp_rt_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.grp_rt_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.grp_rt_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_grp_rt %></td>

                    <% if core.ult_grp_rt_indicator == "Same" || core.ult_grp_rt_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_rt_indicator %></span></td>
                    <% elsif core.ult_grp_rt_indicator == "Different" || core.ult_grp_rt_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_rt_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_rt_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_ult_rt %></td>

                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>

                    <% if core.acct_indicator == "Same" || core.acct_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.acct_indicator %></span></td>
                    <% elsif core.acct_indicator == "Different" || core.acct_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.acct_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.acct_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_acct %></td>

                    <% if core.grp_name_indicator == "Same" || core.grp_name_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.grp_name_indicator %></span></td>
                    <% elsif core.grp_name_indicator == "Different" || core.grp_name_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.grp_name_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.grp_name_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_group%></td>

                    <% if core.ult_grp_name_indicator == "Same" || core.ult_grp_name_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_name_indicator %></span></td>
                    <% elsif core.ult_grp_name_indicator == "Different" || core.ult_grp_name_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_name_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_name_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_ult_grp%></td>

                    <% if core.tier_indicator == "Same" || core.tier_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.tier_indicator %></span></td>
                    <% elsif core.tier_indicator == "Different" || core.tier_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.tier_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.tier_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_tier%></td>

                    <% if core.grp_rt_indicator == "Same" || core.grp_rt_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.grp_rt_indicator %></span></td>
                    <% elsif core.grp_rt_indicator == "Different" || core.grp_rt_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.grp_rt_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.grp_rt_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_grp_rt%></td>

                    <% if core.ult_grp_rt_indicator == "Same" || core.ult_grp_rt_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_rt_indicator %></span></td>
                    <% elsif core.ult_grp_rt_indicator == "Different" || core.ult_grp_rt_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_rt_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.ult_grp_rt_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_ult_rt%></td>

                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Street</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-lg">City</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xxsm">State</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-xsm">Zip</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-md">Phone</th>

                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>

                    <% if core.street_indicator == "Same" || core.street_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.street_indicator %></span></td>
                    <% elsif core.street_indicator == "Different" || core.street_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.street_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.street_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_street %></td>

                    <% if core.city_indicator == "Same" || core.city_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.city_indicator %></span></td>
                    <% elsif core.city_indicator == "Different" || core.city_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.city_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.city_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_city %></td>

                    <% if core.state_indicator == "Same" || core.state_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.state_indicator %></span></td>
                    <% elsif core.state_indicator == "Different" || core.state_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.state_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.state_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_state %></td>

                    <% if core.zip_indicator == "Same" || core.zip_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.zip_indicator %></span></td>
                    <% elsif core.zip_indicator == "Different" || core.zip_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.zip_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.zip_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_zip %></td>

                    <% if core.ph_indicator == "Same" || core.ph_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.ph_indicator %></span></td>
                    <% elsif core.ph_indicator == "Different" || core.ph_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.ph_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.ph_indicator %></span></td>
                    <% end %>
                    <td><%= core.sfdc_ph %></td>

                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>

                    <% if core.street_indicator == "Same" || core.street_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.street_indicator %></span></td>
                    <% elsif core.street_indicator == "Different" || core.street_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.street_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.street_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_street %></td>

                    <% if core.city_indicator == "Same" || core.city_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.city_indicator %></span></td>
                    <% elsif core.city_indicator == "Different" || core.city_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.city_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.city_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_city %></td>

                    <% if core.state_indicator == "Same" || core.state_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.state_indicator %></span></td>
                    <% elsif core.state_indicator == "Different" || core.state_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.state_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.state_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_state %></td>

                    <% if core.zip_indicator == "Same" || core.zip_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.zip_indicator %></span></td>
                    <% elsif core.zip_indicator == "Different" || core.zip_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.zip_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.zip_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_zip %></td>

                    <% if core.ph_indicator == "Same" || core.ph_indicator == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.ph_indicator %></span></td>
                    <% elsif core.ph_indicator == "Different" || core.ph_indicator == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.ph_indicator %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.ph_indicator %></span></td>
                    <% end %>
                    <td><%= core.site_ph %></td>


                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Website</th>

                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Root</th>

                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>

                    <% if core.url_comparison == "Same" || core.url_comparison == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.url_comparison %></span></td>
                    <% elsif core.url_comparison == "Different" || core.url_comparison == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.url_comparison %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.url_comparison %></span></td>
                    <% end %>

                    <td><%= link_to core.sfdc_url,"http://#{core.sfdc_url}", :target => "_blank" %></td>

                    <% if core.root_comparison == "Same" || core.root_comparison == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.root_comparison %></span></td>
                    <% elsif core.root_comparison == "Different" || core.root_comparison == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.root_comparison %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.root_comparison %></span></td>
                    <% end %>

                    <td><%= core.sfdc_root %></td>

                    <td></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>

                    <% if core.url_comparison == "Same" || core.url_comparison == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.url_comparison %></span></td>
                    <% elsif core.url_comparison == "Different" || core.url_comparison == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.url_comparison %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.url_comparison %></span></td>
                    <% end %>
                    <td><%= link_to core.matched_url, core.matched_url, :target => "_blank" %></td>

                    <% if core.root_comparison == "Same" || core.root_comparison == "same" %>
                        <td class="indicator"><i class="fa fa-check-square indicator-same" aria-hidden="true"></i><span class="hidden"><%= core.root_comparison %></span></td>
                    <% elsif core.root_comparison == "Different" || core.root_comparison == "different" %>
                        <td class="indicator"><i class="fa fa-bell indicator-different" aria-hidden="true"></i><span class="hidden"><%= core.root_comparison %></span></td>
                    <% else %>
                        <td class="indicator"><i class="fa fa-bell indicator-neutral" aria-hidden="true"></i><span class="hidden"><%= core.root_comparison %></span></td>
                    <% end %>
                    <td><%= core.matched_root %></td>

                    <td><%= core.template %></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->


    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Modules</th>
                    <th class="th-2">Core</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Inventory Index</th>
                    <th class="th-2">Staffer</th>
                    <th class="th-2">WhoIs</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">Status</th>
                    <td><%= core.bds_status %></td>
                    <td><%= core.domain_status %></td>
                    <td><%= core.staff_indexer_status %></td>
                    <td><%= core.location_indexer_status %></td>
                    <td><%= core.inventory_indexer_status %></td>
                    <td><%= core.staffer_status %></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Date</th>

                    <% if core.core_date %>
                        <td><%= core.core_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.core_date %></td>
                    <% end %>

                    <% if core.domainer_date %>
                        <td><%= core.domainer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.domainer_date %></td>
                    <% end %>

                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>

                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>

                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>

                    <% if core.staffer_date %>
                        <td><%= core.staffer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.staffer_date %></td>
                    <% end %>

                        <td></td>
                </tr>
                <tr>
                    <th class="th-2 th-2c">Link</th>
                    <td></td>
                    <td></td>

                    <% if core.staff_text && core.staff_text != "(none)"%>
                        <td class="yes"><%= link_to core.staff_text, core.staff_link, :target => "_blank" %></td>
                    <% else %>
                        <td><%= core.staff_text %></td>
                    <% end %>

                    <% if core.location_text && core.location_text != "(none)"%>
                        <td class="yes"><%= link_to core.location_text, core.location_link, :target => "_blank" %></td>
                    <% else %>
                        <td><%= core.location_text %></td>
                    <% end %>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- Account Profile Ends -->

<% end %>

<br>

<%= render partial: 'buttons' %>

<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>
