<div class="text-nowrap theme-layout profile-container">

    <div class="row profile-row">
        <div class="profile-col col-md-12">
            <table class="theme-layout-table  table table-bordered table-hover">
                <tr>
                    <th class="th-1 t5"><%= check_box_tag "status_checks[]",  core.id %></th>
                    <th class="th-1 t4"><%= num %></th>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Profile</th>
                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= core.sfdc_sales_person %></td>
                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= core.sfdc_type %></td>
                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= core.sfdc_id %></td>
                    <td class='details-btn' >
                        <%= link_to core, method: :details do %>
                            <span class="glyphicon glyphicon-folder-open"></span>
                        <% end %>
                    </td>
                    <td class='edit-btn' >
                        <%= link_to core, method: :edit do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                    </td>
                    <td class='delete-btn' >
                        <%= link_to core, method: :delete do %>
                            <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row profile-row">
        <div class="profile-col col-md-12">
            <table class="theme-layout-table  table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>
                    <th class="th-2 w-md">Source</th>
                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2">Sales Tier</th>
                    <th class="th-2">GRT</th>
                    <th class="th-2">URT</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= core.acct_source %></td>
                    <td><%= core.sfdc_acct %></td>
                    <td><%= core.sfdc_group %></td>
                    <td><%= core.sfdc_ult_grp %></td>
                    <td><%= core.sfdc_grp_rt %></td>
                    <td><%= core.sfdc_ult_rt %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table  table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>
                    <th class="th-2 w-md">Hierarchy</th>
                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-lg">Coordinates</th>
                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2 w-lg">Full Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2">City</th>
                    <th class="th-2 w-xsm">State</th>
                    <th class="th-2 w-xsm">Zip</th>
                    <th class="th-2 w-md">Phone</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= core.hierarchy %></td>
                    <td>!!</td>
                    <td><%= core.sfdc_coordinates %></td>
                    <td>!!</td>
                    <td><%= core.sfdc_geo_addy %></td>
                    <td><%= core.sfdc_street %></td>
                    <td><%= core.sfdc_city %></td>
                    <td><%= core.sfdc_state %></td>
                    <td><%= core.sfdc_zip %></td>
                    <td><%= core.sfdc_ph %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table  table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>
                    <th class="th-2 w-md">URL Status</th>
                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Website</th>
                    <th class="th-2 indicator"><i class="fa fa-bell-o indicator-th" aria-hidden="true"></i></th>
                    <th class="th-2">Root</th>
                    <th class="th-2">Term:</th>
                    <th class="th-2">Franchise:</th>
                    <th class="th-2">Store Type:</th>
                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= core.url_status %></td>
                    <td><%= link_to core.sfdc_url,"http://#{core.sfdc_url}", :target => "_blank" %></td>
                    <td><%= core.sfdc_root %></td>
                    <!-- <td>ind</td> -->
                    <td><%= core.sfdc_franchise %></td>
                    <td><%= core.sfdc_franch_cons %></td>
                    <td><%= core.sfdc_franch_cat %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table  table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Modules</th>
                    <th class="th-2 w-md">Account</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Staffer</th>
                    <th class="th-2">GeoCoder</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">Status</th>
                    <td><%= core.bds_status %></td>
                    <td><%= core.domain_status %></td>
                    <!-- ## Staff Indexer Consolidation ## -->
                    <% if core.staff_indexer_status == "Matched" %>
                        <%= render partial: 'layouts/link', locals: { text: core.staff_text, link: core.staff_link } %>
                    <% else %>
                        <td><%= core.staff_indexer_status %></td>
                    <% end %>
                    <!-- ## Location Indexer Consolidation ## -->
                    <% if core.location_indexer_status == "Matched" %>
                        <%= render partial: 'layouts/link', locals: { text: core.location_text, link: core.location_link } %>
                    <% else %>
                        <td><%= core.location_indexer_status %></td>
                    <% end %>
                    <!-- ## Staffer Consolidation ## -->
                    <% if core.staffer_status == "Scraped" || core.staffer_status == "Imported" %>
                        <td><%= link_to "View Contacts", staffer_acct_contacts_path(core: core), class: 'btn btn-sm btn-info' %></td>
                    <% else %>
                        <td><%= core.staffer_status %></td>
                    <% end %>

                    <!-- ## NOT DONE !! GeoCoder Consolidation ## -->
                    <td><%= core.sfdc_geo_status %></td>

                </tr>
                <tr>
                    <th class="th-2 th-2b">Date</th>
                    <!-- Core Updated -->
                    <% if core.updated_at %>
                        <td><%= core.updated_at.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.updated_at %></td>
                    <% end %>
                    <!-- Domainer Date -->
                    <% if core.domainer_date %>
                        <td><%= core.domainer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.domainer_date %></td>
                    <% end %>
                    <!-- Staff Indexer Date -->
                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>
                    <!-- location indexer date -->
                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>
                    <!-- staffer date -->
                    <% if core.staffer_date %>
                        <td><%= core.staffer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.staffer_date %></td>
                    <% end %>
                    <!-- geocoder date -->
                    <% if core.sfdc_geo_date %>
                        <td><%= core.sfdc_geo_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.sfdc_geo_date %></td>
                    <% end %>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- Account Profile Ends -->
