<h1>1. _new_filter</h1>

<div class="cores-layout account-filter-container">

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Filter</th>
                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_sales_person } %></td>
                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_type } %></td>

                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2 w-md">Sales Tier</th>
                    <th class="th-2 w-xsm">Group RT</th>
                    <th class="th-2 w-xsm">Ult RT</th>
                </tr>
                <tr>
                    <th class="th-2">SFDC</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_acct } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_group } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_grp } %></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_tier } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_grp_rt } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_rt } %></td>

                </tr>
                <tr>
                    <th class="th-2">Matched</th>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2">Indicator</th>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2 w-lg">City</th>
                    <th class="th-2 w-xxsm">State</th>
                    <th class="th-2 w-xsm">Zip</th>
                    <th class="th-2 w-md">Phone</th>
                </tr>
                <tr>
                    <th class="th-2">SFDC</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_street } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_city } %></td>

                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_state } %></td>

                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_zip } %></td>

                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ph } %></td>
                </tr>
                <tr>
                    <th class="th-2">Matched</th>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2">Indicator</th>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>
                    <th class="th-2">Website</th>
                    <th class="th-2">Root</th>
                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="th-2">SFDC</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_url } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_root } %></td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2">Matched</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :matched_url } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :matched_root } %></td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2">Indicator</th>
                    <td class="yellow"><%= render partial: 'layouts/text_field_tag', locals: { col: :url_comparison } %></td>
                    <td class="yellow"><%= render partial: 'layouts/text_field_tag', locals: { col: :root_comparison } %></td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Modules</th>
                    <th class="th-2">Core</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Inventory Index</th>
                    <th class="th-2">Staffer</th>
                    <th class="th-2">WhoIs</th>
                </tr>
                <tr>
                    <th class="th-2">Status</th>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :bds_status } %></td>
                    <td></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :staff_indexer_status } %></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :location_indexer_status } %></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :inventory_indexer_status } %></td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2">Date</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :domainer_date } %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :staffer_date } %></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2">Link</th>
                    <td></td>
                    <td></td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- account-filter-container Ends -->

<br> <br>
