<%= form_for(core) do |f| %>
<% if core.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(core.errors.count, "error") %> prohibited this core from being saved:</h2>

    <ul>
        <% core.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :bds_status %>
    <%= f.text_field :bds_status %>
</div>

<div class="field">
    <%= f.label :sfdc_id %>
    <%= f.text_field :sfdc_id %>
</div>

<div class="field">
    <%= f.label :sfdc_tier %>
    <%= f.number_field :sfdc_tier %>
</div>

<div class="field">
    <%= f.label :sfdc_sales_person %>
    <%= f.text_field :sfdc_sales_person %>
</div>

<div class="field">
    <%= f.label :sfdc_type %>
    <%= f.text_field :sfdc_type %>
</div>

<div class="field">
    <%= f.label :sfdc_ult_grp %>
    <%= f.text_field :sfdc_ult_grp %>
</div>

<div class="field">
    <%= f.label :sfdc_ult_rt %>
    <%= f.number_field :sfdc_ult_rt %>
</div>

<div class="field">
    <%= f.label :sfdc_group %>
    <%= f.text_field :sfdc_group %>
</div>

<div class="field">
    <%= f.label :sfdc_grp_rt %>
    <%= f.number_field :sfdc_grp_rt %>
</div>

<div class="field">
    <%= f.label :sfdc_acct %>
    <%= f.text_field :sfdc_acct %>
</div>

<div class="field">
    <%= f.label :sfdc_street %>
    <%= f.text_field :sfdc_street %>
</div>

<div class="field">
    <%= f.label :sfdc_city %>
    <%= f.text_field :sfdc_city %>
</div>

<div class="field">
    <%= f.label :sfdc_state %>
    <%= f.text_field :sfdc_state %>
</div>

<div class="field">
    <%= f.label :sfdc_zip %>
    <%= f.number_field :sfdc_zip %>
</div>

<div class="field">
    <%= f.label :sfdc_ph %>
    <%= f.text_field :sfdc_ph %>
</div>

<div class="field">
    <%= f.label :sfdc_url %>
    <%= f.text_field :sfdc_url %>
</div>

<div class="actions">
    <%= f.submit class: 'btn btn-success' %>
</div>
<% end %>
