<div class="cores-layout account-profile-container">

    <div class="row profile-row">

        <div class="profile-col col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t5"><%= check_box_tag "status_checks[]",  core.id %></th>
                    <th class="th-1 t4"><%= num %></th>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Profile</th>

                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= core.sfdc_sales_person %></td>
                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= core.sfdc_type %></td>

                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= core.sfdc_id %></td>

                    <td class='details-btn' >
                        <%= link_to core, method: :details do %>
                            <span class="glyphicon glyphicon-folder-open"></span>
                        <% end %>
                    </td>
                    <td class='edit-btn' >
                        <%= link_to core, method: :edit do %>
                            <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                    </td>
                    <td class='delete-btn' >
                        <%= link_to core, method: :delete do %>
                            <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row profile-row">
        <div class="profile-col col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2 w-md">Sales Tier</th>
                    <th class="th-2 w-xsm">Group RT</th>
                    <th class="th-2 w-xsm">Ult RT</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= core.sfdc_acct %></td>
                    <td><%= core.sfdc_group %></td>
                    <td><%= core.sfdc_ult_grp %></td>
                    <td><%= core.sfdc_tier %></td>
                    <td><%= core.sfdc_grp_rt %></td>
                    <td><%= core.sfdc_ult_rt %></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>

                </tr>
                <tr>
                    <th class="th-2 th-2c">Indicator</th>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2 w-lg">City</th>
                    <th class="th-2 w-xxsm">State</th>
                    <th class="th-2 w-xsm">Zip</th>
                    <th class="th-2 w-md">Phone</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= core.sfdc_street %></td>
                    <td><%= core.sfdc_city %></td>
                    <td><%= core.sfdc_state %></td>
                    <td><%= core.sfdc_zip %></td>
                    <td><%= core.sfdc_ph %></td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2 th-2c">Indicator</th>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>
                    <th class="th-2">Website</th>
                    <th class="th-2">Root</th>
                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= link_to core.sfdc_url,"http://#{core.sfdc_url}", :target => "_blank" %></td>
                    <td><%= core.sfdc_root %></td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <td><%= link_to core.matched_url, core.matched_url, :target => "_blank" %></td>
                    <td><%= core.matched_root %></td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2 th-2c">Indicator</th>
                    <td class="yellow"><%= core.url_comparison %></td>
                    <td class="yellow"><%= core.root_comparison %></td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->


    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-profile-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Modules</th>
                    <th class="th-2">Core</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Inventory Index</th>
                    <th class="th-2">Staffer</th>
                    <th class="th-2">WhoIs</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">Status</th>
                    <td><%= core.bds_status %></td>
                    <td><%= get_gcse_domain_status(core) %></td>
                    <td><%= get_if_indexer_staff(core) %></td>
                    <td><%#= get_indexer_location_indexer_status(core) %></td>
                    <!-- <td><%#= IndexerLocation.find_by(sfdc_id: core.sfdc_id).indexer_status %></td> -->
                    <td><%= core.inventory_indexer_status %></td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="th-2 th-2b">Date</th>

                    <% if core.core_date %>
                        <td><%= core.core_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.core_date %></td>
                    <% end %>

                    <% if core.domainer_date %>
                        <td><%= core.domainer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.domainer_date %></td>
                    <% end %>

                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>

                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>

                    <% if core.indexer_date %>
                        <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.indexer_date %></td>
                    <% end %>

                    <% if core.staffer_date %>
                        <td><%= core.staffer_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.staffer_date %></td>
                    <% end %>

                    <% if core.whois_date %>
                        <td><%= core.whois_date.strftime("%m/%d/%Y") %></td>
                    <% else %>
                        <td><%= core.whois_date %></td>
                    <% end %>
                </tr>
                <tr>
                    <th class="th-2 th-2c">Link</th>
                    <td></td>
                    <td></td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->


</div> <!-- Account Profile Ends -->
