<h1>New Filter</h1>

<div class="account-filter-container">

    <div class="row filter-row" style="font-size:12px;">
        <div class="filter-col col-md-12">
            <table class="account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Filter</th>
                    <th class="th-2">Sales Person:</th>
                    <td>dropdown</td>
                    <th class="th-2">Type:</th>
                    <td>dropdown</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row filter-row" style="font-size:12px;">
        <div class="filter-col col-md-12">
            <table class="account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2">Sales Tier</th>
                    <th class="th-2">Group RT</th>
                    <th class="th-2">Ult RT</th>
                </tr>
                <tr>
                    <th class="t3">SFDC</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="t3">Matched</th>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>

                </tr>
                <tr>
                    <th class="t3">Indicator</th>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>



    <div class="row" style="font-size:12px;">
        <div class="col-md-12">
            <table class="account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2">City</th>
                    <th class="th-2">State</th>
                    <th class="th-2">Zip</th>
                    <th class="th-2">Phone</th>
                </tr>
                <tr>
                    <th class="t3">SFDC</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="t3">Matched</th>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="t3">Indicator</th>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->


    <div class="row" style="font-size:12px;">
        <div class="col-md-12">
            <table class="account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>
                    <th class="th-2">Website</th>
                    <th class="th-2">Root</th>
                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="t3">SFDC</th>
                    <td></td>
                    <td></td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="t3">Matched</th>
                    <td></td>
                    <td></td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="t3">Indicator</th>
                    <td class="yellow"></td>
                    <td class="yellow"></td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                    <td class="yellow">n/a</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->


    <div class="row" style="font-size:12px;">
        <div class="col-md-12">
            <table class="account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 td">Modules</th>
                    <th class="th-2">Core</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Inventory Index</th>
                    <th class="th-2">Staffer</th>
                    <th class="th-2">WhoIs</th>
                </tr>
                <tr>
                    <th class="t3">Status</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>n/a</td>
                    <td>n/a</td>
                </tr>
                <tr>
                    <th class="t3">Date</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="t3">Link</th>
                    <td></td>
                    <td></td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->




</div> <!-- account-filter-container Ends -->

<div class="account-filter-container">
    <div class="row filter-row" style="font-size:12px;">
        <!-- Account Name Table Filter -->
        <div class="col-md-12">
            <table class="core-filter-table table table-bordered table-hover">
                <tr>
                    <th class="core-filter-header" colspan="7">Account Name</th>
                </tr>
                <tr>
                    <th>SFDC</th>
                    <th>Account:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_acct } %></td>
                    <th>Group:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_group } %></td>
                    <th>Ultimate:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_grp } %></td>
                </tr>
                <tr>
                    <th>Matched</th>
                    <th>Account:</th>
                    <td>sample account</td>
                    <th>Group:</th>
                    <td>sample group</td>
                    <th>Ultimate:</th>
                    <td>sample ultimate</td>
                </tr>
                <tr>
                    <th>Indicator</th>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <!-- Physical Address Table Filter -->
    <div class="row" style="font-size:12px;">
        <div class="col-md-12">
            <table class="core-filter-table table table-bordered table-hover">
                <tr>
                    <th class="core-filter-header" colspan="11">Physical Address</th>
                </tr>
                <tr>
                    <th>SFDC</th>
                    <th>Street:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_street } %></td>
                    <th>City:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_city } %></td>
                    <th>State:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_state } %></td>
                    <th>Zip:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_zip } %></td>
                    <th>Phone:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ph } %></td>
                </tr>
                <tr>
                    <th>Matched</th>
                    <th>Street:</th>
                    <td>sample street</td>
                    <th>City:</th>
                    <td>sample city</td>
                    <th>State:</th>
                    <td>sample state</td>
                    <th>Zip:</th>
                    <td>sample zip</td>
                    <th>Phone:</th>
                    <td>sample phone</td>
                </tr>
                <tr>
                    <th>Indicator</th>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <!-- Website Table Filter  -->
    <div class="row" style="font-size:12px;">
        <div class="col-md-5">
            <table class="core-filter-table table table-bordered table-hover">
                <tr>
                    <th class="core-filter-header" colspan="5">Website</th>
                </tr>
                <tr>
                    <th>SFDC</th>
                    <th>Website:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_url } %></td>
                    <th>Root:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_root } %></td>
                </tr>
                <tr>
                    <th>Matched</th>
                    <th>Website:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :matched_url } %></td>
                    <th>Root:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :matched_root } %></td>
                </tr>
                <tr>
                    <th>Indicator</th>
                    <td></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :url_comparison } %></td>
                    <td></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :root_comparison } %></td>
                </tr>
            </table>
        </div>

        <!-- Strategic Table Filter -->
        <div class="col-md-6">
            <table class="core-filter-table table table-bordered table-hover">
                <tr>
                    <th class="core-filter-header" colspan="6">Strategic</th>
                </tr>
                <tr>
                    <th>Sales Tier:</th>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_tier } %></td>
                    <th>Group RT:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_grp_rt } %></td>
                    <th>Ultimate RT:</th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_rt } %></td>
                </tr>
                <tr>
                    <th>Sales Tier:</th>
                    <td>sample</td>
                    <th>Group RT:</th>
                    <td>sample</td>
                    <th>Ultimate RT:</th>
                    <td>sample</td>
                </tr>
                <tr>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                    <td></td>
                    <td>sample</td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <!-- Status Table Filter -->
    <div class="row" style="font-size:12px;">
        <div class="col-md-6">
            <table class="core-filter-table table table-bordered table-hover">
                <tr>
                    <th class="core-filter-header" colspan="6">Status</th>
                </tr>
                <tr>
                    <th>Domainer</th>
                    <th>Staff Link</th>
                    <th>Location Link</th>
                    <th>Inventory Link</th>
                    <th>Staffer</th>
                    <th>WhoIs</th>
                </tr>
                <tr>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :bds_status } %></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :staff_indexer_status } %></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :location_indexer_status } %></td>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :inventory_indexer_status } %></td>
                    <td>status sample</td>
                    <td>status sample</td>
                </tr>
                <tr>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :domainer_date } %></td>
                    <td>date sample</td>
                    <td>date sample</td>
                    <td>date sample</td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :staffer_date } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :whois_date } %></td>
                </tr>
                <tr>
                    <td>link sample</td>
                    <td>link sample</td>
                    <td>link sample</td>
                    <td>link sample</td>
                    <td>link sample</td>
                    <td>link sample</td>
                </tr>
            </table>
        </div>


        <div class="col-md-5"> <!-- Upper Col Starts-->
            <div class="row"> <!-- Sub Row -->

                <!-- Category Table Filter -->
                <div class="col-md-12">
                    <table class="core-filter-table table table-bordered table-hover">
                        <tr>
                            <th class="core-filter-header" colspan="2">Category</th>
                        </tr>
                        <tr>
                            <th>Sales Person</th>
                            <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_sales_person } %></td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_type } %></td>
                        </tr>
                    </table>
                </div>

                <!-- Action Table Filter -->
                <div class="col-md-12">
                    <table class="core-filter-table table table-bordered table-hover">
                        <tr>
                            <th class="core-filter-header" colspan="3">Action (SFDC ID) - Temp</th>
                        </tr>
                        <tr>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div> <!-- Sub-Row Ends -->
        </div>   <!-- Upper Col Ends-->
    </div>  <!-- row ends -->
</div> <!-- Account filter Ends -->
