<tr>
    <td><%= check_box_tag "status_checks[]",  core.id %></td>
    <td><%= num %></td>
    <td><%= core.bds_status %></td>
    <td><%= get_gcse_domain_status(core) %></td>
    <td><%= core.staff_indexer_status %></td>
    <td><%= core.location_indexer_status %></td>
    <td><%= core.inventory_indexer_status %></td>
    <td>n/a</td>
    <td>n/a</td>
    <td><%= core.sfdc_acct %></td>
    <td><%= core.sfdc_group %></td>
    <td><%= core.sfdc_city %></td>
    <td><%= core.sfdc_state %></td>
    <td><%= core.sfdc_type %></td>
    <td><%= core.sfdc_sales_person %></td>
    <td><%= core.sfdc_id %></td>
    <td><%= link_to 'Show', core %></td>
    <td><%= link_to 'Edit', edit_core_path(core) %></td>
    <td><%= link_to 'Destroy', core, method: :delete %></td>
</tr>
