<h1 class="text-center">Core Accounts</h1><br><br>

<h1>Newer Filter Starts Here</h1>
<!-- link to new filter -->
<%= render partial: 'new_filter', locals: {  } %>



<h1>New Filter Starts Here</h1>
<!-- link to new filter -->
<%= render partial: 'filter', locals: {  } %>



<h1>Old Filter Starts Here</h1>

<%= form_tag "/cores", method: :get, class: 'form-inline'  do %>
<div class="row" style="font-size:12px;">
    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="3" style="background: #00ffff; text-align: center;">Status Filter</th>
            </tr>
            <tr>
                <th>BDS Status:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :bds_status } %></td>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :domainer_date } %></td>
            </tr>
            <tr>
                <th>Staff Link:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :staff_indexer_status } %></td>
                <td>date</td>
            </tr>
            <tr>
                <th>Location Link:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :location_indexer_status } %></td>
                <td>date</td>
            </tr>
            <tr>
                <th>Inventory Link:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :inventory_indexer_status } %></td>
                <td>date</td>
            </tr>
            <tr>
                <th>Staffer:</th>
                <td>status</td>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :staffer_date } %></td>
            </tr>
            <tr>
                <th>WhoIs:</th>
                <td>status</td>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :whois_date } %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">Strategy Filter</th>
            </tr>
            <tr>
                <th>Salesperson:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_sales_person } %></td>
            </tr>
            <tr>
                <th>Type:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_type } %></td>
            </tr>
            <tr>
                <th>Tier:</th>
                <td><%= render partial: 'layouts/select_tag', locals: { col: :sfdc_tier } %></td>
            </tr>
            <tr>
                <th>SFDC ID:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">URL Filter</th>
            </tr>
            <tr>
                <th>SFDC URL:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_url } %></td>
            </tr>
            <tr>
                <th>Matched URL:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :matched_url } %></td>
            </tr>
            <tr>
                <th>URL Indicator:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :url_comparison } %></td>
            </tr>
            <tr>
                <th>SFDC Root:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_root } %></td>
            </tr>
            <tr>
                <th>Matched Root:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :matched_root } %></td>
            </tr>
            <tr>
                <th>Root Indicator:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :root_comparison } %></td>
            </tr>
        </table>
    </div>

</div>

<div class="row" style="font-size:12px;">
    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">SFDC Account Filter</th>
            </tr>
            <tr>
                <th>Account:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_acct } %></td>
            </tr>
            <tr>
                <th>Group Name:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_group } %></td>
            </tr>
            <tr>
                <th>Ultimate Group:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_grp } %></td>
            </tr>
            <tr>
                <th>Group RT:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_grp_rt } %></td>
            </tr>
            <tr>
                <th>Ultimate RT:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_rt } %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">Matched Account Filter</th>
            </tr>
            <tr>
                <th>Account:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Group Name:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Ultimate Group:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Group RT:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Ultimate RT:</th>
                <td>example</td>
            </tr>
        </table>
    </div>


    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">SFDC Address Filter</th>
            </tr>
            <tr>
                <th>Street:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_street } %></td>
            </tr>
            <tr>
                <th>City:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_city } %></td>
            </tr>
            <tr>
                <th>State:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_state } %></td>
            </tr>
            <tr>
                <th>Zip:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_zip } %></td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ph } %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">Matched Address Filter</th>
            </tr>
            <tr>
                <th>Street:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Zip:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>example</td>
            </tr>
        </table>
    </div>

</div>

<%= submit_tag "Submit", class: 'btn btn-success' %>

<%= render partial: 'buttons' %>






 <!-- ### Horizontal View Starts Here ### -->
 <h1>Horizontal View</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>

            <th>#</th>
            <th>BDS Status</th>
            <th>Staff Indexer Status</th>
            <th>Location Indexer Status</th>
            <th>Inventory Indexer Status</th>
            <th>Account</th>
            <th>Ultimate Group</th>
            <th>Group Name</th>
            <th>Url Comparison</th>
            <th>SFDC Url</th>
            <th>Matched Url</th>
            <th>Root Comparison</th>
            <th>SFDC Root</th>
            <th>Matched Root</th>
            <th>SFDC Street</th>
            <th>SFDC City</th>
            <th>SFDC State</th>
            <th>SFDC Zip</th>
            <th>SFDC Ph</th>
            <th>Tier</th>
            <th>Ult RT</th>
            <th>Grp RT</th>
            <th>Type</th>
            <th>Salesperson</th>
            <th>SFDC ID</th>

            <th>
                <div class="form-group">
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :core_date } %></td>
                    <br><br>Core Date
                </div>
            </th>
            <th>Domainer Date</th>
            <th>
                <div class="form-group">
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :indexer_date } %></td>
                    <br><br>Indexer Date
                </div>
            </th>
            <th>Staffer Date</th>
            <th>WhoIs Date</th>


            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @cores.each do |core| %>
            <% num +=1 %>
            <%= render partial: 'old_layout', locals: { core: core, num: num } %>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <div class="form-group">
        <%= select_tag :selected_status, options_for_select(core_status_list), include_blank: '-- Update Domain Status --', class: 'selectpicker' %>
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>
</div>

<% end %> <!-- Filter Headers Form tag ends -->

<%= render partial: 'buttons' %>
<br> <br> <br>

<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>
<br> <br> <br> <br>
 <!-- ### Horizontal View Ends Here ### -->


 <!-- ### Vertical View Starts Here (from render) ### -->
<h1>Vertical View</h1>
<% num = 0 %>
<% @cores.each do |core| %>
    <% num +=1 %>
    <%= render partial: 'new_layout', locals: { core: core, num: num } %>
<% end %>
 <!-- ### Vertical Ends Here (from render) ### -->
