<p id="notice"><%= notice %></p>

<h1 class="text-center">Core Accounts</h1><br><br>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_core_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', core_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', cores_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%= form_tag "/cores", method: :get, class: 'form-inline'  do %>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <div class="form-group">
                <%= select_tag :columns, options_for_select(column_list_core, params[:columns]), title: 'Exclude Columns', multiple: true, class: 'selectpicker' %>
                <%= submit_tag "Submit", class: 'btn btn-success' %>
            </div>
        </tr>

        <tr>
            <th>
                <%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %>
            </th> <!-- add -->

            <% unless @col_bds_status %>
            <th>
                <div class="form-group">
                    <%= select_tag :bds_status, options_for_select(@selected_data.select(:bds_status).map(&:bds_status).uniq, params[:bds_status]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>BDS Status
                </div>
            </th>
            <% end %>

            <% unless @col_core_date %>
                <th>
                    <div class="form-group">
                        <%= select_tag :core_date, options_for_select(formatted_date_list(@selected_data.select(:core_date).map(&:core_date).uniq), params[:core_date]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                        <br><br>Core Date
                    </div>
                </th>
            <% end %>

            <% unless @col_domainer_date %>
                <th>
                    <div class="form-group">
                        <%= select_tag :domainer_date, options_for_select(formatted_date_list(@selected_data.select(:domainer_date).map(&:domainer_date).uniq), params[:domainer_date]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                        <br><br>Domainer Date
                    </div>
                </th>
            <% end %>

            <% unless @col_indexer_date %>
                <th>
                    <div class="form-group">
                        <%= select_tag :indexer_date, options_for_select(formatted_date_list(@selected_data.select(:indexer_date).map(&:indexer_date).uniq), params[:indexer_date]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                        <br><br>Indexer Date
                    </div>
                </th>
            <% end %>

            <% unless @col_staffer_date %>
                <th>
                    <div class="form-group">
                        <%= select_tag :staffer_date, options_for_select(formatted_date_list(@selected_data.select(:staffer_date).map(&:staffer_date).uniq), params[:staffer_date]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                        <br><br>Staffer Date
                    </div>
                </th>
            <% end %>

            <% unless @col_whois_date %>
                <th>
                    <div class="form-group">
                        <%= select_tag :whois_date, options_for_select(formatted_date_list(@selected_data.select(:whois_date).map(&:whois_date).uniq), params[:whois_date]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                        <br><br>WhoIs Date
                    </div>
                </th>
            <% end %>

            <% unless @col_sfdc_sales_person %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_sales_person, options_for_select(@selected_data.select(:sfdc_sales_person).map(&:sfdc_sales_person).uniq, params[:sfdc_sales_person]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Salesperson
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_id %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_id, options_for_select(@selected_data.select(:sfdc_id).map(&:sfdc_id).uniq, params[:sfdc_id]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC ID
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_tier %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_tier, options_for_select(@selected_data.select(:sfdc_tier).map(&:sfdc_tier).uniq, params[:sfdc_tier]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Tier
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_type %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_type, options_for_select(@selected_data.select(:sfdc_type).map(&:sfdc_type).uniq, params[:sfdc_type]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Type
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_ult_rt %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_ult_rt, options_for_select(blank_remover(@selected_data.select(:sfdc_ult_rt).map(&:sfdc_ult_rt).uniq), params[:sfdc_ult_rt]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Ult RT
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_grp_rt %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_grp_rt, options_for_select(blank_remover(@selected_data.select(:sfdc_grp_rt).map(&:sfdc_grp_rt).uniq), params[:sfdc_grp_rt]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Grp RT
                </div>
            </th>
            <% end %>


            <% unless @col_sfdc_ult_grp %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_ult_grp, options_for_select(blank_remover(@selected_data.select(:sfdc_ult_grp).map(&:sfdc_ult_grp).uniq), params[:sfdc_ult_grp]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Ultimate Group
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_group %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_group, options_for_select(blank_remover(@selected_data.select(:sfdc_group).map(&:sfdc_group).uniq), params[:sfdc_group]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Group Name
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_acct %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_acct, options_for_select(@selected_data.select(:sfdc_acct).map(&:sfdc_acct).uniq, params[:sfdc_acct]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Account
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_street %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_street, options_for_select(@selected_data.select(:sfdc_street).map(&:sfdc_street).uniq, params[:sfdc_street]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC Street
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_city %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_city, options_for_select(@selected_data.select(:sfdc_city).map(&:sfdc_city).uniq, params[:sfdc_city]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC City
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_state %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_state, options_for_select(@selected_data.select(:sfdc_state).map(&:sfdc_state).uniq, params[:sfdc_state]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC State
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_zip %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_zip, options_for_select(@selected_data.select(:sfdc_zip).map(&:sfdc_zip).uniq, params[:sfdc_zip]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC Zip
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_ph %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_ph, options_for_select(@selected_data.select(:sfdc_ph).map(&:sfdc_ph).uniq, params[:sfdc_ph]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC Ph
                </div>
            </th>
            <% end %>

            <% unless @col_sfdc_url %>
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_url, options_for_select(@selected_data.select(:sfdc_url).map(&:sfdc_url).uniq, params[:sfdc_url]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>SFDC Url
                </div>
            </th>
            <% end %>

            <% unless @col_matched_url %>
            <th>
                <div class="form-group">
                    <%= select_tag :matched_url, options_for_select(@selected_data.select(:matched_url).map(&:matched_url).uniq, params[:matched_url]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Matched Url
                </div>
            </th>
            <% end %>

            <% unless @col_matched_root %>
            <th>
                <div class="form-group">
                    <%= select_tag :matched_root, options_for_select(@selected_data.select(:matched_root).map(&:matched_root).uniq, params[:matched_root]), include_blank: "-- Select --", multiple: true, class: 'selectpicker' %>
                    <br><br>Matched Root
                </div>
            </th>
            <% end %>


            <th colspan="3">
            </th>
        </tr> <!--  -->
    </thead>

    <tbody>
        <% @cores.each do |core| %>
        <tr>
            <td><%= check_box_tag "status_checks[]",  core.id %></td>

            <% unless @col_bds_status %>
            <td><%= core.bds_status %></td>
            <% end %>

            <% if !@col_core_date %>
                <% if core.core_date %>
                    <td><%= core.core_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.core_date %></td>
                <% end %>
            <% end %>

            <% if !@col_domainer_date %>
                <% if core.domainer_date %>
                    <td><%= core.domainer_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.domainer_date %></td>
                <% end %>
            <% end %>

            <% if !@col_indexer_date %>
                <% if core.indexer_date %>
                    <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.indexer_date %></td>
                <% end %>
            <% end %>

            <% if !@col_staffer_date %>
                <% if core.staffer_date %>
                    <td><%= core.staffer_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.staffer_date %></td>
                <% end %>
            <% end %>

            <% if !@col_whois_date %>
                <% if core.whois_date %>
                    <td><%= core.whois_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.whois_date %></td>
                <% end %>
            <% end %>

            <% unless @col_sfdc_sales_person %>
            <td><%= core.sfdc_sales_person %></td>
            <% end %>

            <% unless @col_sfdc_id %>
            <td><%= core.sfdc_id %></td>
            <% end %>

            <% unless @col_sfdc_tier %>
            <td><%= core.sfdc_tier %></td>
            <% end %>

            <% unless @col_sfdc_type %>
            <td><%= core.sfdc_type %></td>
            <% end %>

            <% unless @col_sfdc_ult_rt %>
            <td><%= core.sfdc_ult_rt %></td>
            <% end %>

            <% unless @col_sfdc_grp_rt %>
            <td><%= core.sfdc_grp_rt %></td>
            <% end %>

            <% unless @col_sfdc_ult_grp %>
            <td><%= core.sfdc_ult_grp %></td>
            <% end %>

            <% unless @col_sfdc_group %>
            <td><%= core.sfdc_group %></td>
            <% end %>

            <% unless @col_sfdc_acct %>
            <td><%= core.sfdc_acct %></td>
            <% end %>

            <% unless @col_sfdc_street %>
            <td><%= core.sfdc_street %></td>
            <% end %>

            <% unless @col_sfdc_city %>
            <td><%= core.sfdc_city %></td>
            <% end %>

            <% unless @col_sfdc_state %>
            <td><%= core.sfdc_state %></td>
            <% end %>

            <% unless @col_sfdc_zip %>
            <td><%= core.sfdc_zip %></td>
            <% end %>

            <% unless @col_sfdc_ph %>
            <td><%= core.sfdc_ph %></td>
            <% end %>

            <% unless @col_sfdc_url %>
            <td><%= link_to core.sfdc_url,"http://#{core.sfdc_url}", :target => "_blank" %></td>
            <% end %>

            <% unless @col_matched_url %>
            <td><%= link_to core.matched_url, core.matched_url, :target => "_blank" %></td>
            <% end %>

            <% unless @col_matched_root %>
            <td><%= core.matched_root %></td>
            <% end %>

            <td><%= link_to 'Show', core %></td>
            <td><%= link_to 'Edit', edit_core_path(core) %></td>
        <td><%= link_to 'Destroy', core, method: :delete %></td>
    </tr>
        <% end %> <!-- @cores.each loop ends -->
    </tbody>
</table>

<div class="pull-left">
    <div class="form-group">
        <%= select_tag :selected_status, options_for_select(core_status_list, params[:selected_status]), include_blank: '-- Update Domain Status --', class: 'selectpicker' %>
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>
</div>

<% end %> <!-- Filter Headers Form tag ends -->

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_core_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', core_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', cores_path(format: "csv"), class: 'btn btn-primary' %>
</div>
</br>
</br>
</br>

<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>

</br>
</br>
</br>
</br>
