<h1 class="page-header">Accounts</h1>
<h4 class="text-center">Accounts from All Sources</h4>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- ACCOUNTS - LIST VIEW PARTIAL -->
<% if @view_mode == "list" %>
    <%= render partial: 'list_view' %>
<% end %>

<!-- ACCOUNTS - DETAILED VIEW PARTIAL -->
<% if @view_mode == "detail" %>
    <h3 class="section-header">Detailed Account View</h3>
    <%= render partial: 'buttons' %>
    <h4>Selected Accounts: <%= number_with_delimiter(@selected_core_count) %></h4>

    <% num = 0 %>
    <% @cores.each do |core| %>
        <% num +=1 %>
        <%= render partial: 'detailed_view', locals: { core: core, num: num } %>
    <% end %>
<% end %>

<div class="pull-right">
    <%= render partial: 'buttons' %>
</div><br>
<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>
