<h1 class="page-header">Core Accounts</h1>


<%= form_tag "/cores", method: :get, class: 'form-inline'  do %>

<!-- link to _filter partial -->
 <h3 class="section-header">Core Filter</h3>
<%= render partial: 'filter', locals: {  } %>

<%= submit_tag "Submit", class: 'btn btn-success' %>

<%= render partial: 'buttons' %>


<!-- ### Horizontal View Starts Here ### -->
<h3 class="section-header">Core Profiles</h3>
<table class="list-table table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>

            <th>#</th>
            <th class="w-md">BDS Status</th>
            <th class="w-md">Staff Indexer Status</th>
            <th class="w-md">Location Indexer Status</th>
            <th class="w-md">Inventory Indexer Status</th>
            <th class="w-md">Account</th>
            <th class="w-md">Ultimate Group</th>
            <th class="w-md">Group Name</th>
            <th class="w-md">Url Comparison</th>
            <th class="w-md">SFDC Url</th>
            <th class="w-md">Matched Url</th>
            <th class="w-md">Root Comparison</th>
            <th class="w-md">SFDC Root</th>
            <th class="w-md">Matched Root</th>
            <th class="w-md">SFDC Street</th>
            <th class="w-md">SFDC City</th>
            <th class="w-md">SFDC State</th>
            <th class="w-md">SFDC Zip</th>
            <th class="w-md">SFDC Ph</th>
            <th class="w-md">Tier</th>
            <th class="w-md">Ult RT</th>
            <th class="w-md">Grp RT</th>
            <th class="w-md">Type</th>
            <th class="w-md">Salesperson</th>
            <th class="w-md">SFDC ID</th>

            <th>
                <div class="form-group">
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :core_date } %></td>
                    <br><br>Core Date
                </div>
            </th>
            <th>Domainer Date</th>
            <th>
                <div class="form-group">
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :indexer_date } %></td>
                    <br><br>Indexer Date
                </div>
            </th>
            <th>Staffer Date</th>
            <th>WhoIs Date</th>


            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @cores.each do |core| %>
            <% num +=1 %>
            <%= render partial: 'old_layout', locals: { core: core, num: num } %>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <div class="form-group">
        <%= select_tag :selected_status, options_for_select(core_status_list), include_blank: '-- Update Domain Status --', class: 'selectpicker' %>
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>
</div>

<% end %> <!-- Filter Headers Form tag ends -->

<%= render partial: 'buttons' %>
<br> <br> <br>

<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>
<br> <br> <br> <br>
 <!-- ### Horizontal View Ends Here ### -->


 <!-- ### Vertical View Starts Here (from render) ### -->
 <h3 class="section-header">Core Profiles</h3>

<% num = 0 %>
<% @cores.each do |core| %>
    <% num +=1 %>
    <%= render partial: 'new_layout', locals: { core: core, num: num } %>
<% end %>
 <!-- ### Vertical Ends Here (from render) ### -->
