<h1 class="text-center">Core Accounts</h1><br><br>

<%= form_tag "/cores", method: :get, class: 'form-inline'  do %>
<div class="row" style="font-size:12px;">
    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="3" style="background: #00ffff; text-align: center;">Status Filter</th>
            </tr>
            <tr>
                <th>BDS Status:</th>
                <td><%= select_tag :bds_status, options_for_select(ordered_list(@selected_data.select(:bds_status).map(&:bds_status)), params[:bds_status]), multiple: true, class: 'selectpicker' %></td>
                <td><%= text_field_tag :domainer_date, params[:domainer_date], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Staff Link:</th>
                <td><%= select_tag :staff_indexer_status, options_for_select(ordered_list(@selected_data.select(:staff_indexer_status).map(&:staff_indexer_status)), params[:staff_indexer_status]), multiple: true, class: 'selectpicker' %></td>
                <td>date</td>
            </tr>
            <tr>
                <th>Location Link:</th>
                <td><%= select_tag :location_indexer_status, options_for_select(ordered_list(@selected_data.select(:location_indexer_status).map(&:location_indexer_status)), params[:location_indexer_status]), multiple: true, class: 'selectpicker' %></td>
                <td>date</td>
            </tr>
            <tr>
                <th>Inventory Link:</th>
                <td><%= select_tag :inventory_indexer_status, options_for_select(ordered_list(@selected_data.select(:inventory_indexer_status).map(&:inventory_indexer_status)), params[:inventory_indexer_status]), multiple: true, class: 'selectpicker' %></td>
                <td>date</td>
            </tr>
            <tr>
                <th>Staffer:</th>
                <td>status</td>
                <td><%= text_field_tag :staffer_date, params[:staffer_date], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>WhoIs:</th>
                <td>status</td>
                <td><%= text_field_tag :whois_date, params[:whois_date], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">Strategy Filter</th>
            </tr>
            <tr>
                <th>Salesperson:</th>
                <td><%= select_tag :sfdc_sales_person, options_for_select(ordered_list(@selected_data.select(:sfdc_sales_person).map(&:sfdc_sales_person)), params[:sfdc_sales_person]),  multiple: true, class: 'selectpicker' %></td>
            </tr>
            <tr>
                <th>Type:</th>
                <td><%= select_tag :sfdc_type, options_for_select(ordered_list(@selected_data.select(:sfdc_type).map(&:sfdc_type)), params[:sfdc_type]),  multiple: true, class: 'selectpicker' %></td>
            </tr>
            <tr>
                <th>Tier:</th>
                <td><%= select_tag :sfdc_tier, options_for_select(ordered_list(@selected_data.select(:sfdc_tier).map(&:sfdc_tier)), params[:sfdc_tier]),  multiple: true, class: 'selectpicker' %></td>
            </tr>
            <tr>
                <th>SFDC ID:</th>
                <td><%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">URL Filter</th>
            </tr>
            <tr>
                <th>SFDC URL:</th>
                <td><%= text_field_tag :sfdc_url, params[:sfdc_url], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Matched URL:</th>
                <td><%= text_field_tag :matched_url, params[:matched_url], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>URL Indicator:</th>
                <td><%= text_field_tag :url_comparison, params[:url_comparison], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>SFDC Root:</th>
                <td><%= text_field_tag :sfdc_root, params[:sfdc_root], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Matched Root:</th>
                <td><%= text_field_tag :matched_root, params[:matched_root], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Root Indicator:</th>
                <td><%= text_field_tag :root_comparison, params[:root_comparison], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
        </table>
    </div>

</div>

<div class="row" style="font-size:12px;">
    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">SFDC Account Filter</th>
            </tr>
            <tr>
                <th>Account:</th>
                <td><%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Group Name:</th>
                <td><%= text_field_tag :sfdc_group, params[:sfdc_group], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Ultimate Group:</th>
                <td><%= text_field_tag :sfdc_ult_grp, params[:sfdc_ult_grp], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Group RT:</th>
                <td><%= text_field_tag :sfdc_grp_rt, params[:sfdc_grp_rt], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Ultimate RT:</th>
                <td><%= text_field_tag :sfdc_ult_rt, params[:sfdc_ult_rt], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">Matched Account Filter</th>
            </tr>
            <tr>
                <th>Account:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Group Name:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Ultimate Group:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Group RT:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Ultimate RT:</th>
                <td>example</td>
            </tr>
        </table>
    </div>


    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">SFDC Address Filter</th>
            </tr>
            <tr>
                <th>Street:</th>
                <td><%= text_field_tag :sfdc_street, params[:sfdc_street], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>City:</th>
                <td><%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>State:</th>
                <td><%= text_field_tag :sfdc_state, params[:sfdc_state], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Zip:</th>
                <td><%= text_field_tag :sfdc_zip, params[:sfdc_zip], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td><%= text_field_tag :sfdc_ph, params[:sfdc_ph], placeholder: "-- Enter Keyword --", class: 'form-control' %></td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="2" style="background: #00ffff; text-align: center;">Matched Address Filter</th>
            </tr>
            <tr>
                <th>Street:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Zip:</th>
                <td>example</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>example</td>
            </tr>
        </table>
    </div>

</div>

<%= submit_tag "Submit", class: 'btn btn-success' %>

<div class="pull-right">
    <%= link_to 'Add Record', new_core_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', core_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', cores_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>
            <th>#</th>
            <th>BDS Status</th>
            <!-- ====== 3 New Indexer Columns ====== -->
            <th>Staff Indexer Status</th>
            <th>Location Indexer Status</th>
            <th>Inventory Indexer Status</th>
            <!-- ====== 3 New Indexer Columns ====== -->
            <th>Account</th>
            <th>Ultimate Group</th>
            <th>Group Name</th>
            <th>Url Comparison</th>
            <th>SFDC Url</th>
            <th>Matched Url</th>
            <th>Root Comparison</th>
            <th>SFDC Root</th>
            <th>Matched Root</th>
            <th>SFDC Street</th>
            <th>SFDC City</th>
            <th>SFDC State</th>
            <th>SFDC Zip</th>
            <th>SFDC Ph</th>
            <th>Tier</th>
            <th>Ult RT</th>
            <th>Grp RT</th>
            <th>Type</th>
            <th>Salesperson</th>
            <th>SFDC ID</th>
            <th>
                <div class="form-group">
                    <%= text_field_tag :core_date, params[:core_date], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Core Date
                </div>
            </th>
            <th>Domainer Date</th>
            <th>
                <div class="form-group">
                    <%= text_field_tag :indexer_date, params[:indexer_date], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Indexer Date
                </div>
            </th>
            <th>Staffer Date</th>
            <th>WhoIs Date</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @cores.each do |core| %>
            <tr>
                <td><%= check_box_tag "status_checks[]",  core.id %></td>

                <% num +=1 %>
                <td><%= num %></td>
                <td><%= core.bds_status %></td>

                <!-- ====== 3 New Indexer Columns ====== -->
                <td><%= core.staff_indexer_status %></td>
                <td><%= core.location_indexer_status %></td>
                <td><%= core.inventory_indexer_status %></td>

                <!-- ====== 3 New Indexer Columns ====== -->
                <td><%= core.sfdc_acct %></td>
                <td><%= core.sfdc_group %></td>
                <td><%= core.sfdc_ult_grp %></td>
                <td class="yellow"><%= core.url_comparison %></td>
                <td><%= link_to core.sfdc_url,"http://#{core.sfdc_url}", :target => "_blank" %></td>
                <td><%= link_to core.matched_url, core.matched_url, :target => "_blank" %></td>
                <td class="yellow"><%= core.root_comparison %></td>
                <td><%= core.sfdc_root %></td>
                <td><%= core.matched_root %></td>
                <td><%= core.sfdc_street %></td>
                <td><%= core.sfdc_city %></td>
                <td><%= core.sfdc_state %></td>
                <td><%= core.sfdc_zip %></td>
                <td><%= core.sfdc_ph %></td>
                <td><%= core.sfdc_tier %></td>
                <td><%= core.sfdc_ult_rt %></td>
                <td><%= core.sfdc_grp_rt %></td>
                <td><%= core.sfdc_type %></td>
                <td><%= core.sfdc_sales_person %></td>
                <td><%= core.sfdc_id %></td>

                <% if core.core_date %>
                    <td><%= core.core_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.core_date %></td>
                <% end %>

                <% if core.domainer_date %>
                    <td><%= core.domainer_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.domainer_date %></td>
                <% end %>

                <% if core.indexer_date %>
                    <td><%= core.indexer_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.indexer_date %></td>
                <% end %>

                <% if core.staffer_date %>
                    <td><%= core.staffer_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.staffer_date %></td>
                <% end %>

                <% if core.whois_date %>
                    <td><%= core.whois_date.strftime("%m/%d/%Y") %></td>
                <% else %>
                    <td><%= core.whois_date %></td>
                <% end %>

                <td><%= link_to 'Show', core %></td>
                <td><%= link_to 'Edit', edit_core_path(core) %></td>
                <td><%= link_to 'Destroy', core, method: :delete %></td>
            </tr>
        <% end %> <!-- @cores.each loop ends -->
    </tbody>
</table>

<div class="pull-left">
    <div class="form-group">
        <%= select_tag :selected_status, options_for_select(core_status_list), include_blank: '-- Update Domain Status --', class: 'selectpicker' %>
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>
</div>

<% end %> <!-- Filter Headers Form tag ends -->

<div class="pull-right">
    <%= link_to 'Add Record', new_core_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', core_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', cores_path(format: "csv"), class: 'btn btn-primary' %>
</div>
</br>
</br>
</br>

<%= will_paginate @cores, renderer: BootstrapPagination::Rails  %>

</br>
</br>
</br>
</br>
