<p id="notice"><%= notice %></p>

<h1 class="text-center">Search Core</h1>

<!-- Testing Version -->
<!-- My Panel Starts-->
<div class="panel panel-default"> <!-- Panel Begins -->
    <div class="panel-heading"> <!-- panel heading begins -->
        <h3 class="panel-title">Search Core</h3>
    </div> <!-- panel heading ends -->

    <div class="panel-body"> <!-- panel body begins -->
        <%= form_tag "/search_result_page_core", method: :post  do %>
            <div class="row">

                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :bds_status, "Domainer Status" %>
                        <%= select_tag :bds_status, options_for_select(bds_status_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                <!-- == 3 New Indexer Columns =Starts= -->

                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :staff_indexer_status, "Staff Indexer Status" %>
                        <%= select_tag :staff_indexer_status, options_for_select(indexer_status_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :location_indexer_status, "Location Indexer Status" %>
                        <%= select_tag :location_indexer_status, options_for_select(indexer_status_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>


                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :inventory_indexer_status, "Inv Indexer Status" %>
                        <%= select_tag :inventory_indexer_status, options_for_select(indexer_status_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                <!-- == 3 New Indexer Columns =Ends= -->

                <!-- = 2 Future Columns (placeholders) Starts= -->

                <!-- Staffer Status-->
                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :staffer_status, "Staffer Status" %>
                        <%= select_tag :staffer_status, options_for_select(staffer_status_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                <!-- WhoIs Status -->
                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :whois_status, "WhoIs Status" %>
                        <%= select_tag :whois_status, options_for_select(whois_status_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
                <!-- = 2 Future Columns (placeholders) Ends= -->


                <!-- = 2 Future Columns (placeholders) = -->
            </div> <!-- /.row -->

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_sales_person, "Sales Person" %>
                        <%= select_tag :sfdc_sales_person, options_for_select(sfdc_sales_person_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_type, "Type" %>
                        <%= select_tag :sfdc_type, options_for_select(sfdc_type_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_tier, "Sales Tier" %>
                        <%= select_tag :sfdc_tier, options_for_select(sfdc_tier_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>

                </div>


        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <%= label_tag :sfdc_id, "SFDC ID" %>
                    <%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :url_comparison, "Matched URL Indicator" %>

                        <%= select_tag :url_comparison, options_for_select(url_comparison_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :root_comparison, "Matched Root Indicator" %>
                        <%= select_tag :root_comparison, options_for_select(root_comparison_list), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_acct, "Account Name" %>
                        <%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_group, "Group Name" %>
                        <%= text_field_tag :sfdc_group, params[:sfdc_group], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_ult_grp, "Ultimate Group Name" %>
                        <%= text_field_tag :sfdc_ult_grp, params[:sfdc_ult_grp], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <!-- ==== Change to key word search ==== -->

                <div class="col-sm-4">
                    <div class="form-group">
                        <!-- ==== Change to key word search ==== -->
                        <%= label_tag :sfdc_city, "City" %>
                        <%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>
                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :sfdc_state, "State" %>
                        <%= text_field_tag :sfdc_state, params[:sfdc_state], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :sfdc_zip, "Zip" %>
                        <%= text_field_tag :sfdc_zip, params[:sfdc_zip], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <%= submit_tag "Search", class: 'btn btn-primary pull-right' %>
        <% end %>
    </div> <!-- My Panel Body Ends -->
</div> <!-- My Panel Ends -->
<!-- Testing Version Ends-->
