<p id="notice"><%= notice %></p>

<h1 class="text-center">Search Core</h1>

<!-- Testing Version -->
<!-- My Panel Starts-->
<div class="panel panel-default"> <!-- Panel Begins -->
    <div class="panel-heading"> <!-- panel heading begins -->
        <h3 class="panel-title">Search Core</h3>
    </div> <!-- panel heading ends -->

    <div class="panel-body"> <!-- panel body begins -->
        <%= form_tag "/search_result_page_core", method: :post  do %>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :bds_status, "BDS Status" %>
                        <%= select_tag :bds_status, options_for_select(ordered_list(Core.select(:bds_status).map(&:bds_status))), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_sales_person, "Sales Person" %>
                        <%= select_tag :sfdc_sales_person, options_for_select(ordered_list(Core.select(:sfdc_sales_person).map(&:sfdc_sales_person))), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_type, "Type" %>
                        <%= select_tag :sfdc_type, options_for_select(ordered_list(Core.select(:sfdc_type).map(&:sfdc_type))), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_tier, "Sales Tier" %>
                        <%= select_tag :sfdc_tier, options_for_select(ordered_list(Core.select(:sfdc_tier).map(&:sfdc_tier))), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :url_comparison, "Matched URL Indicator" %>
                        <%= select_tag :url_comparison, options_for_select(ordered_list(Core.select(:url_comparison).map(&:url_comparison))), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :root_comparison, "Matched Root Indicator" %>
                        <%= select_tag :root_comparison, options_for_select(ordered_list(Core.select(:root_comparison).map(&:root_comparison))), multiple: true, class: 'selectpicker form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_acct, "Account Name" %>
                        <%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_group, "Group Name" %>
                        <%= text_field_tag :sfdc_group, params[:sfdc_group], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_ult_grp, "Ultimate Group Name" %>
                        <%= text_field_tag :sfdc_ult_grp, params[:sfdc_ult_grp], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <%= label_tag :sfdc_id, "SFDC ID" %>
                        <%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <!-- ==== Change to key word search ==== -->
                        <%= label_tag :sfdc_city, "City" %>
                        <%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>
                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :sfdc_state, "State" %>
                        <%= text_field_tag :sfdc_state, params[:sfdc_state], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>

                <!-- ==== Change to key word search ==== -->
                <div class="col-sm-2">
                    <div class="form-group">
                        <%= label_tag :sfdc_zip, "Zip" %>
                        <%= text_field_tag :sfdc_zip, params[:sfdc_zip], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    </div>
                </div>
            </div> <!-- /.row -->

            <%= submit_tag "Search", class: 'btn btn-primary pull-right' %>
        <% end %>
    </div> <!-- My Panel Body Ends -->
</div> <!-- My Panel Ends -->
<!-- Testing Version Ends-->
