<p id="notice"><%= notice %></p>

<h3 class="section-header">Core Advanced Search</h3>

<%= form_tag "/search_result_page_core", method: :post  do %>

<div class="text-nowrap theme-layout search-container">
    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Account Search</th>

                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= select_tag :sfdc_sales_person, options_for_select(sfdc_sales_person_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= select_tag :sfdc_type, options_for_select(sfdc_type_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "----", class: 'form-control' %></td>

                </tr>
            </table>
        </div>
    </div>

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-1 t3">Account</th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2 w-md">Sales Tier</th>
                    <th class="th-2 w-xsm">Group RT</th>
                    <th class="th-2 w-xsm">Ult RT</th>
                </tr>
                <tr>
                    <th class="th-2 th-2a">SFDC</th>
                    <td><%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_group, params[:sfdc_group], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_ult_grp, params[:sfdc_ult_grp], placeholder: "----", class: 'form-control' %></td>
                    <td><%= select_tag :sfdc_tier, options_for_select(sfdc_tier_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= text_field_tag :sfdc_grp_rt, params[:sfdc_grp_rt], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_ult_rt, params[:sfdc_ult_rt], placeholder: "----", class: 'form-control' %></td>

                </tr>
                <tr>
                    <th class="th-2 th-2b">Matched</th>
                    <td><%= text_field_tag :site_acct, params[:site_acct], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_group, params[:site_group], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_ult_grp, params[:site_ult_grp], placeholder: "----", class: 'form-control' %></td>
                    <td><%= select_tag :site_tier, options_for_select(sfdc_tier_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= text_field_tag :site_grp_rt, params[:site_grp_rt], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_ult_rt, params[:site_ult_rt], placeholder: "----", class: 'form-control' %></td>
                </tr>
                <tr>
                    <th class="th-2 th-2c">Indicator</th>
                    <td><%= select_tag :acct_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :grp_name_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :ult_grp_name_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :tier_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :grp_rt_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :ult_grp_rt_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-1 t3">Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2 w-lg">City</th>
                    <th class="th-2 w-xxsm">State</th>
                    <th class="th-2 w-xsm">Zip</th>
                    <th class="th-2 w-md">Phone</th>
                </tr>
                <tr>
                    <th class="th-2">SFDC</th>

                    <td><%= text_field_tag :sfdc_street, params[:sfdc_street], placeholder: "----", class: 'form-control' %></td>

                    <td><%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_state, params[:sfdc_state], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_zip, params[:sfdc_zip], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_ph, params[:sfdc_ph], placeholder: "----", class: 'form-control' %></td>
                </tr>
                <tr>
                    <th class="th-2">Matched</th>
                    <td><%= text_field_tag :site_street, params[:site_street], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_city, params[:site_city], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_state, params[:site_state], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_zip, params[:site_zip], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :site_ph, params[:site_ph], placeholder: "----", class: 'form-control' %></td>
                </tr>
                <tr>
                    <th class="th-2">Indicator</th>
                    <td><%= select_tag :street_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :city_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :state_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :zip_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :ph_indicator, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-1 t3">Digital</th>
                    <th class="th-2">Website</th>
                    <th class="th-2">Root</th>
                    <th class="th-2">Template</th>
                    <th class="th-2">IP</th>
                    <th class="th-2">DNS-1</th>
                    <th class="th-2">DNS-2</th>
                </tr>
                <tr>
                    <th class="th-2">SFDC</th>
                    <td><%= text_field_tag :sfdc_url, params[:sfdc_url], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_root, params[:sfdc_root], placeholder: "----", class: 'form-control' %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2">Matched</th>
                    <td><%= text_field_tag :matched_url, params[:matched_url], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :matched_root, params[:matched_root], placeholder: "----", class: 'form-control' %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2">Indicator</th>
                    <td><%= select_tag :url_comparison, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :root_comparison, options_for_select(comparison_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-1 t3">Modules</th>
                    <th class="th-2">Accounts</th>
                    <th class="th-2">Domainer</th>
                    <th class="th-2">Staff Index</th>
                    <th class="th-2">Location Index</th>
                    <th class="th-2">Inventory Index</th>
                    <th class="th-2">Contacts</th>
                    <th class="th-2">WhoIs</th>
                </tr>
                <tr>
                    <th class="th-2">Status</th>
                    <td><%= select_tag :bds_status, options_for_select(bds_status_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td></td>
                    <td><%= select_tag :staff_indexer_status, options_for_select(indexer_status_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :location_indexer_status, options_for_select(indexer_status_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td></td>

                    <td><%= select_tag :staffer_status, options_for_select(staffer_status_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>


                    <td></td>
                </tr>
                <tr>
                    <th class="th-2">Date</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="th-2">Link</th>
                    <td></td>
                    <td></td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td>link</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- search-container Ends -->

<%= submit_tag "Search", class: 'wide-button blue-button' %>
<% end %>
