<h1 class="page-header">Accounts</h1>
<h4 class="text-center">Accounts from All Sources</h4>
<h3 class="section-header">Search Accounts</h3>

<h4>Total Accounts: <%= number_with_delimiter(@cores_count) %></h4>

<%= form_tag "/search_result_page_core", method: :post do %>

<div class="text-nowrap theme-layout search-container">


    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">Source</th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2">Type:</th>
                    <th class="th-2">Sales Tier</th>
                    <th class="th-2">Sales Person:</th>
                    <th class="th-2">SFDC ID:</th>
                </tr>
                <tr>
                    <td><%= select_tag :alt_source, options_for_select(@alt_source_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_group, params[:sfdc_group], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_ult_grp, params[:sfdc_ult_grp], placeholder: "----", class: 'form-control' %></td>
                    <td><%= select_tag :sfdc_type, options_for_select(@sfdc_type_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sfdc_tier, options_for_select(@sfdc_tier_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sfdc_sales_person, options_for_select(@sfdc_sales_person_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td ><%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "----", class: 'form-control' %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">Coordinates</th>
                    <th class="th-2">Full Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2">City</th>
                    <th class="th-2">State</th>
                    <th class="th-2">Zip</th>
                    <th class="th-2">Phone</th>
                </tr>
                <tr>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :coordinates } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :full_address } %></td>
                    <td><%= text_field_tag :sfdc_street, params[:sfdc_street], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "----", class: 'form-control' %></td>
                    <td><%= select_tag :sfdc_state, options_for_select(@state_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= text_field_tag :sfdc_zip, params[:sfdc_zip], placeholder: "----", class: 'form-control' %></td>
                    <td><%= text_field_tag :sfdc_ph, params[:sfdc_ph], placeholder: "----", class: 'form-control' %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">Website</th>
                    <th class="th-2">Franchise:</th>
                    <th class="th-2">Store Type:</th>
                    <th class="th-2">Template</th>
                </tr>
                <tr>
                    <td><%= text_field_tag :sfdc_url, params[:sfdc_url], placeholder: "----", class: 'form-control' %></td>
                    <td><%= select_tag :sfdc_franch_cons, options_for_select(@franch_cons_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sfdc_franch_cat, options_for_select(@franch_cat_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :template, options_for_select(@template_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table core-search-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">Account Status</th>
                    <th class="th-2">Contact Status</th>
                    <th class="th-2">Merge Status</th>
                    <th class="th-2">Match Score</th>
                    <th class="th-2">Name Match</th>
                    <th class="th-2">Pin Match</th>
                    <th class="th-2">URL Match</th>
                    <th class="th-2">Phone Match</th>
                </tr>
                <tr>
                    <td><%= select_tag :bds_status, options_for_select(@bds_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :staffer_sts, options_for_select(@staffer_sts_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :acct_merge_sts, options_for_select(@holding_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :match_score, options_for_select(@holding_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :acct_match_sts, options_for_select(@holding_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :pin_match_sts, options_for_select(@holding_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :url_match_sts, options_for_select(@holding_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :ph_match_sts, options_for_select(@holding_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- search-container Ends -->


<div class="radio">
    <label><%= radio_button_tag 'view_mode', 'list', true %> List View</label>
</div>
<div class="radio">
    <label><%= radio_button_tag 'view_mode', 'detail' %> Detail View</label>
</div>


<%= submit_tag "Search", class: 'wide-button blue-button' %>
<% end %>
