<%= form_for(indexer_staff) do |f| %>
  <% if indexer_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(indexer_staff.errors.count, "error") %> prohibited this indexer_staff from being saved:</h2>

      <ul>
      <% indexer_staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :indexer_status %>
    <%= f.text_field :indexer_status %>
  </div>

  <div class="field">
    <%= f.label :sfdc_acct %>
    <%= f.text_field :sfdc_acct %>
  </div>

  <div class="field">
    <%= f.label :sfdc_group_name %>
    <%= f.text_field :sfdc_group_name %>
  </div>

  <div class="field">
    <%= f.label :sfdc_ult_acct %>
    <%= f.text_field :sfdc_ult_acct %>
  </div>

  <div class="field">
    <%= f.label :root %>
    <%= f.text_field :root %>
  </div>

  <div class="field">
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </div>

  <div class="field">
    <%= f.label :ip %>
    <%= f.text_field :ip %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :href %>
    <%= f.text_field :href %>
  </div>

  <div class="field">
    <%= f.label :staff_link %>
    <%= f.text_field :staff_link %>
  </div>

  <div class="field">
    <%= f.label :msg %>
    <%= f.text_field :msg %>
  </div>

  <div class="field">
    <%= f.label :sfdc_street %>
    <%= f.text_field :sfdc_street %>
  </div>

  <div class="field">
    <%= f.label :sfdc_city %>
    <%= f.text_field :sfdc_city %>
  </div>

  <div class="field">
    <%= f.label :sfdc_state %>
    <%= f.text_field :sfdc_state %>
  </div>

  <div class="field">
    <%= f.label :sfdc_type %>
    <%= f.text_field :sfdc_type %>
  </div>

  <div class="field">
    <%= f.label :sfdc_tier %>
    <%= f.text_field :sfdc_tier %>
  </div>

  <div class="field">
    <%= f.label :sfdc_sales_person %>
    <%= f.text_field :sfdc_sales_person %>
  </div>

  <div class="field">
    <%= f.label :sfdc_id %>
    <%= f.text_field :sfdc_id %>
  </div>

  <div class="field">
    <%= f.label :updated_at %>
    <%= f.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
