<h1 class="text-center">Staff Indexer</h1><br><br>

<div class="pull-right">
    <%= render partial: 'buttons' %>
</div><br><br>

<%= form_tag "/indexer_staffs", method: :get, class: 'form-inline'  do %>
<table class="list-table table table-bordered table-hover text-nowrap table-striped">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>
            <th>#</th>

            <th>Indexer Status<br><%= render partial: 'layouts/select_tag', locals: { col: :indexer_status } %></th>

            <th>SFDC Account<br><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_acct } %></th>
            <th>SFDC Group<br><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_group_name } %></th>
            <th>SFDC Ult Acct<br><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_acct } %></th>
            <th>Domain<br><%= render partial: 'layouts/text_field_tag', locals: { col: :domain } %></th>
            <th>IP<br><%= render partial: 'layouts/text_field_tag', locals: { col: :ip } %></th>
            <th>Text<br><%= render partial: 'layouts/text_field_tag', locals: { col: :text } %></th>
            <th>Href<br><%= render partial: 'layouts/text_field_tag', locals: { col: :href } %></th>
            <th>Staff Link<br><%= render partial: 'layouts/text_field_tag', locals: { col: :link } %></th>
            <th>SFDC ID<br><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %></th>
            <th>Indexer Timestamp<br><%= render partial: 'layouts/text_field_tag', locals: { col: :indexer_timestamp } %></th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @indexer_staffs.each do |indexer_staff| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  indexer_staff.id %></td>
            <% num +=1 %>
            <td><%= num %></td>
            <td><%= indexer_staff.indexer_status %></td>
            <td><%= indexer_staff.sfdc_acct %></td>
            <td><%= indexer_staff.sfdc_group_name %></td>
            <td><%= indexer_staff.sfdc_ult_acct %></td>
            <td><%= link_to indexer_staff.domain, indexer_staff.domain, :target => "_blank" %></td>
            <td><%= indexer_staff.ip %></td>
            <td><%= indexer_staff.text %></td>
            <td><%= indexer_staff.href %></td>
            <td><%= link_to indexer_staff.link, indexer_staff.link, :target => "_blank" %></td>
            <td><%= indexer_staff.sfdc_id %></td>
            <td><%= indexer_staff.indexer_timestamp %></td>
            <td><%= link_to 'Show', indexer_staff %></td>
            <td><%= link_to 'Edit', edit_indexer_staff_path(indexer_staff) %></td>
            <td><%= link_to 'Destroy', indexer_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <div class="submit-button-area">
        <%= select_tag :selected_status, options_for_select(indexer_status_list), include_blank: '-- Update Status --', class: 'selectpicker' %>
    </div>
    <div class="submit-button-area">
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>
</div>
<% end %>

<div class="pull-right">
    <%= render partial: 'buttons' %>
</div> <br>

<%= will_paginate @indexer_staffs, renderer: BootstrapPagination::Rails  %>

<br>
