<p id="notice"><%= notice %></p>

<h1 class="text-center">Staff Indexer</h1>
<br><br>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_indexer_staff_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', indexer_staff_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', indexer_staffs_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br>
<br>

<%= form_tag "/indexer_staffs", method: :get, class: 'form-inline'  do %>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>


            <th>#</th>

            <!-- <th>Indexer status</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :indexer_status, params[:indexer_status], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Indexer status
                </div>
            </th>

            <!-- <th>SFDC acct</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>SFDC acct
                </div>
            </th>

            <!-- <th>SFDC group name</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :sfdc_group_name, params[:sfdc_group_name], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>SFDC group name
                </div>
            </th>

            <!-- <th>SFDC ult acct</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :sfdc_ult_acct, params[:sfdc_ult_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>SFDC ult acct
                </div>
            </th>

            <!-- <th>Domain</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :domain, params[:domain], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Domain
                </div>
            </th>

            <!-- <th>IP</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :ip, params[:ip], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>IP
                </div>
            </th>

            <!-- <th>Text</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :text, params[:text], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Text
                </div>
            </th>

            <!-- <th>Href</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :href, params[:href], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Href
                </div>
            </th>

            <!-- <th>Staff link</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :link, params[:link], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Staff link
                </div>
            </th>

            <!-- <th>SFDC ID</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>SFDC ID
                </div>
            </th>

            <!-- <th>Indexer timestamp</th> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :indexer_timestamp, params[:indexer_timestamp], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                    <br><br>Indexer timestamp
                </div>
            </th>

            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @indexer_staffs.each do |indexer_staff| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  indexer_staff.id %></td>
            <% num +=1 %>
            <td><%= num %></td>
            <td><%= indexer_staff.indexer_status %></td>
            <td><%= Core.find(indexer_staff.core_id).sfdc_acct %></td>
            <td><%= indexer_staff.sfdc_group_name %></td>
            <td><%= indexer_staff.sfdc_ult_acct %></td>
            <td><%= link_to indexer_staff.domain, indexer_staff.domain, :target => "_blank" %></td>
            <td><%= indexer_staff.ip %></td>
            <td><%= indexer_staff.text %></td>
            <td><%= indexer_staff.href %></td>
            <td><%= link_to indexer_staff.link, indexer_staff.link, :target => "_blank" %></td>
            <td><%= indexer_staff.sfdc_id %></td>
            <td><%= indexer_staff.indexer_timestamp %></td>
            <td><%= link_to 'Show', indexer_staff %></td>
            <td><%= link_to 'Edit', edit_indexer_staff_path(indexer_staff) %></td>
            <td><%= link_to 'Destroy', indexer_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <%= submit_tag "Delete Checked", class: 'btn btn-danger' %>
</div>
<% end %>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_indexer_staff_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', criteria_indexer_staff_text_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', criteria_indexer_staff_texts_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br> <br>

<%= will_paginate @paginates, renderer: BootstrapPagination::Rails  %>

<br> <br> <br> <br>
