<h1 class="text-center">Staff Indexer</h1><br><br>

<div class="pull-right">
    <%= render partial: 'buttons' %>
</div><br><br>

<%= form_tag "/indexer_staffs", method: :get, class: 'form-inline'  do %>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>
            <th>#</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :indexer_status } %> Indexer status</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_acct } %> SFDC acct</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_group_name } %> SFDC group name</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_acct } %> SFDC ult acct</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :domain } %> Domain</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :ip } %> IP</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :text } %> Text</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :href } %> Href</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :link } %> Staff link</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %> SFDC ID</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :indexer_timestamp } %> Indexer timestamp</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @indexer_staffs.each do |indexer_staff| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  indexer_staff.id %></td>
            <% num +=1 %>
            <td><%= num %></td>
            <td><%= indexer_staff.indexer_status %></td>
            <td><%= Core.find(indexer_staff.core_id).sfdc_acct %></td>
            <td><%= Core.find(indexer_staff.core_id).sfdc_group %></td>
            <td><%= Core.find(indexer_staff.core_id).sfdc_ult_grp %></td>
            <td><%= link_to indexer_staff.domain, indexer_staff.domain, :target => "_blank" %></td>
            <td><%= indexer_staff.ip %></td>
            <td><%= indexer_staff.text %></td>
            <td><%= indexer_staff.href %></td>
            <td><%= link_to indexer_staff.link, indexer_staff.link, :target => "_blank" %></td>
            <td><%= Core.find(indexer_staff.core_id).sfdc_id %></td>
            <td><%= indexer_staff.indexer_timestamp %></td>
            <td><%= link_to 'Show', indexer_staff %></td>
            <td><%= link_to 'Edit', edit_indexer_staff_path(indexer_staff) %></td>
            <td><%= link_to 'Destroy', indexer_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <%= select_tag :selected_status, options_for_select(indexer_status_list), include_blank: '-- Update Status --', class: 'selectpicker' %>
    <%= submit_tag "Submit", class: 'btn btn-success' %>
</div>
<% end %>

<div class="pull-right">
    <%= render partial: 'buttons' %>
</div><br><br>

<%#= will_paginate @paginates, renderer: BootstrapPagination::Rails  %>
<br><br><br><br>
