<p id="notice"><%= notice %></p>

<p>
  <strong>Indexer status:</strong>
  <%= @indexer_staff.indexer_status %>
</p>

<p>
  <strong>Sfdc acct:</strong>
  <%= @indexer_staff.sfdc_acct %>
</p>

<p>
  <strong>Sfdc group name:</strong>
  <%= @indexer_staff.sfdc_group_name %>
</p>

<p>
  <strong>Sfdc ult acct:</strong>
  <%= @indexer_staff.sfdc_ult_acct %>
</p>

<p>
  <strong>Root:</strong>
  <%= @indexer_staff.root %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @indexer_staff.domain %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @indexer_staff.ip %>
</p>

<p>
  <strong>Text:</strong>
  <%= @indexer_staff.text %>
</p>

<p>
  <strong>Href:</strong>
  <%= @indexer_staff.href %>
</p>

<p>
  <strong>Staff link:</strong>
  <%= @indexer_staff.staff_link %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @indexer_staff.msg %>
</p>

<p>
  <strong>Sfdc street:</strong>
  <%= @indexer_staff.sfdc_street %>
</p>

<p>
  <strong>Sfdc city:</strong>
  <%= @indexer_staff.sfdc_city %>
</p>

<p>
  <strong>Sfdc state:</strong>
  <%= @indexer_staff.sfdc_state %>
</p>

<p>
  <strong>Sfdc type:</strong>
  <%= @indexer_staff.sfdc_type %>
</p>

<p>
  <strong>Sfdc tier:</strong>
  <%= @indexer_staff.sfdc_tier %>
</p>

<p>
  <strong>Sfdc sales person:</strong>
  <%= @indexer_staff.sfdc_sales_person %>
</p>

<p>
  <strong>Sfdc:</strong>
  <%= @indexer_staff.sfdc_id %>
</p>

<p>
  <strong>Indexer timestamp:</strong>
  <%= @indexer_staff.indexer_timestamp %>
</p>

<%= link_to 'Edit', edit_indexer_staff_path(@indexer_staff) %> |
<%= link_to 'Back', indexer_staffs_path %>
