<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Developer Only</h1>

        <!-- Power buttons for development -->
        <%= render partial: 'starters_power' %>

        <!-- Dashboard buttons -->
        <%= render partial: 'starters_dashboard' %>

        <!-- Finalizer buttons -->
        <%= render partial: 'starters_finalizer' %>

        <!-- Formatter buttons -->
        <%= render partial: 'starters_formatter' %>

        <!-- Scraper buttons -->
        <%= render partial: 'starters_scraper' %>

        <!-- Location buttons -->
        <%#= render partial: 'starters_location' %>

    </div>
</div>
