<div class="row text-center pageHeading">
    <div class="col-md-6">
        <h1>System Starters</h1>
    </div>
</div>

<div id="admin-starter" class="scr-prof-net scr-prof">
    <table class="table table-bordered no-wrap">
        <thead>
            <tr>
                <th>Module</th>
                <th>Download CSV</th>
                <th>Import CSV</th>
                <th>Add Record</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Accounts</td>
                <td><%= link_to 'Download CSV', cores_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', core_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_core_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr>
                <td>Contacts</td>
                <td><%= link_to 'Download CSV', staffers_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', staffer_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_staffer_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr>
                <td>Scraper</td>
                <td><%= link_to 'Download CSV', indexers_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', indexer_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_indexer_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr>
                <td>WhoIs</td>
                <td><%= link_to 'Download CSV', whos_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', who_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_who_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr>
                <td>GeoLocations</td>
                <td><%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_location_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr>
                <td>Dashboards</td>
                <td><%= link_to 'Download CSV', dashboards_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', dashboard_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_dashboard_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr><th>Admin</th><th></th><th></th><th></th></tr>
            <tr>
                <td>Franchises List</td>
                <td><%= link_to 'Download CSV', in_host_pos_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', in_host_po_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_in_host_po_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <tr>
                <td>Scraper Criteria</td>
                <td><%= link_to 'Download CSV', indexer_terms_path(format: "csv"), class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Import CSV', indexer_term_import_page_path, class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Add Record', new_indexer_term_path, class: 'btn btn-primary btn-xs' %></td>
            </tr>
            <!--
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
        </tbody>
    </table>
</div><br>

<%#= render partial: 'power_buttons' %>
