<%= form_for(gcse) do |f| %>
  <% if gcse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gcse.errors.count, "error") %> prohibited this gcse from being saved:</h2>

      <ul>
      <% gcse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gcse_timestamp %>
    <%= f.datetime_select :gcse_timestamp %>
  </div>

  <div class="field">
    <%= f.label :gcse_query_num %>
    <%= f.number_field :gcse_query_num %>
  </div>

  <div class="field">
    <%= f.label :gcse_result_num %>
    <%= f.number_field :gcse_result_num %>
  </div>

  <div class="field">
    <%= f.label :sfdc_id %>
    <%= f.text_field :sfdc_id %>
  </div>

  <div class="field">
    <%= f.label :sfdc_ult_acct %>
    <%= f.text_field :sfdc_ult_acct %>
  </div>

  <div class="field">
    <%= f.label :sfdc_acct %>
    <%= f.text_field :sfdc_acct %>
  </div>

  <div class="field">
    <%= f.label :sfdc_type %>
    <%= f.text_field :sfdc_type %>
  </div>

  <div class="field">
    <%= f.label :sfdc_street %>
    <%= f.text_field :sfdc_street %>
  </div>

  <div class="field">
    <%= f.label :sfdc_city %>
    <%= f.text_field :sfdc_city %>
  </div>

  <div class="field">
    <%= f.label :sfdc_state %>
    <%= f.text_field :sfdc_state %>
  </div>

  <div class="field">
    <%= f.label :sfdc_url_o %>
    <%= f.text_field :sfdc_url_o %>
  </div>

  <div class="field">
    <%= f.label :domain_status %>
    <%= f.text_field :domain_status %>
  </div>

  <div class="field">
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </div>

  <div class="field">
    <%= f.label :root %>
    <%= f.text_field :root %>
  </div>

  <div class="field">
    <%= f.label :suffix %>
    <%= f.text_field :suffix %>
  </div>

  <div class="field">
    <%= f.label :in_host_pos %>
    <%= f.text_field :in_host_pos %>
  </div>

  <div class="field">
    <%= f.label :in_host_neg %>
    <%= f.text_field :in_host_neg %>
  </div>

  <div class="field">
    <%= f.label :in_host_del %>
    <%= f.text_field :in_host_del %>
  </div>

  <div class="field">
    <%= f.label :in_suffix_del %>
    <%= f.text_field :in_suffix_del %>
  </div>

  <div class="field">
    <%= f.label :exclude_root %>
    <%= f.text_field :exclude_root %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :in_text_pos %>
    <%= f.text_field :in_text_pos %>
  </div>

  <div class="field">
    <%= f.label :in_text_neg %>
    <%= f.text_field :in_text_neg %>
  </div>

  <div class="field">
    <%= f.label :in_text_del %>
    <%= f.text_field :in_text_del %>
  </div>

  <div class="field">
    <%= f.label :url_encoded %>
    <%= f.text_field :url_encoded %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
