<p id="notice"><%= notice %></p>

<h1 class="text-center">Domainer</h1><br><br>
<div class="pull-right">
    <%= link_to 'Add Record', new_gcse_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', gcse_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', gcses_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%= form_tag "/gcses", method: :get, class: 'form-inline'  do %>
<table class="table table-bordered table-hover">
    <thead>
        <%= submit_tag "Submit", class: 'btn btn-success' %>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>
            <th>#</th>
            <th><%= render partial: 'layouts/select_tag', locals: { col: :domain_status } %> Domain Status</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_root } %> SFDC Root</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :root } %> New Root</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_acct } %> SFDC Acct</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_ult_acct } %> SFDC Ult Acct</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_url_o } %> SFDC Url</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :domain } %> New Domain</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_street } %> SFDC Street</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_city } %> SFDC City</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_state } %> SFDC State</th>
            <th><%= render partial: 'layouts/sfdc_select_tag', locals: { col: :sfdc_type } %> SFDC Type</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :gcse_result_num } %> GCSE Result Num</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :gcse_query_num } %> GCSE Query Num</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %> SFDC ID</th>
            <th><%= render partial: 'layouts/text_field_tag', locals: { col: :gcse_timestamp } %> Domainer Date</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @gcses.each do |gcse| %>
            <tr>
                <td><%= check_box_tag "status_checks[]",  gcse.id %></td>
                <% num += 1 %>
                <td><%= num %></td>
                <td><%= gcse.domain_status %></td>
                <td><%=  gcse.core.sfdc_root%></td>
                <td class="yellow"><%= gcse.root %></td>
                <td class="yellow"><%= gcse.core.sfdc_acct %></td>
                <td><%= gcse.core.sfdc_ult_grp %></td>
                <td><%= link_to gcse.core.sfdc_url, "http://#{gcse.core.sfdc_url}", :target => "_blank" %></td>
                <td class="yellow"><%= link_to gcse.domain, gcse.domain, :target => "_blank" %></td>
                <td><%= gcse.core.sfdc_street %></td>
                <td><%= gcse.core.sfdc_city %></td>
                <td><%= gcse.core.sfdc_state %></td>
                <td><%= gcse.core.sfdc_type %></td>
                <td><%= gcse.gcse_result_num %></td>
                <td><%= gcse.gcse_query_num %></td>
                <td><%= gcse.core.sfdc_id %></td>
                <td><%= gcse.gcse_timestamp%></td>
                <td><%#= gcse.gcse_timestamp.strftime("%m/%d/%Y") %></td>

                <td><%= link_to 'Show', gcse %></td>
                <td><%= link_to 'Edit', edit_gcse_path(gcse) %></td>
                <td><%= link_to 'Destroy', gcse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %> <!-- @gcses.each loop ends -->
    </tbody>
</table>

<div class="pull-left">
    <div class="form-group">
        <%= select_tag :selected_status, options_for_select(status_list), include_blank: '-- Update Domain Status --', class: 'selectpicker' %>
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>
</div>

<% end %> <!-- Filter Headers Form tag ends -->

<div class="pull-right">
    <%= link_to 'Add Record', new_gcse_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', gcse_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', gcses_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%# will_paginate @gcses %>
<%= will_paginate @gcses, renderer: BootstrapPagination::Rails  %>
