<!-- <h4>Total Contacts: <%= number_with_delimiter(@staffer_count) %></h4>

<h4>Selected Contacts: <%= number_with_delimiter(@selected_staffer_count) %></h4> -->


<p id="notice"><%= notice %></p>

<h2 class="page-header">Domainer</h2>

<div class="pull-right">
    <%= link_to 'Add Record', new_gcse_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', gcse_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', gcses_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%= form_tag "/gcses", method: :get, class: 'form-inline'  do %>
<table class="list-table table table-bordered table-hover text-nowrap table-striped">
    <thead>
        <!-- <tr id="exclude-col-select">
            <div class="form-group"> -->
                <%#= select_tag :columns, options_for_select(column_list, params[:columns]), title: 'Exclude Columns', multiple: true, class: 'selectpicker', title: "[]" %>
                <%= submit_tag "Submit", class: 'btn btn-success' %>
            <!-- </div>
        </tr> -->
        <tr>
            <th>
                <%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %>
            </th>

            <th>#</th>

            <!-- <% unless @col_domain_status %> -->
            <th>
                <div class="form-group">
                    <%= select_tag :domain_status, options_for_select(ordered_list(@selected_data.select(:domain_status).map(&:domain_status)), params[:domain_status]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>Domain Status
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_root %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :sfdc_root, params[:sfdc_root], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :sfdc_root, options_for_select(ordered_list(@selected_data.select(:sfdc_root).map(&:sfdc_root)), params[:sfdc_root]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC Root
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_root %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :root, params[:root], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :root, options_for_select(ordered_list(@selected_data.select(:root).map(&:root)), params[:root]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>New Root
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_acct %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :sfdc_acct, options_for_select(blank_remover(ordered_list(@selected_data.select(:sfdc_acct).map(&:sfdc_acct))), params[:sfdc_acct]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC Acct
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_ult_acct %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :sfdc_ult_acct, params[:sfdc_ult_acct], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :sfdc_ult_acct, options_for_select(blank_remover(ordered_list(@selected_data.select(:sfdc_ult_acct).map(&:sfdc_ult_acct))), params[:sfdc_ult_acct]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC Ult Acct
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_url_o %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :sfdc_url_o, params[:sfdc_url_o], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :sfdc_url_o, options_for_select(blank_remover(ordered_list(@selected_data.select(:sfdc_url_o).map(&:sfdc_url_o))), params[:sfdc_url_o]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC Url
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_domain %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :domain, params[:domain], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :domain, options_for_select(ordered_list(@selected_data.select(:domain).map(&:domain)), params[:domain]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>New Domain
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_street %> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :sfdc_street, params[:sfdc_street], placeholder: "----", class: 'form-control' %>
                    <br><br>SFDC Street
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_city %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :sfdc_city, options_for_select(ordered_list(@selected_data.select(:sfdc_city).map(&:sfdc_city)), params[:sfdc_city]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC City
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_state %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :sfdc_state, params[:sfdc_state], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :sfdc_state, options_for_select(ordered_list(@selected_data.select(:sfdc_state).map(&:sfdc_state)), params[:sfdc_state]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC State
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_type %> -->
            <th>
                <div class="form-group">
                    <%= select_tag :sfdc_type, options_for_select(ordered_list(@selected_data.select(:sfdc_type).map(&:sfdc_type)), params[:sfdc_type]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>SFDC Type
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_gcse_result_num %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :gcse_result_num, params[:gcse_result_num], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :gcse_result_num, options_for_select(ordered_list(@selected_data.select(:gcse_result_num).map(&:gcse_result_num)), params[:gcse_result_num]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>GCSE Result Num
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_gcse_query_num %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :gcse_query_num, params[:gcse_query_num], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :gcse_query_num, options_for_select(ordered_list(@selected_data.select(:gcse_query_num).map(&:gcse_query_num)), params[:gcse_query_num]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>GCSE Query Num
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_sfdc_id %> -->
            <th>
                <div class="form-group">
                    <%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "----", class: 'form-control' %>
                    <br><br>SFDC ID
                </div>
            </th>
            <!-- <% end %>

            <% unless @col_gcse_timestamp %> -->
            <th>
                <div class="form-group">

                    <%= text_field_tag :gcse_timestamp, params[:gcse_timestamp], placeholder: "----", class: 'form-control' %>
                    <!-- == Change to Keyword Search == -->

                    <%#= select_tag :gcse_timestamp, options_for_select(formatted_date_list(ordered_list(@selected_data.select(:gcse_timestamp).map(&:gcse_timestamp))), params[:gcse_timestamp]), multiple: true, class: 'selectpicker', title: "[]" %>
                    <br><br>Domainer Date
                </div>
            </th>
            <!-- <% end %> -->

            <th colspan="3">
            </th>
        </tr> <!--  -->
    </thead>

    <tbody>
        <% num = 0 %>
        <% @gcses.each do |gcse| %>
        <tr>
            <td><%= check_box_tag "status_checks[]",  gcse.id %></td>

            <% num += 1 %>
            <td><%= num %></td>

            <!-- <% unless @col_domain_status %> -->
            <td><%= gcse.domain_status %></td>
            <!-- <% end %>

            <% unless @col_sfdc_root %> -->
            <td><%= gcse.sfdc_root %></td>
            <!-- <% end %>

            <% unless @col_root %> -->
            <td class="yellow"><%= gcse.root %></td>
            <!-- <% end %>

            <% unless @col_sfdc_acct %> -->
            <td class="yellow"><%= gcse.sfdc_acct %></td>
            <!-- <% end %>

            <% unless @col_sfdc_ult_acct %> -->
            <td><%= gcse.sfdc_ult_acct %></td>
            <!-- <% end %>

            <% unless @col_sfdc_url_o %> -->
            <td><%= link_to gcse.sfdc_url_o, "http://#{gcse.sfdc_url_o}", :target => "_blank" %></td>
            <!-- <% end %>

            <% unless @col_domain %> -->
            <td class="yellow"><%= link_to gcse.domain, gcse.domain, :target => "_blank" %></td>
            <!-- <% end %>

            <% unless @col_sfdc_street %> -->
            <td><%= gcse.sfdc_street %></td>
            <!-- <% end %>

            <% unless @col_sfdc_city %> -->
            <td><%= gcse.sfdc_city %></td>
            <!-- <% end %>

            <% unless @col_sfdc_state %> -->
            <td><%= gcse.sfdc_state %></td>
            <!-- <% end %>

            <% unless @col_sfdc_type %> -->
            <td><%= gcse.sfdc_type %></td>
            <!-- <% end %>

            <% unless @col_gcse_result_num %> -->
            <td><%= gcse.gcse_result_num %></td>
            <!-- <% end %>

            <% unless @col_gcse_query_num %> -->
            <td><%= gcse.gcse_query_num %></td>
            <!-- <% end %>

            <% unless @col_sfdc_id %> -->
            <td><%= gcse.sfdc_id %></td>
            <!-- <% end %>

            <% unless @col_gcse_timestamp %> -->
            <td><%= gcse.gcse_timestamp%></td>
            <td><%#= gcse.gcse_timestamp.strftime("%m/%d/%Y") %></td>
            <!-- <% end %> -->

            <td><%= link_to 'Show', gcse %></td>
            <td><%= link_to 'Edit', edit_gcse_path(gcse) %></td>
            <td><%= link_to 'Destroy', gcse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %> <!-- @gcses.each loop ends -->
    </tbody>
</table>

<div class="pull-left">
    <div class="form-group">
        <div class="submit-button-area">
            <%= select_tag :selected_status, options_for_select(status_list), include_blank: '-- Update Domain Status --', class: 'selectpicker', title: "[]" %>
        </div>
        <div class="submit-button-area">
            <%= submit_tag "Submit", class: 'btn btn-success' %>
        </div>
    </div>
</div>

<% end %> <!-- Filter Headers Form tag ends -->

<div class="pull-right">
    <%= link_to 'Add Record', new_gcse_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', gcse_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', gcses_path(format: "csv"), class: 'btn btn-primary' %>
</div> </br>

<%= will_paginate @gcses, renderer: BootstrapPagination::Rails  %>

</br>
