<p id="notice"><%= notice %></p>

<h3 class="page-header">Search Domainer</h3>

<!-- Testing Version -->
<!-- My Panel Starts-->
<div class="panel panel-default"> <!-- Panel Begins -->
    <div class="panel-heading"> <!-- panel heading begins -->
        <h3 class="panel-title">Search Domainer</h3>
    </div> <!-- panel heading ends -->

    <div class="panel-body"> <!-- panel body begins -->
        <%= form_tag "/search_result_page_gcse", method: :post  do %>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :domain_status, "Domain Status" %>

                    <%= select_tag :domain_status, options_for_select(status_list), multiple: true, class: 'selectpicker form-control', title: "[]" %>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :sfdc_type, "SFDC Type" %>
                    <%= select_tag :sfdc_type, options_for_select(sfdc_type_list), multiple: true, class: 'selectpicker form-control', title: "[]" %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :gcse_result_num, "Result #" %>
                    <!-- == Change to Keyword Search == -->
                    <%= text_field_tag :gcse_result_num, params[:gcse_result_num], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%#= label_tag :gcse_timestamp, "Query Date" %>
                    <!-- == Change to Keyword Search == -->
                    <%#= text_field_tag :gcse_timestamp, params[:gcse_timestamp], placeholder: "-- Enter Keyword --", class: 'form-control' %>

                    <%#= select_tag :gcse_timestamp, options_for_select(ordered_list(Gcse.select(:gcse_timestamp).map(&:gcse_timestamp))), multiple: true, class: 'selectpicker form-control' %>

                </div>
            </div>

        </div> <!-- /.row -->

        <div class="row">

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :sfdc_acct, "Account Name" %>
                    <!-- == Change to Keyword Search == -->
                    <%= text_field_tag :sfdc_acct, params[:sfdc_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :sfdc_ult_acct, "Ultimate Group Name" %>
                    <!-- == Change to Keyword Search == -->
                    <%= text_field_tag :sfdc_ult_acct, params[:sfdc_ult_acct], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <%= label_tag :sfdc_id, "SFDC ID" %>
                    <%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <%= label_tag :sfdc_city, "City" %>
                    <!-- == Change to Keyword Search == -->
                    <%= text_field_tag :sfdc_city, params[:sfdc_city], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <%= label_tag :sfdc_state, "State" %>
                    <%= text_field_tag :sfdc_state, params[:sfdc_state], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :sfdc_root, "SFDC Root" %>
                    <%= text_field_tag :sfdc_root, params[:sfdc_root], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :root, "New Root" %>
                    <%= text_field_tag :root, params[:root], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :sfdc_url_o, "SFDC URL" %>
                    <%= text_field_tag :sfdc_url_o, params[:sfdc_url_o], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <%= label_tag :domain, "New URL" %>
                    <%= text_field_tag :domain, params[:domain], placeholder: "-- Enter Keyword --", class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="row">
        </div> <!-- /.row -->
        <%= submit_tag "Search", class: 'btn btn-primary pull-right' %>
        <% end %>
    </div> <!-- My Panel Body Ends -->
</div> <!-- My Panel Ends -->
<!-- Testing Version Ends-->
