<p id="notice"><%= notice %></p>

<p>
  <strong>Gcse timestamp:</strong>
  <%= @gcse.gcse_timestamp %>
</p>

<p>
  <strong>Gcse query num:</strong>
  <%= @gcse.gcse_query_num %>
</p>

<p>
  <strong>Gcse result num:</strong>
  <%= @gcse.gcse_result_num %>
</p>

<p>
  <strong>Sfdc:</strong>
  <%= @gcse.sfdc_id %>
</p>

<p>
  <strong>Sfdc ult acct:</strong>
  <%= @gcse.sfdc_ult_acct %>
</p>

<p>
  <strong>Sfdc acct:</strong>
  <%= @gcse.sfdc_acct %>
</p>

<p>
  <strong>Sfdc type:</strong>
  <%= @gcse.sfdc_type %>
</p>

<p>
  <strong>Sfdc street:</strong>
  <%= @gcse.sfdc_street %>
</p>

<p>
  <strong>Sfdc city:</strong>
  <%= @gcse.sfdc_city %>
</p>

<p>
  <strong>Sfdc state:</strong>
  <%= @gcse.sfdc_state %>
</p>

<p>
  <strong>Sfdc url o:</strong>
  <%= @gcse.sfdc_url_o %>
</p>

<p>
  <strong>Domain status:</strong>
  <%= @gcse.domain_status %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @gcse.domain %>
</p>

<p>
  <strong>Root:</strong>
  <%= @gcse.root %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @gcse.suffix %>
</p>

<p>
  <strong>In host pos:</strong>
  <%= @gcse.in_host_pos %>
</p>

<p>
  <strong>Exclude root:</strong>
  <%= @gcse.exclude_root %>
</p>

<p>
  <strong>Text:</strong>
  <%= @gcse.text %>
</p>

<p>
  <strong>In text pos:</strong>
  <%= @gcse.in_text_pos %>
</p>

<p>
  <strong>In text del:</strong>
  <%= @gcse.in_text_del %>
</p>

<%= link_to 'Edit', edit_gcse_path(@gcse) %> |
<%= link_to 'Back', gcses_path %>
