<%= form_for(solitary) do |f| %>
  <% if solitary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solitary.errors.count, "error") %> prohibited this solitary from being saved:</h2>

      <ul>
      <% solitary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :solitary_root %>
    <%= f.text_field :solitary_root %>
  </div>

  <div class="field">
    <%= f.label :solitary_url %>
    <%= f.text_field :solitary_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
