<p id="notice"><%= notice %></p>

<h1>Solitaries</h1>


<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_solitary_path, class: 'btn btn-primary' %>
    <%#= link_to 'Import CSV', import_page_path, class: 'btn btn-primary' %>
    <%#= link_to 'Download CSV', gcses_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Solitary Root</th>
      <th>Solitary Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solitaries.each do |solitary| %>
      <tr>
        <td><%= solitary.solitary_root %></td>
        <td><%= solitary.solitary_url %></td>
        <td><%= link_to 'Show', solitary %></td>
        <td><%= link_to 'Edit', edit_solitary_path(solitary) %></td>
        <td><%= link_to 'Destroy', solitary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
