<p id="notice"><%= notice %></p>

<p>
  <strong>Solitary root:</strong>
  <%= @solitary.solitary_root %>
</p>

<p>
  <strong>Solitary url:</strong>
  <%= @solitary.solitary_url %>
</p>

<%= link_to 'Edit', edit_solitary_path(@solitary) %> |
<%= link_to 'Back', solitaries_path %>
