<p id="notice"><%= notice %></p>

<h1>Indexer Terms</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Sub category</th>
      <th>Criteria term</th>
      <th>Response term</th>
      <th>Criteria count</th>
      <th>Response count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indexer_terms.each do |indexer_term| %>
      <tr>
        <td><%= indexer_term.category %></td>
        <td><%= indexer_term.sub_category %></td>
        <td><%= indexer_term.criteria_term %></td>
        <td><%= indexer_term.response_term %></td>
        <td><%= indexer_term.criteria_count %></td>
        <td><%= indexer_term.response_count %></td>
        <td><%= link_to 'Show', indexer_term %></td>
        <td><%= link_to 'Edit', edit_indexer_term_path(indexer_term) %></td>
        <td><%= link_to 'Destroy', indexer_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indexer Term', new_indexer_term_path %>
