<%= form_for(criteria_indexer_staff_text) do |f| %>
  <% if criteria_indexer_staff_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criteria_indexer_staff_text.errors.count, "error") %> prohibited this criteria_indexer_staff_text from being saved:</h2>

      <ul>
      <% criteria_indexer_staff_text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term %>
    <%= f.text_field :term %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
