<p id="notice"><%= notice %></p>

<h1 class="text-center">Indexer Staff</h1>
<h4 class="text-center">Text Criteria</h4>
<br><br>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_criteria_indexer_staff_text_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', criteria_indexer_staff_text_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', criteria_indexer_staff_texts_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br>
<br>



<%= form_tag "/criteria_indexer_staff_texts", method: :get, class: 'form-inline'  do %>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>

            <th>InSuffix Auto-Deleted</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @criteria_indexer_staff_texts.each do |criteria_indexer_staff_text| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  criteria_indexer_staff_text.id %></td>

            <td><%= criteria_indexer_staff_text.term %></td>

            <td><%= link_to 'Show', criteria_indexer_staff_text %></td>
            <td><%= link_to 'Edit', edit_criteria_indexer_staff_text_path(criteria_indexer_staff_text) %></td>

            <td><%= link_to 'Destroy', criteria_indexer_staff_text, method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <%= submit_tag "Delete Checked", class: 'btn btn-danger' %>
</div>
<% end %>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_criteria_indexer_staff_text_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', criteria_indexer_staff_text_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', criteria_indexer_staff_texts_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br>
<br>
