<p id="notice"><%= notice %></p>

<h1>Pending Verifications</h1> <br>

<div class="pull-right">
    <%= link_to 'Add Record', new_pending_verification_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', pending_verification_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', pending_verifications_path(format: "csv"), class: 'btn btn-primary' %>
</div> <br>

<%= form_tag "/pending_verifications", method: :get, class: 'form-inline'  do %>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>

            <th>#</th>

            <th>Root</th>
            <th>Domain</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% @pending_verifications.each do |pending_verification| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  pending_verification.id %></td>

            <% num +=1 %>
            <td><%= num %></td>

            <td><%= pending_verification.root %></td>
            <td><%= pending_verification.domain %></td>
            <td><%= link_to 'Show', pending_verification %></td>
            <td><%= link_to 'Edit', edit_pending_verification_path(pending_verification) %></td>
            <td><%= link_to 'Destroy', pending_verification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <%= submit_tag "Delete Checked", class: 'btn btn-danger' %>
</div>
<% end %>

<div class="pull-right">
    <%= link_to 'Add Record', new_pending_verification_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', pending_verification_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', pending_verifications_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br>
