<%= form_for(in_text_neg) do |f| %>
  <% if in_text_neg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(in_text_neg.errors.count, "error") %> prohibited this in_text_neg from being saved:</h2>

      <ul>
      <% in_text_neg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term %>
    <%= f.text_field :term %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
