<div class="row chart-box">
    <div class="col-md-6">
        <h3 class="text-center"><%= db_alias %></h3>
        <%= bar_chart model_data, colors: ["#137fa0", "#43c8f1"] %>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>col_name</th>
                        <th>col_total</th>
                        <th>item_list_total</th>
                    </tr>
                    <% cols[0...cols.length/2].each do |col| %>
                        <tr>
                            <td><%= col %></td>
                            <% totals = grap_totals(db_name, col) %>
                            <td><%= totals[0] %></td>
                            <td><%= totals[1] %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>col_name</th>
                        <th>col_total</th>
                        <th>item_list_total</th>
                    </tr>
                    <% cols[cols.length/2..-1].each do |col| %>
                        <tr>
                            <td><%= col %></td>
                            <% totals = grap_totals(db_name, col) %>
                            <td><%= totals[0] %></td>
                            <td><%= totals[1] %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>