<p id="notice"><%= notice %></p>


<h1 class="text-center">Dashboards</h1>
<br>

<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
    <div class="row" style="width: 95%; margin: auto;">
        <h3 class="section-header">Accounts Summary</h3>

        <!-- Account Stage -->
        <div class="col-md-5">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="3">Franchise Terms</th>
            </tr>
            <tr>
                <th>Term</th>
                <th>SFDC</th>
                <th>Site</th>
            </tr>
            <tr>
                <th>Total:</th>
                <td><%= @core_sfdc_franchise %></td>
                <td><%= @core_site_franchise %></td>
            </tr>
            <tr>
                <th>Acura:</th>
                <td><%= @core_sfdc_acura %></td>
                <td><%= @core_site_acura %></td>
            </tr>
            <tr>
                <th>Alfa:</th>
                <td><%= @core_sfdc_alfa %></td>
                <td><%= @core_site_alfa %></td>

            </tr>
            <tr>
                <th>Aston:</th>
                <td><%= @core_sfdc_aston %></td>
                <td><%= @core_site_aston %></td>
            </tr>
            <tr>
                <th>Audi:</th>
                <td><%= @core_sfdc_audi %></td>
                <td><%= @core_site_audi %></td>
            </tr>
            <tr>
                <th>Bentley:</th>
                <td><%= @core_sfdc_bentley %></td>
                <td><%= @core_site_bentley %></td>
            </tr>
            <tr>
                <th>Benz:</th>
                <td><%= @core_sfdc_benz %></td>
                <td><%= @core_site_benz %></td>
            </tr>
            <tr>
                <th>Bmw:</th>
                <td><%= @core_sfdc_bmw %></td>
                <td><%= @core_site_bmw %></td>
            </tr>
            <tr>
                <th>Bugatti:</th>
                <td><%= @core_sfdc_bugatti %></td>
                <td><%= @core_site_bugatti %></td>
            </tr>
            <tr>
                <th>Buick:</th>
                <td><%= @core_sfdc_buick %></td>
                <td><%= @core_site_buick %></td>
            </tr>
            <tr>
                <th>Cadillac:</th>
                <td><%= @core_sfdc_cadillac %></td>
                <td><%= @core_site_cadillac %></td>
            </tr>
            <tr>
                <th>Cdjr:</th>
                <td><%= @core_sfdc_cdjr %></td>
                <td><%= @core_site_cdjr %></td>
            </tr>
            <tr>
                <th>Chev:</th>
                <td><%= @core_sfdc_chev %></td>
                <td><%= @core_site_chev %></td>
            </tr>
            <tr>
                <th>Chevrolet:</th>
                <td><%= @core_sfdc_chevrolet %></td>
                <td><%= @core_site_chevrolet %></td>
            </tr>
            <tr>
                <th>Chevy:</th>
                <td><%= @core_sfdc_chevy %></td>
                <td><%= @core_site_chevy %></td>
            </tr>
            <tr>
                <th>Chrysler:</th>
                <td><%= @core_sfdc_chrysler %></td>
                <td><%= @core_site_chrysler %></td>
            </tr>
            <tr>
                <th>Cjd:</th>
                <td><%= @core_sfdc_cjd %></td>
                <td><%= @core_site_cjd %></td>
            </tr>
            <tr>
                <th>Corvette:</th>
                <td><%= @core_sfdc_corvette %></td>
                <td><%= @core_site_corvette %></td>
            </tr>
            <tr>
                <th>Daewoo:</th>
                <td><%= @core_sfdc_daewoo %></td>
                <td><%= @core_site_daewoo %></td>
            </tr>
            <tr>
                <th>Dodge:</th>
                <td><%= @core_sfdc_dodge %></td>
                <td><%= @core_site_dodge %></td>
            </tr>
            <tr>
                <th>Ferrari:</th>
                <td><%= @core_sfdc_ferrari %></td>
                <td><%= @core_site_ferrari %></td>
            </tr>
            <tr>
                <th>Fiat:</th>
                <td><%= @core_sfdc_fiat %></td>
                <td><%= @core_site_fiat %></td>
            </tr>
            <tr>
                <th>Ford:</th>
                <td><%= @core_sfdc_ford %></td>
                <td><%= @core_site_ford %></td>
            </tr>
            <tr>
                <th>Gm:</th>
                <td><%= @core_sfdc_gm %></td>
                <td><%= @core_site_gm %></td>
            </tr>
            <tr>
                <th>Gmc:</th>
                <td><%= @core_sfdc_gmc %></td>
                <td><%= @core_site_gmc %></td>
            </tr>
            <tr>
                <th>Honda:</th>
                <td><%= @core_sfdc_honda %></td>
                <td><%= @core_site_honda %></td>
            </tr>
            <tr>
                <th>Hummer:</th>
                <td><%= @core_sfdc_hummer %></td>
                <td><%= @core_site_hummer %></td>
            </tr>
            <tr>
                <th>Hyundai:</th>
                <td><%= @core_sfdc_hyundai %></td>
                <td><%= @core_site_hyundai %></td>
            </tr>
            <tr>
                <th>Infiniti:</th>
                <td><%= @core_sfdc_infiniti %></td>
                <td><%= @core_site_infiniti %></td>
            </tr>
            <tr>
                <th>Isuzu:</th>
                <td><%= @core_sfdc_isuzu %></td>
                <td><%= @core_site_isuzu %></td>
            </tr>
            <tr>
                <th>Jaguar:</th>
                <td><%= @core_sfdc_jaguar %></td>
                <td><%= @core_site_jaguar %></td>
            </tr>
            <tr>
                <th>Jeep:</th>
                <td><%= @core_sfdc_jeep %></td>
                <td><%= @core_site_jeep %></td>
            </tr>
            <tr>
                <th>Kia:</th>
                <td><%= @core_sfdc_kia %></td>
                <td><%= @core_site_kia %></td>
            </tr>
            <tr>
                <th>Lamborghini:</th>
                <td><%= @core_sfdc_lamborghini %></td>
                <td><%= @core_site_lamborghini %></td>
            </tr>
            <tr>
                <th>Lexus:</th>
                <td><%= @core_sfdc_lexus %></td>
                <td><%= @core_site_lexus %></td>
            </tr>
            <tr>
                <th>Lincoln:</th>
                <td><%= @core_sfdc_lincoln %></td>
                <td><%= @core_site_lincoln %></td>
            </tr>
            <tr>
                <th>Lotus:</th>
                <td><%= @core_sfdc_lotus %></td>
                <td><%= @core_site_lotus %></td>
            </tr>
            <tr>
                <th>Maserati:</th>
                <td><%= @core_sfdc_maserati %></td>
                <td><%= @core_site_maserati %></td>
            </tr>
            <tr>
                <th>Mazda:</th>
                <td><%= @core_sfdc_mazda %></td>
                <td><%= @core_site_mazda %></td>
            </tr>
            <tr>
                <th>Mb:</th>
                <td><%= @core_sfdc_mb %></td>
                <td><%= @core_site_mb %></td>
            </tr>
            <tr>
                <th>Mclaren:</th>
                <td><%= @core_sfdc_mclaren %></td>
                <td><%= @core_site_mclaren %></td>
            </tr>
            <tr>
                <th>Mercedes:</th>
                <td><%= @core_sfdc_mercedes %></td>
                <td><%= @core_site_mercedes %></td>
            </tr>
            <tr>
                <th>Mercury:</th>
                <td><%= @core_sfdc_mercury %></td>
                <td><%= @core_site_mercury %></td>
            </tr>
            <tr>
                <th>Mini:</th>
                <td><%= @core_sfdc_mini %></td>
                <td><%= @core_site_mini %></td>
            </tr>
            <tr>
                <th>Mitsubishi:</th>
                <td><%= @core_sfdc_mitsubishi %></td>
                <td><%= @core_site_mitsubishi %></td>
            </tr>
            <tr>
                <th>Nissan:</th>
                <td><%= @core_sfdc_nissan %></td>
                <td><%= @core_site_nissan %></td>

            </tr>
            <tr>
                <th>Oldsmobile:</th>
                <td><%= @core_sfdc_oldsmobile %></td>
                <td><%= @core_site_oldsmobile %></td>

            </tr>
            <tr>
                <th>Plymouth:</th>
                <td><%= @core_sfdc_plymouth %></td>
                <td><%= @core_site_plymouth %></td>

            </tr>
            <tr>
                <th>Pontiac:</th>
                <td><%= @core_sfdc_pontiac %></td>
                <td><%= @core_site_pontiac %></td>
            </tr>
            <tr>
                <th>Porsche:</th>
                <td><%= @core_sfdc_porsche %></td>
                <td><%= @core_site_porsche %></td>
            </tr>
            <tr>
                <th>Ram:</th>
                <td><%= @core_sfdc_ram %></td>
                <td><%= @core_site_ram %></td>
            </tr>
            <tr>
                <th>Range:</th>
                <td><%= @core_sfdc_range %></td>
                <td><%= @core_site_range %></td>
            </tr>
            <tr>
                <th>Rolls:</th>
                <td><%= @core_sfdc_rolls %></td>
                <td><%= @core_site_rolls %></td>
            </tr>
            <tr>
                <th>Rover:</th>
                <td><%= @core_sfdc_rover %></td>
                <td><%= @core_site_rover %></td>
            </tr>
            <tr>
                <th>Royce:</th>
                <td><%= @core_sfdc_royce %></td>
                <td><%= @core_site_royce %></td>
            </tr>
            <tr>
                <th>Saab:</th>
                <td><%= @core_sfdc_saab %></td>
                <td><%= @core_site_saab %></td>
            </tr>
            <tr>
                <th>Saturn:</th>
                <td><%= @core_sfdc_saturn %></td>
                <td><%= @core_site_saturn %></td>
            </tr>
            <tr>
                <th>Scion:</th>
                <td><%= @core_sfdc_scion %></td>
                <td><%= @core_site_scion %></td>
            </tr>
            <tr>
                <th>Smart:</th>
                <td><%= @core_sfdc_smart %></td>
                <td><%= @core_site_smart %></td>
            </tr>
            <tr>
                <th>Subaru:</th>
                <td><%= @core_sfdc_subaru %></td>
                <td><%= @core_site_subaru %></td>
            </tr>
            <tr>
                <th>Suzuki:</th>
                <td><%= @core_sfdc_suzuki %></td>
                <td><%= @core_site_suzuki %></td>
            </tr>
            <tr>
                <th>Toyota:</th>
                <td><%= @core_sfdc_toyota %></td>
                <td><%= @core_site_toyota %></td>
            </tr>
            <tr>
                <th>Volkswagen:</th>
                <td><%= @core_sfdc_volkswagen %></td>
                <td><%= @core_site_volkswagen %></td>
            </tr>
            <tr>
                <th>Volvo:</th>
                <td><%= @core_sfdc_volvo %></td>
                <td><%= @core_site_volvo %></td>
            </tr>
            <tr>
                <th>Vw:</th>
                <td><%= @core_sfdc_vw %></td>
                <td><%= @core_site_vw %></td>
            </tr>
        </table>
    </div> <!-- col ends -->

    <!-- Account Stage -->
    <div class="col-md-5">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="3">General Auto Terms</th>
            </tr>
            <tr>
                <th>Term</th>
                <th>SFDC</th>
                <th>Site</th>
            </tr>
            <tr>
                <th>Auto:</th>
                <td><%= @core_sfdc_auto %></td>
                <td><%= @core_site_auto %></td>
            </tr>
            <tr>
                <th>Autogroup:</th>
                <td><%= @core_sfdc_autogroup %></td>
                <td><%= @core_site_autogroup %></td>
            </tr>
            <tr>
                <th>Automall:</th>
                <td><%= @core_sfdc_automall %></td>
                <td><%= @core_site_automall %></td>
            </tr>
            <tr>
                <th>Automotive:</th>
                <td><%= @core_sfdc_automotive %></td>
                <td><%= @core_site_automotive %></td>
            </tr>
            <tr>
                <th>Autoplex:</th>
                <td><%= @core_sfdc_autoplex %></td>
                <td><%= @core_site_autoplex %></td>
            </tr>
            <tr>
                <th>Autos:</th>
                <td><%= @core_sfdc_autos %></td>
                <td><%= @core_site_autos %></td>
            </tr>
            <tr>
                <th>Autosales:</th>
                <td><%= @core_sfdc_autosales %></td>
                <td><%= @core_site_autosales %></td>
            </tr>
            <tr>
                <th>Cars:</th>
                <td><%= @core_sfdc_cars %></td>
                <td><%= @core_site_cars %></td>
            </tr>
            <tr>
                <th>Dealer:</th>
                <td><%= @core_sfdc_dealer %></td>
                <td><%= @core_site_dealer %></td>
            </tr>
            <tr>
                <th>Imports:</th>
                <td><%= @core_sfdc_imports %></td>
                <td><%= @core_site_imports %></td>
            </tr>
            <tr>
                <th>Group:</th>
                <td><%= @core_sfdc_group %></td>
                <td><%= @core_site_group %></td>
            </tr>
            <tr>
                <th>Highline:</th>
                <td><%= @core_sfdc_highline %></td>
                <td><%= @core_site_highline %></td>
            </tr>
            <tr>
                <th>Motor:</th>
                <td><%= @core_sfdc_motor %></td>
                <td><%= @core_site_motor %></td>
            </tr>
            <tr>
                <th>Motors:</th>
                <td><%= @core_sfdc_motors %></td>
                <td><%= @core_site_motors %></td>
            </tr>
            <tr>
                <th>Superstore:</th>
                <td><%= @core_sfdc_superstore %></td>
                <td><%= @core_site_superstore %></td>
            </tr>
            <tr>
                <th>Trucks:</th>
                <td><%= @core_sfdc_trucks %></td>
                <td><%= @core_site_trucks %></td>
            </tr>
            <tr>
                <th>Usedcars:</th>
                <td><%= @core_sfdc_usedcars %></td>
                <td><%= @core_site_usedcars %></td>
            </tr>
        </table>
    </div> <!-- col ends -->

</div> <!-- Row ends -->
</section>
<br>



<!-- Accounts Summary Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
    <div class="row" style="width: 99%; margin: auto;">
        <h3 class="section-header">Accounts Summary</h3>

        <!-- Account Stage -->
        <div class="col-md-2">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
                <tr>
                    <th colspan="2">Account Stage</th>
                </tr>
                <tr>
                    <th>Imported:</th>
                    <td><%= @core_bds_status_imported %></td>
                </tr>
                <tr>
                    <th>Domainer Queued:</th>
                    <td><%= @core_bds_status_queue_domainer %></td>
                </tr>
                <tr>
                    <th>Domainer Result:</th>
                    <td><%= @core_bds_status_dom_result %></td>
                </tr>
                <tr>
                    <th>Domainer Matched:</th>
                    <td><%= @core_bds_status_matched %></td>
                </tr>
                <tr>
                    <th>Indexer Queued:</th>
                    <td><%= @core_bds_status_queue_indexer %></td>
                </tr>
                <tr>
                    <th>Indexer Result:</th>
                    <td><%= @core_bds_status_indexer_result %></td>
                </tr>
                <tr>
                    <th>Staffer Status:</th>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th>WhoIs Status:</th>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><%= @core_all %></td>
                </tr>
            </table>
        </div> <!-- col ends -->

        <!-- Digital -->
        <div class="col-md-2">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
                <tr>
                    <th colspan="2">Digital</th>
                </tr>
                <tr>
                    <th colspan="2">URL Comparison</th>
                </tr>
                <tr>
                    <th>Same URL:</th>
                    <td><%= @core_url_comparison_same %></td>
                </tr>
                <tr>
                    <th>Updated URL:</th>
                    <td><%= @core_url_comparison_different %></td>
                </tr>
                <tr>
                    <th colspan="2">Root Comparison</th>
                </tr>
                <tr>
                    <th>Same Root:</th>
                    <td><%= @core_root_comparison_same %></td>
                </tr>
                <tr>
                    <th>Updated Root:</th>
                    <td><%= @core_root_comparison_different %></td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><%#= @core_all %></td>
                </tr>
            </table>
        </div> <!-- col ends -->

        <!-- Sales Tier -->
        <div class="col-md-2">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
                <tr>
                    <th colspan="2">Sales Tier</th>
                </tr>
                <tr>
                    <th>Sales Tier 1:</th>
                    <td><%= @core_tier_1 %></td>
                </tr>
                <tr>
                    <th>Sales Tier 2:</th>
                    <td><%= @core_tier_2 %></td>
                </tr>
                <tr>
                    <th>Sales Tier 3:</th>
                    <td><%= @core_tier_3 %></td>
                </tr>
                <tr>
                    <th>Sales Tier 4</th>
                    <td><%= @core_tier_4 %></td>
                </tr>
                <tr>
                    <th>Sales Tier 5</th>
                    <td><%= @core_tier_5 %></td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><%= @core_all %></td>
                </tr>

            </table>
        </div> <!-- col ends -->

        <!-- Type -->
        <div class="col-md-2">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
                <tr>
                    <th colspan="2">Type</th>
                </tr>
                <tr>
                    <th>Canceled:</th>
                    <td><%= @core_type_canceled %></td>
                </tr>
                <tr>
                    <th>Current Account:</th>
                    <td><%= @core_type_current_account %></td>
                </tr>
                <tr>
                    <th>Current Sub-account:</th>
                    <td><%= @core_type_current_sub_account %></td>
                </tr>
                <tr>
                    <th>Distribution Partner:</th>
                    <td><%= @core_type_distribution_partner %></td>
                </tr>
                <tr>
                    <th>Do Not Solicit:</th>
                    <td><%= @core_type_do_not_solicit %></td>
                </tr>
                <tr>
                    <th>Failure To Launch:</th>
                    <td><%= @core_type_failure_to_launch %></td>
                </tr>
                <tr>
                    <th>Group Division:</th>
                    <td><%= @core_type_group_division %></td>
                </tr>
                <tr>
                    <th>Group Name:</th>
                    <td><%= @core_type_group_name %></td>
                </tr>
                <tr>
                    <th>Inactive:</th>
                    <td><%= @core_type_inactive %></td>
                </tr>
                <tr>
                    <th>Influencer:</th>
                    <td><%= @core_type_influencer %></td>
                </tr>
                <tr>
                    <th>Max Digital Demo Store: </th>
                    <td><%= @core_type_max_digital_demo_store %></td>
                </tr>
                <tr>
                    <th>Prospect:</th>
                    <td><%= @core_type_prospect %></td>
                </tr>
                <tr>
                    <th>Prospect Sub-account:</th>
                    <td><%= @core_type_prospect_sub_account %></td>
                </tr>
                <tr>
                    <th>Vendor:</th>
                    <td><%= @core_type_vendor %></td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><%= @core_all %></td>
                </tr>
            </table>
        </div> <!-- col ends -->

        <!-- Sales Person -->
        <div class="col-md-2">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
                <tr>
                    <th colspan="2">Sales Person</th>
                </tr>
                <tr>
                    <th>Justin Huffmeyer:</th>
                    <td><%= @core_sp_huffmeyer %></td>
                </tr>
                <tr>
                    <th>Marc Peckler:</th>
                    <td><%= @core_sp_peckler %></td>
                </tr>
                <tr>
                    <th>Jason Price:</th>
                    <td><%= @core_sp_price %></td>
                </tr>
                <tr>
                    <th>Ben Rosen:</th>
                    <td><%= @core_sp_rosen %></td>
                </tr>
                <tr>
                    <th>Sarah Thompson:</th>
                    <td><%= @core_sp_thompson %></td>
                </tr>
                <tr>
                    <th>Unassigned</th>
                    <td>?</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><%= @core_all %></td>
                </tr>
            </table>
        </div> <!-- col ends -->

        <!-- Franchise Dealers -->
        <div class="col-md-2">
            <table class="list-table table table-bordered table-hover text-nowrap table-striped">
                <tr>
                    <th colspan="2">Franchise Dealers</th>
                </tr>
                <tr>
                    <th>Ford:</th>
                    <td>#</td>
                </tr>
                <tr>
                    <th>GM</th>
                    <td>#</td>
                </tr>
                <tr>
                    <th>Honda</th>
                    <td>#</td>
                </tr>
                <tr>
                    <th>Toyota</th>
                    <td>#</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>?</td>
                </tr>
            </table>
        </div> <!-- col ends -->

    </div> <!-- Row ends -->
</section>
<br>

<!-- Domainer Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Domainer Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Status</th>
            </tr>
            <tr>
                <th>Accounts Queried:</th>
                <th><%= @gcse_query_count %></th>
            </tr>
            <tr>
                <th>Dom Results:</th>
                <td><%= @gcse_domain_status_dom_result %></td>
            </tr>
            <tr>
                <th>No Auto-Matches:</th>
                <td><%= @gcse_domain_status_no_auto_matches %></td>
            </tr>
            <tr>
                <th>Total Results:</th>
                <td><%= @gcse_all %></td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>

<!-- Indexer Staff Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Indexer Staff Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Status</th>
            </tr>
            <tr>
                <th>Matched:</th>
                <td><%= @indexer_staff_status_matched %></td>
            </tr>
            <tr>
                <th>No Matches:</th>
                <td><%= @indexer_staff_status_no_matches %></td>
            </tr>
            <tr>
                <th>Error:</th>
                <td><%= @indexer_staff_status_error %></td>
            </tr>
            <tr>
                <th>Verified:</th>
                <td><%= @indexer_staff_status_verified %></td>
            </tr>
            <tr>
                <th>Try Again:</th>
                <td><%= @indexer_staff_status_try_again %></td>
            </tr>
            <tr>
                <th>Ready:</th>
                <td><%= @indexer_staff_status_ready %></td>
            </tr>
            <tr>
                <th>Total:</th>
                <td><%= @indexer_staff_all %></td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>


<!-- Indexer Location Summary -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Indexer Location Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Status</th>
            </tr>
            <tr>
                <th>Matched:</th>
                <td><%= @indexer_location_status_matched %></td>
            </tr>
            <tr>
                <th>No Matches:</th>
                <td><%= @indexer_location_status_no_matches %></td>
            </tr>
            <tr>
                <th>Error:</th>
                <td><%= @indexer_location_status_error %></td>
            </tr>
            <tr>
                <th>Verified:</th>
                <td><%= @indexer_location_status_verified %></td>
            </tr>
            <tr>
                <th>Try Again:</th>
                <td><%= @indexer_location_status_try_again %></td>
            </tr>
            <tr>
                <th>Ready:</th>
                <td><%= @indexer_location_status_ready %></td>
            </tr>
            <tr>
                <th>Total:</th>
                <td><%= @indexer_location_all %></td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>


<!-- Contacts Summary Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Contacts Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Status</th>
            </tr>
            <tr>
                <th>ABC</th>
                <td>123</td>
            </tr>
            <tr>
                <th>ABC</th>
                <td>123</td>
            </tr>
            <tr>
                <th>ABC</th>
                <td>123</td>
            </tr>
            <tr>
                <th>Total:</th>
                <td><%= @staffer_all %></td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>

<!-- Discoveries Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Discoveries Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Summary</th>
            </tr>
            <tr>
                <th>All Solitaries:</th>
                <td><%= @solitary_all %></td>
            </tr>
            <tr>
                <th>All Pending Verifications:</th>
                <td><%= @pending_verification_all %></td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>


<!-- Settings Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Settings Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Summary</th>
            </tr>
            <tr>
                <th>Junk Roots:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>InRoot Franchise Terms:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>InRoot Deleted Terms:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>InText Franchise Terms:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>InText Deleted Terms:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>Indexer Location Hrefs:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>Indexer Location Texts:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>Indexer Staff Hrefs:</th>
                <td>#</td>
            </tr>
            <tr>
                <th>Indexer Staff Texts:</th>
                <td>#</td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>


<!-- WhoIs Section -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">WhoIs Summary</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Status</th>
            </tr>
            <tr>
                <th>ABC</th>
                <td>123</td>
            </tr>
            <tr>
                <th>Total WhoIs:</th>
                <td>#</td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>


<!-- Sample Row-Col Section Template -->
<section style="border: 1px solid gray; border-radius: 5px; box-shadow: 5px 5px 5px;">
<div class="row" style="width: 95%; margin: auto;">
    <h3 class="section-header">Sample Row-Column</h3>
    <div class="col-md-3">
        <table class="list-table table table-bordered table-hover text-nowrap table-striped">
            <tr>
                <th colspan="2">Sample</th>
            </tr>
            <tr>
                <th>ABC</th>
                <td>123</td>
            </tr>
        </table>
    </div> <!-- col ends -->
</div> <!-- Row ends -->
</section>
<br>




<!-- STATS FORMULAS FOR FUTURE USE -  Starts -->

<%#= number_with_delimiter(@core_all) %>

<%#= @domainer_query_count %>
<%#= percent_format(@domainer_query_count, @core_all) %>

<%#= @domainer_query_count %>

<%#= @core_dom_result_count %>
<%#= percent_format(@core_dom_result_count, @domainer_query_count) %>

<%#= @core_matched_count %>
<%#= percent_format(@core_matched_count, @domainer_query_count) %>

<%#= @core_no_matches_count %>
<%#= percent_format(@core_no_matches_count, @domainer_query_count) %>

<%#= @roots_updated %>
<%#= percent_format(@roots_updated, @core_matched_count) %>

<%#= @urls_updated %>
<%#= percent_format(@urls_updated, @core_matched_count) %>

<%#= @solitary_all %>
<%#= percent_format(@solitary_all, @domainer_query_count) %>

<%#= @roots_updated %>
<%#= percent_format(@roots_updated, @core_matched_count) %>

<%#= @urls_updated %>
<%#= percent_format(@urls_updated, @core_matched_count) %>

<%#= @solitary_all %>
<%#= percent_format(@solitary_all, @domainer_query_count) %>

<!-- STATS FORMULAS FOR FUTURE USE -  Ends -->

<%#= link_to "Franchiser", franchiser_btn_path, class: 'btn btn-lg btn-warning' %>


<!-- <h2>POWER BUTTONS  - Starts</h2> -->

<!-- Clean Domainer Button -->
<%#= link_to "Clean Gcse", gcse_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Clean Solitary Button -->
<%#= link_to "Clean Solitary", solitary_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Clean Core Button -->
<%#= link_to "Clean Core Comparison", core_comp_cleaner_btn_path, class: 'btn btn-lg btn-warning' %>

<!-- Auto Match Button -->
<%#= link_to "Auto Match", auto_match_btn_path, class: 'btn btn-warning' %>

<!-- <h2>POWER BUTTONS - Ends</h2> -->


<%= link_to "Gcse Unique Rooter", gcse_unique_rooter_path, class: 'btn btn-warning' %>
