<h3 class="section-header">Staffers Filter</h3>
<div class="text-nowrap cores-layout core-search-container">

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1"><span class="glyphicon glyphicon-flag"></span> Contacts Filter</th>
                    <th class="th-2 w-sm">Sales Person:</th>
                    <td><%= select_tag :sfdc_sales_person, options_for_select(sfdc_sales_person_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <th class="th-2 w-xsm">Type:</th>
                    <td><%= select_tag :sfdc_type, options_for_select(sfdc_type_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <th class="th-2 w-xsm">SFDC ID:</th>
                    <td class="w-md"><%= text_field_tag :sfdc_id, params[:sfdc_id], placeholder: "----", class: 'form-control' %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Account</th>
                    <th class="th-2">Account Name</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2 w-md">Sales Tier</th>
                </tr>
                <tr>
                    <th class="th-2"></th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :acct_name } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :group_name } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :ult_group_name } %></td>
                    <td><%= select_tag :sfdc_tier, options_for_select(sfdc_tier_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Address</th>
                    <th class="th-2">Street</th>
                    <th class="th-2 w-lg">City</th>
                    <th class="th-2 w-xxsm">State</th>
                    <th class="th-2 w-xsm">Zip</th>
                    <th class="th-2 w-md">Phone</th>
                </tr>
                <tr>
                    <th class="th-2"></th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :street } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :city } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :state } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :zip } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :phone } %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Digital</th>
                    <th class="th-2">Franchise</th>
                    <th class="th-2">Template</th>
                    <th class="th-2">Website</th>
                    <th class="th-2">Staff Text</th>
                    <th class="th-2">Staff Link</th>
                </tr>
                <tr>
                    <th class="th-2"></th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :franchise } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :template } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :domain } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :staff_text } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :staff_link } %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Contact</th>
                    <th class="th-2">Job Title</th>
                    <th class="th-2">Job Description</th>
                    <th class="th-2">Influence</th>
                    <th class="th-2">Inactive</th>
                    <th class="th-2">First Name</th>
                    <th class="th-2">Last Name</th>
                    <th class="th-2">Cell Phone</th>
                    <th class="th-2">Email</th>
                    <th class="th-2">SFDC Contact ID</th>
                </tr>
                <tr>
                    <th class="th-2"></th>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :job } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :job_raw } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :influence } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_cont_active } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :fname } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :lname } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :cell_phone } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :email } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_cont_id } %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

    <div class="row">
        <div class="col-md-12">
            <table class="cores-layout-table account-filter-table table table-bordered table-hover">
                <tr>
                    <th class="th-1 t3">Status</th>
                    <th class="th-2">Staffer Status</th>
                    <th class="th-2">Contact Status</th>
                    <th class="th-2">Contact Source</th>
                    <th class="th-2">Staffer Date</th>
                    <th class="th-2">Last Activity</th>
                    <th class="th-2">Created</th>
                    <th class="th-2">Updated</th>
                </tr>
                <tr>
                    <th class="th-2"></th>
                    <td><%= render partial: 'layouts/select_tag', locals: { col: :staffer_status } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :cont_status } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :cont_source } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :staffer_date } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :last_activity_date } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :created_date } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :updated_date } %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->
</div> <!-- core-search-container Ends -->

<%= submit_tag "Search", class: 'wide-button green-button' %>
