<!-- MODAL PARTIAL -->
<%= render partial: 'modal' %>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- CONTACTS - LIST VIEW PARTIAL -->
<% if @view_mode == "list" %>
    <h3 class="section-header">Contact Profiles - List View</h3>

    <%= render partial: 'buttons' %>
    <%= render partial: 'list_view', locals: { staffers: @staffers } %>
<% end %>

<!-- CONTACTS - DETAILED VIEW PARTIAL -->
<% if @view_mode == "detail" %>
    <%= render partial: 'detailed_view' %>
<% end %>

<%= render partial: 'buttons' %>

<div class="text-center">
    <%= will_paginate @paginate_staffers, renderer: BootstrapPagination::Rails  %>
</div>
