<h1 class="page-header">Contacts</h1>
<h4 class="text-center">Combined Dealer Contacts from CRM and Dealer Staff Pages</h4>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- CONTACTS - LIST VIEW PARTIAL -->
<% if @view_mode == "list" %>
    <h3 class="section-header">Contact Profiles - List View</h3>
    <p>List view shows more (than detailed view), but will NOT be attached to account detailed view.</p>

    <%= render partial: 'buttons' %>
    <%= render partial: 'list_view', locals: { staffers: @staffers } %>
<% end %>

<!-- CONTACTS - DETAILED VIEW PARTIAL -->
<% if @view_mode == "detail" %>
    <%= render partial: 'detailed_view' %>
<% end %>

<%= render partial: 'buttons' %>

<div class="text-center">
    <%= will_paginate @paginate_staffers, renderer: BootstrapPagination::Rails  %>
</div>
