<p id="notice"><%= notice %></p>

<p>
  <strong>Sfdc:</strong>
  <%= @geo_place.sfdc_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @geo_place.account %>
</p>

<p>
  <strong>Street:</strong>
  <%= @geo_place.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @geo_place.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @geo_place.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @geo_place.zip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @geo_place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @geo_place.longitude %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @geo_place.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @geo_place.website %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @geo_place.map_url %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @geo_place.img_url %>
</p>

<p>
  <strong>Hierarchy:</strong>
  <%= @geo_place.hierarchy %>
</p>

<p>
  <strong>Place:</strong>
  <%= @geo_place.place_id %>
</p>

<p>
  <strong>Address components:</strong>
  <%= @geo_place.address_components %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @geo_place.reference %>
</p>

<p>
  <strong>Aspects:</strong>
  <%= @geo_place.aspects %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @geo_place.reviews %>
</p>

<%= link_to 'Edit', edit_geo_place_path(@geo_place) %> |
<%= link_to 'Back', geo_places_path %>
