<p id="notice"><%= notice %></p>

<h1 class="text-center">InRoot Deleted Terms</h1>
<h4 class="text-center">Auto-Deleted</h4>
<br><br>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_in_host_del_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', in_host_del_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', in_host_dels_path(format: "csv"), class: 'btn btn-primary' %>
</div>
<br>
<br>

<%= form_tag "/in_host_dels", method: :get, class: 'form-inline'  do %>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>
            <th>InRoot Auto-Deleted Terms</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @in_host_dels.each do |in_host_del| %>
        <tr>
            <td><%= check_box_tag "multi_checks[]",  in_host_del.id %></td>
            <td><%= in_host_del.term %></td>
            <td><%= link_to 'Show', in_host_del %></td>
            <td><%= link_to 'Edit', edit_in_host_del_path(in_host_del) %></td>
            <td><%= link_to 'Destroy', in_host_del, method: :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="pull-left">
    <%= submit_tag "Delete Checked", class: 'btn btn-danger' %>
</div>
<% end %>

<div class="pull-right">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-primary' %>
    <%= link_to 'Add Record', new_in_host_del_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', in_host_del_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', in_host_dels_path(format: "csv"), class: 'btn btn-primary' %>
</div>
