<%= form_tag "/indexers", method: :get, class: 'form-inline'  do %>
<div class="new-search-container">
    <div class="row">
        <div class="col-md-2 new-search-left-col">
            <!-- <table class="theme-layout-table filter-table table table-bordered table-hover text-nowrap"> -->
            <table class="table table-bordered table-hover text-nowrap new-search-table">
                <tr>
                    <th colspan="2">Match Status</th>
                </tr>
                <tr>
                    <td>100%</td>
                    <td><%= check_box_tag 'score100_check', "true" %></td>
                <tr>
                    <td>75%</td>
                    <td><%= check_box_tag 'score75_check', "true" %></td>
                </tr>
                <tr>
                    <td>50%</td>
                    <td><%= check_box_tag 'score50_check', "true" %></td>
                </tr>
                <tr>
                    <td>25%</td>
                    <td><%= check_box_tag 'score25_check', "true" %></td>
                </tr>
            </table>
        </div>

        <div class="col-md-10 new-search-right-col">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover text-nowrap new-search-table">
                        <tr>
                            <th>Scraper Status</th>
                            <th>Redirect Status</th>
                            <th>WhoIs Status</th>
                            <th>Template</th>
                            <th>RT Status</th>
                            <th>PF Staff Status</th>
                            <th>PF Location Status</th>
                            <th>Contact Status</th>
                            <th>COP Status</th>
                        </tr>
                        <tr>
                            <td><%= select_tag :indexer_status, options_for_select(@indexer_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                            <td><%= select_tag :redirect_status, options_for_select(@redirect_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                            <!-- WhoIs -->
                            <!-- TEMPORARILY LINKING TO REDIRECT STATUS -->
                            <td><%= select_tag :who_status, options_for_select(@redirect_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                            <td><%= select_tag :template, options_for_select(@template_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                            <td><%= select_tag :rt_sts, options_for_select(@rt_sts_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                            <td><%= select_tag :stf_status, options_for_select(@stf_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                            <td><%= select_tag :loc_status, options_for_select(@loc_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                            <td><%= select_tag :contact_status, options_for_select(@contact_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>

                            <!-- CoPilot -->
                            <!-- TEMPORARILY LINKING TO REDIRECT STATUS -->
                            <td><%= select_tag :cop_type, options_for_select(@contact_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover text-nowrap new-search-table">
                        <tr>
                            <th class="th">Account Name</th>
                            <th class="th">Address</th>
                            <th class="th">Addr Pin</th>
                            <th class="th">Phone</th>
                            <th class="th">Clean url</th>
                            <th class="th">Raw url</th>
                        </tr>
                        <tr>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :acct_name } %></td>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :full_addr } %></td>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :phone } %></td>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :acct_pin } %></td>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :clean_url } %></td>
                            <td><%= render partial: 'layouts/text_field_tag', locals: { col: :raw_url } %></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

<%= submit_tag "Search Scraper Results", class: 'new-wide-button' %>
<% end %>
