<!-- <div id="core-detail" class="geo-result-table"> -->
<div class="scraper-profile-container scraper-profile">

    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered no-wrap">

                <thead>
                    <tr>
                        <th><%= num %></th>
                        <th>Scraping Status</th>

                        <th>Redirect Status</th>
                        <th>WhoIs Status</th>
                        <th>Template</th>
                        <th>PF Staff</th>
                        <th>PF Staff</th>

                        <th>PF Location</th>
                        <th>PF Location</th>

                        <th>RT-MS</th>
                        <th>CS</th>
                        <th>Geo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td><%= indexer.indexer_status %></td>

                        <!-- URL indexer_indicator -->
                        <td><%= indexer.redirect_status %></td>
                        <td><%= indexer.who_status %></td>

                          <!-- Template -->
                          <td><%= indexer.template %></td>

                          <!-- Staff Text / URL -->
                          <td class="<%= match_sts_ind(indexer.stf_status) %>">
                              <%= link_to indexer.staff_url, :target => "_blank", class: 'tooltips', title: "#{indexer.staff_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                              <%= indexer.staff_text %>
                              <% end %>
                          </td>

                          <!-- Staff Status -->
                          <td class="<%= match_sts_ind(indexer.stf_status) %>"><%= indexer.stf_status %></td>

                        <!-- Loc Text / URL -->
                        <td class="<%= match_sts_ind(indexer.loc_status) %>">
                            <%= link_to indexer.location_url, :target => "_blank", class: 'tooltips', title: "#{indexer.location_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                                <%= indexer.location_text %>
                            <% end %>
                        </td>

                      <!-- Loc Status -->
                      <td class="<%= match_sts_ind(indexer.loc_status) %>"><%= indexer.loc_status %></td>

                    <!-- RT Status -->
                    <td><%= indexer.rt_sts %></td>
                    <td><%= link_core_staffers_with_url(indexer) %></td>
                    <td><%= indexer.geo_status %></td>

                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered no-wrap">
                <tr>
                    <th class="scraper-w-xsm">Scraped</th>

                    <td><%= link_to indexer.clean_url, :target => "_blank", class: 'tooltips', title: "Raw URL: #{indexer.raw_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                        <%= indexer.clean_url %>
                        <% end %>
                    </td>

                    <td><span data-toggle="tooltip" data-placement="top" title="Scraped Rooftop Name"><%= indexer.acct_name %></span></td>

                    <td><span data-toggle="tooltip" data-placement="top" title="Scraped Address"><%= indexer.full_addr %></span></td>

                    <td class="scraper-w-sm"><span data-toggle="tooltip" data-placement="top" title="Scraped Address Pin"><%= indexer.acct_pin %></span></td>

                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "Scraped Phone: #{indexer.phone}" %>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered no-wrap">
                <tr>
                    <th class="scraper-w-xsm">Match Score</th>
                    <td class="geo w-sm">100%</td>
                    <td><%= link_core_staffers(indexer.score100) %></td>
                    <td class="geo w-sm">75%</td>
                    <td><%= link_core_staffers(indexer.score75) %></td>
                    <td class="geo w-sm">50%</td>
                    <td colspan="3"><%= link_core_staffers(indexer.score50) %></td>
                    <td class="geo w-sm">25%</td>
                    <td colspan="3"><%= link_core_staffers(indexer.score25) %></td>

                </tr>
            </table>


            <div class="row">
                 <!-- left section  -->
                 <div class="col-md-6 new-scraper-left-col">
                    <table class="table table-bordered no-wrap">

                        <tr class="scraper-section-top scraper-section-right scraper-section-left">
                        </tr>
                        <tr class="scraper-section-right scraper-section-left">
                        </tr>
                        <tr class="scraper-section-right scraper-section-left scraper-section-bottom">
                        </tr>
                    </table>
                </div>

                <!-- right section -->
                <div class="col-md-6 new-scraper-right-col ">
                    <table class="table table-bordered no-wrap">
                            <tr>
                                <td class="geo w-xsm fa-blue">
                                    <span data-toggle="tooltip" data-placement="top" title="SFDC IDs: Same Clean URL">URL IDs:</span>
                                </td>

                                <td class="geo w-lg "><%= indexer.clean_url_crm_ids %></td>
                             </tr>

                             <tr>
                                 <td class="geo w-xsm fa-blue">
                                     <span data-toggle="tooltip" data-placement="top" title="SFDC IDs: Same Account Name">Name IDs:</span>
                                 </td>

                                 <td class="geo w-lg"><%= indexer.crm_acct_ids %></td>
                             </tr>

                         <tr>

                             <td class="geo w-xsm fa-blue">
                                  <span data-toggle="tooltip" data-placement="top" title="SFDC IDs: Same Address Pin">Pin IDs:</span>
                             </td>

                             <td class="geo w-lg"><%= indexer.acct_pin_crm_ids %></td>
                         </tr>

                         <tr>
                             <td class="geo w-xsm fa-blue">
                               <span data-toggle="tooltip" data-placement="top" title="SFDC IDs: Same Phone">Phone IDs:</span>
                             </td>
                             <td class="geo w-lg"><%= indexer.crm_ph_ids %></td>
                         </tr>
                         <!-- <tr>
                             <th class="geo w-sm">25%</th>
                             <td><%#= link_core_staffers(indexer.score25) %></td>
                         </tr> -->
                         </table>
                </div>
            </div>


            <!-- <table class="table table-bordered indexer-table">
                <tr>
                    <th class="geo w-sm">50% Match</th>
                    <td><%#= link_core_staffers(indexer.score50) %></td>
                </tr>

            </table> -->
        </div> <!-- /.profile-col col-md-12 -->
    </div> <!-- /.row profile-row -->
</div> <!-- /#core-detail -->
<br>
