<!-- <div id="core-detail" class="geo-result-table"> -->
<div class="scr-prof-net scr-prof">

    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered no-wrap">

                <thead>
                    <tr>
                        <!-- <th><%#= num %></th> -->
                        <th class="scr-w-xsm scr-bold">
                            <span data-toggle="tooltip" data-placement="top" title="Scraping Process. Starts with Verifying URL & Ends with Scraping Contacts">Process</span>
                        </th>
                        <th>Scraping Status</th>

                        <th>Redirect Status</th>
                        <th>WhoIs Status</th>
                        <th>Template</th>
                        <th>PF Staff</th>
                        <th>PF Staff</th>

                        <th>PF Location</th>
                        <th>PF Location</th>

                        <th>RT-MS</th>
                        <th>CS</th>
                        <th>Geo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th class="scr-w-xsm scr-bold">
                            <span data-toggle="tooltip" data-placement="top" title="Usually 3 stages of scraping process: XX Result, XX None, XX Error">Stage</span>
                        </th>

                        <td><%= indexer.indexer_status %></td>

                        <!-- URL indexer_indicator -->
                        <td><%= indexer.redirect_status %></td>
                        <td><%= indexer.who_status %></td>

                          <!-- Template -->
                          <td><%= indexer.template %></td>

                          <!-- Staff Text / URL -->
                          <td class="<%= match_sts_ind(indexer.stf_status) %>">
                              <%= link_to indexer.staff_url, :target => "_blank", class: 'tooltips', title: "#{indexer.staff_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                              <%= indexer.staff_text %>
                              <% end %>
                          </td>

                          <!-- Staff Status -->
                          <td class="<%= match_sts_ind(indexer.stf_status) %>"><%= indexer.stf_status %></td>

                        <!-- Loc Text / URL -->
                        <td class="<%= match_sts_ind(indexer.loc_status) %>">
                            <%= link_to indexer.location_url, :target => "_blank", class: 'tooltips', title: "#{indexer.location_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                                <%= indexer.location_text %>
                            <% end %>
                        </td>

                      <!-- Loc Status -->
                      <td class="<%= match_sts_ind(indexer.loc_status) %>"><%= indexer.loc_status %></td>

                    <!-- RT Status -->
                    <td><%= indexer.rt_sts %></td>
                    <td><%= link_core_staffers_with_url(indexer) %></td>
                    <td><%= indexer.geo_status %></td>

                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered no-wrap">
                <tr class="scr-bold">
                    <th class="scr-w-xsm scr-bold">
                        <span data-toggle="tooltip" data-placement="top" title="RT Scraper results via Clean URL ">Scraped</span>
                    </th>

                    <td><%= link_to indexer.clean_url, :target => "_blank", class: 'tooltips', title: "Raw URL: #{indexer.raw_url}\nClean URL: #{indexer.clean_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                        <%= indexer.clean_url %>
                        <% end %>
                    </td>

                    <td><span data-toggle="tooltip" data-placement="top" title="Scraped Rooftop Name"><%= indexer.acct_name %></span></td>

                    <td><span data-toggle="tooltip" data-placement="top" title="Scraped Address"><%= indexer.full_addr %></span></td>

                    <td class="scraper-w-sm"><span data-toggle="tooltip" data-placement="top" title="Scraped Address Pin"><%= indexer.acct_pin %></span></td>

                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "Scraped Phone: #{indexer.phone}" %>
                    </td>
                </tr>
            </table>

            <table class="table table-bordered no-wrap">
                <tr>
                    <th class="scr-w-xsm scr-bold">
                        <span data-toggle="tooltip" data-placement="top" title="Match Score: ex. 100% = SFDC IDs with 4/4 Matching Criteria">Score</span>
                    </th>
                    <th class="scr-tiny scr-bold">100%</th>
                    <td class="scr-w-md"><%= link_core_staffers(indexer.score100) %></td>

                    <th class="scr-tiny scr-bold">75%</th>
                    <td class="scr-w-md"><%= link_core_staffers(indexer.score75) %></td>

                    <th class="scr-tiny scr-bold">50%</th>
                    <td class="scr-w-md"><%= link_core_staffers(indexer.score50) %></td>

                    <th class="scr-tiny scr-bold">25%</th>
                    <td class="scr-w-md"><%= link_core_staffers(indexer.score25) %></td>
                </tr>
            </table>

            <table class="table table-bordered no-wrap">
            <tr>
                <th class="scr-w-xsm scr-bold">
                    <span data-toggle="tooltip" data-placement="top" title="Final Approval Status via Account Section: Merge, Flag, Drop">Final</span>
                </th>

                <th class="scr-w-xsm">Merged</th>
                <td class="scr-w-md"><%= link_core_staffers(indexer.merged_ids) %></td>

                <th class="scr-w-xsm">Flagged</th>
                <td class="scr-w-md"><%= link_core_staffers(indexer.flagged_ids) %></td>

                <th class="scr-w-xsm">Dropped</th>
                <td class="scr-w-md"><%= link_core_staffers(indexer.dropped_ids) %></td>
            </tr>
            </table>

        </div> <!-- /.profile-col col-md-12 -->
    </div> <!-- /.row profile-row -->
</div> <!-- /#core-detail -->
<br>
