<h1 class="page-header">Indexer</h1>
<h4 class="text-center">Links Directory (Main URLs and Redirects, Staff Pages, Location Pages) </h4>
<br>


<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>
<h4>Total Indexer Accounts: <%= number_with_delimiter(@indexer_count) %></h4>
<h4>Selected Indexer Accounts: <%= number_with_delimiter(@selected_indexers_count) %></h4>

<%= render partial: 'buttons' %>
<br>

<% num = 0 %>
<% @indexers.each do |indexer| %>
    <% num +=1 %>
    <%= render partial: 'indexer_detail', locals: {indexer: indexer, num: num} %>
<% end %>

<%= render partial: 'buttons' %>

<div class="text-center">
    <%= will_paginate @indexers, renderer: BootstrapPagination::Rails  %>
</div>
