
<!-- MODAL PARTIAL -->
<%= render partial: 'modal' %>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- <div class="row button-div pull-right no-wrap"> -->
<div class="row">
    <div class="col-md-offset-3 col-md-3 text-right">
    </div>

    <div class="col-md-2 text-right">
        <h4 class="inlined">Selected: <%= number_with_delimiter(@selected_indexers_count) %> | <%= number_with_delimiter(@indexer_count) %></h4>
    </div>

    <div class="col-md-4">
        <%= render partial: 'buttons' %>
    </div>
</div>

<% num = 0 %>
<% @indexers.each do |indexer| %>
    <% num +=1 %>
    <%= render partial: 'indexer_detail', locals: {indexer: indexer, num: num} %>
<% end %>

<%= render partial: 'buttons' %>

<div class="text-center">
    <%= will_paginate @indexers, renderer: BootstrapPagination::Rails  %>
</div>
