<h1 class="page-header">Scraper</h1>

<div class="jumbotron">
  <div class="container">
      <h3 class="text-center">Detailed Data Associated with Dealer URLs</h3>
    <h4 class="text-center">Back-End Processes.  No human interaction. Here for reference only!
        <div class="row">
            <div class="col-md-3">
                <ul class="text-left text-nowrap">Phase 1:
                    <li>1. URL Formatter</li>
                    <li>2. URL Verifier</li>
                    <li>3. URL Registration Data</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="text-left text-nowrap">Phase 2:
                    <li>4. Index Dealer Template</li>
                    <li>5. Index Staff Page</li>
                    <li>6. Index Locations Page</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="text-left text-nowrap">Phase 3:
                    <li>7. Scrape Raw Data</li>
                    <li>8. Filter & Clean Data</li>
                    <li>9. SFDC Data Comparisons</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="text-left text-nowrap">Phase 3:
                    <li>7. Compare data ro SFDC DB</li>
                    <li>8. Scored - Routed - Approved in Accounts</li>
                    <li>9. Migrated to SFDC</li>
                </ul>
            </div>



        </div>

  </div>
</div>

<br>


<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>
<h4>Total Indexer Accounts: <%= number_with_delimiter(@indexer_count) %></h4>
<h4>Selected Indexer Accounts: <%= number_with_delimiter(@selected_indexers_count) %></h4>

<%= render partial: 'buttons' %>
<br>

<% num = 0 %>
<% @indexers.each do |indexer| %>
    <% num +=1 %>
    <%= render partial: 'indexer_detail', locals: {indexer: indexer, num: num} %>
<% end %>
=======
<% num +=1 %>

<!-- <div id="core-detail" class="text-nowrap geo-result-table"> -->
<div id="core-detail" class="geo-result-table ">
<!-- <div id="core-detail"> -->



    <div class="row profile-row">
        <div class="profile-col col-md-12">

            <table class="table table-bordered indexer-table no-wrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Domain Status</th>

                        <th>Redirect Status</th>
                        <th>WhoIs Status</th>
                        <th>Template</th>
                        <th>PF Staff</th>
                        <th>PF Staff</th>

                        <th>PF Location</th>
                        <th>PF Location</th>

                        <th>RT-MS</th>
                        <th>CS</th>
                        <th>Geo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><%= num %></td>
                        <td><%= indexer.indexer_status %></td>

                        <!-- URL indexer_indicator -->
                        <td><%= indexer.redirect_status %></td>
                        <td><%= indexer.who_status %></td>

                          <!-- Template -->
                          <td><%= indexer.template %></td>

                          <!-- Staff Text / URL -->
                          <td class="<%= match_sts_ind(indexer.stf_status) %>">
                              <%= link_to indexer.staff_url, :target => "_blank", class: 'tooltips', title: "#{indexer.staff_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                              <%= indexer.staff_text %>
                              <% end %>
                          </td>

                          <!-- Staff Status -->
                          <td class="<%= match_sts_ind(indexer.stf_status) %>"><%= indexer.stf_status %></td>

                        <!-- Loc Text / URL -->
                        <td class="<%= match_sts_ind(indexer.loc_status) %>">
                            <%= link_to indexer.location_url, :target => "_blank", class: 'tooltips', title: "#{indexer.location_url}", data: { toggle: 'tooltip', placement: 'top'} do %>
                                <%= indexer.location_text %>
                            <% end %>
                        </td>

                      <!-- Loc Status -->
                      <td class="<%= match_sts_ind(indexer.loc_status) %>"><%= indexer.loc_status %></td>

                    <!-- RT Status -->
                    <td><%= indexer.rt_sts %></td>
                    <td><%= indexer.contact_status %></td>
                    <td><%= indexer.geo_status %></td>

                    </tr>
                </tbody>
            </table>




    <div class="row">
         <!-- left section  -->
         <div class="col-md-6">
            <table class="table table-bordered indexer-table">
                <tr>
                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "external-link lg", "data-toggle": "tooltip", "data-placement": "top", title: "Clean URL" %>
                    </td>

                  <!-- Clean URL -->
                  <td><%= indexer.clean_url %></td>
                  <td class="geo w-xsm fa-blue">
                      <%= fa_icon "external-link lg", "data-toggle": "tooltip", "data-placement": "top", title: "Raw URL" %>
                  </td>
                  <!-- Raw URL -->
                  <td><%= indexer.raw_url %></td>

                <tr>
                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Scraped Account Name" %>
                    </td>
                    <td><%= indexer.acct_name %></td>


                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "phone lg", "data-toggle": "tooltip", "data-placement": "top", title: "Scraped Phone" %>
                    </td>

                    <td><%= indexer.phone %></td>

                </tr>
            <!-- </table> -->

            <!-- <table class="table table-bordered indexer-table"> -->
                <tr>
                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Scraped Mailing Address" %>
                    </td>
                    <td><%= indexer.full_addr %></td>
                    <td class="geo w-xsm fa-blue">
                        <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Scraped Address Pin" %>
                    </td>
                    <td><%= indexer.acct_pin %></td>
                </tr>

                <tr>
                    <th class="geo w-sm">100%</th>
                    <td><%= link_core_staffers(indexer.score100) %></td>
                    <th class="geo w-sm">75%</th>
                    <td><%= link_core_staffers(indexer.score75) %></td>
                </tr>
                <tr>
                    <th class="geo w-sm">50%</th>
                    <td colspan="3"><%= link_core_staffers(indexer.score50) %></td>
                </tr>
            </table>
        </div>

        <!-- right section -->
        <div class="col-md-6">
                <table class="table table-bordered indexer-table">
                    <tr>
                        <td class="geo w-xsm fa-blue">
                            <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Same Clean URL SFDC IDs" %>
                        </td>
                        <td class="geo w-lg "><%= indexer.clean_url_crm_ids %></td>
                     </tr>

                     <tr>
                         <td class="geo w-xsm fa-blue">
                             <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Same Account Name SFDC IDs" %>
                         </td>
                         <td class="geo w-lg"><%= indexer.crm_acct_ids %></td>
                     </tr>

                 <tr>

                     <td class="geo w-xsm fa-blue">
                         <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Same Address SFDC IDs" %>
                     </td>

                     <td class="geo w-lg"><%= indexer.acct_pin_crm_ids %></td>
                 </tr>

                 <tr>
                     <td class="geo w-xsm fa-blue">
                         <%= fa_icon "info-circle lg", "data-toggle": "tooltip", "data-placement": "top", title: "Same Phone SFDC IDs" %>
                     </td>
                     <td class="geo w-lg"><%= indexer.crm_ph_ids %></td>
                 </tr>
                 <tr>
                     <th class="geo w-sm">25%</th>
                     <td><%= link_core_staffers(indexer.score25) %></td>
                 </tr>
                 </table>
        </div>
    </div>


            <!-- <table class="table table-bordered indexer-table">
                <tr>
                    <th class="geo w-sm">50% Match</th>
                    <td><%#= link_core_staffers(indexer.score50) %></td>
                </tr>

            </table> -->

        </div> <!-- /.profile-col col-md-12 -->
    </div> <!-- /.row profile-row -->
</div> <!-- /#core-detail -->

<br>


            <% end %>


<%= render partial: 'buttons' %>

<div class="text-center">
    <%= will_paginate @indexers, renderer: BootstrapPagination::Rails  %>
</div>
