<tr class="geo-result-tr">
    <td><%= num %></td>

    <td><%= location.hierarchy %></td>
    <td><%= location.geo_type %></td>
    <td><%= location.geo_acct_name %></td>

    <% if location.geo_full_addr %>
    <td><%= link_to location.geo_full_addr, location, target: "_blank" %></td>
    <% else %>
    <td></td>
    <% end %>

    <td><%= location.phone %></td>

    <% if location.url %>
    <td><%= link_to "Dealer", location.url, :target => "_blank" %> <i class="fa fa-globe fa-2x" aria-hidden="true"></i> </td>
    <% else %>
    <td></td>
    <% end %>

    <td><%= location.geo_root %></td>

    <% if location.coordinates %>
    <td><%= link_to location.coordinates, location.map_url, target: "_blank" %></td>
    <% else %>
    <td></td>
    <% end %>
</tr>
<tr><!-- 3RD ROW: CRM DATA -->
    <td><%= check_box_tag "multi_checks[]",  location.id %></td>
    <td><%= location.crm_hierarchy %></td>
    <td><%= location.acct_type %></td>
    <td><%= location.acct_name %></td>

    <% unless location.address == nil %>
    <td><%= link_to location.address, "#{location}", :target => "_blank" %></td>
    <% else %>
    <td></td>
    <% end %>

    <td><%= location.crm_phone %></td>

    <% unless location.crm_url == nil %>
    <td>
        <%= link_to add_http(location.crm_url), :target => "_blank" do %>
        <%= fa_icon "external-link 2x" %>
        <% end %>
    </td>
    <% else %>
    <td></td>
    <% end %>

    <td><%= location.crm_root %></td>
    <td><%= location.sfdc_id %></td>

    <td>
        <%= link_to location, method: :details do %> <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
        <% end %>
    </td>

    <td>
        <%= link_to edit_location_path(location), method: :edit do %> <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
        <% end %>
    </td>

    <td>
        <%= link_to location, method: :delete do %> <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
        <% end %>
    </td>
</tr>
