<tr><!-- 3RD ROW: CRM DATA -->
    <!-- ###  HIERARCHY JS ### -->
    <% if location.crm_hierarchy == "None" || location.crm_hierarchy == "Other"%>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "dot-circle-o lg", class: "hier-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "None" %></td>
    <% elsif location.crm_hierarchy == "Parent" %>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "arrow-circle-up lg", class: "hier-btn fa-blue", "data-toggle": "tooltip", "data-placement": "top", title: "Parent" %></td>
    <% elsif location.crm_hierarchy == "Child" %>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "arrow-circle-down lg", class: "hier-btn fa-green", "data-toggle": "tooltip", "data-placement": "top", title: "Child" %></td>
    <% elsif location.crm_hierarchy == "Flag" %>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "exclamation-circle lg", class: "hier-btn fa-red", "data-toggle": "tooltip", "data-placement": "top", title: "Alert" %></td>
    <% else %>
        <td class="geo w-xsm"><%= fa_icon "circle-thin lg", class: "fa-clear"  %></td>
    <% end %>
    <!-- ############ -->


    <% if location.acct_name %>
    <td>
        <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMINjz6qATKxuxTc6tWNzyVehLybEYouY&zoom=17&q=<%= "#{location.acct_name}" %>"><%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "Map" %></span>
    </td>
    <% else %>
    <td></td>
    <% end %>


    <% unless location.crm_url == nil %>
    <td>
        <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="<%= add_http(location.crm_url) %>">
        <%= fa_icon "clone lg" %></span></span>
    </td>
    <% else %>
        <td class="fa-gray"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL" %></td>
    <% end %>

    <td><%= location.crm_source %></td>
    <td><%= location.acct_type %></td>

    <!-- ###  WEBSITE URL JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

    <!-- TESTING -->
    <% if location.crm_root != nil && location.crm_root == location.geo_root %>
        <td class="ind-green">
            <%= link_to add_http(location.crm_url), :target => "_blank" do %>
            <span data-toggle="tooltip" data-placement="top" title="<%= location.crm_url %>">
            <%= location.crm_root %>
            <% end %>
        </td>
    <% elsif location.crm_root != nil %>
        <td>
            <%= link_to add_http(location.crm_url), :target => "_blank" do %>
            <span data-toggle="tooltip" data-placement="top" title="<%= location.crm_url %>">
            <%= location.crm_root %>
            <% end %>
        </td>
        <% else %>
            <td class="fa-gray"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL" %></td>
        <% end %>

    <!-- ###  ACCT NAME JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

    <% if location.geo_acct_name == location.acct_name %>
        <td class="ind-green"><%= location.acct_name %></td>
    <% else %>
        <td><%= location.acct_name %></td>
    <% end %>


    <!-- ###  FULL ADDRESS JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

    <% if location.geo_full_addr == location.address %>
        <td class="ind-green"><%= location.address %></td>
    <% else %>
        <td><%= location.address %></td>
    <% end %>

    <!-- ###  PHONE JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

    <% if location.phone == location.crm_phone %>
        <td class="ind-green"><%= location.crm_phone %></td>
    <% else %>
        <td><%= location.crm_phone %></td>
    <% end %>

</tr>
