<tr><!-- 3RD ROW: CRM DATA -->

    <% if location.acct_name %>
    <td>
        <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCMINjz6qATKxuxTc6tWNzyVehLybEYouY&zoom=17&q=<%= "#{location.acct_name}" %>"><%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "Map" %></span>
    </td>
    <% else %>
    <td></td>
    <% end %>


    <% unless location.crm_url == nil %>
    <td>
        <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="<%= add_http(location.crm_url) %>">
        <%= fa_icon "clone lg" %></span></span>
    </td>
    <% else %>
        <td class="fa-gray"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL" %></td>
    <% end %>

    <td><%= location.crm_source %></td>
    <!-- <td><%#= location.acct_type %></td> -->

    <!-- ###  WEBSITE URL JS ### -->
    <% if location.crm_root != nil && location.crm_root == location.geo_root %>
        <td class="ind-green geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

        <td class="ind-green">
            <%= link_to add_http(location.crm_url), :target => "_blank" do %>
            <span data-toggle="tooltip" data-placement="top" title="<%= location.crm_url %>">
            <%= location.crm_root %>
            <% end %>
        </td>
    <% elsif location.crm_root != nil %>
        <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

        <td>
            <%= link_to add_http(location.crm_url), :target => "_blank" do %>
            <span data-toggle="tooltip" data-placement="top" title="<%= location.crm_url %>">
            <%= location.crm_root %>
            <% end %>
        </td>
        <% else %>
        <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

        <td class="fa-gray"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL" %></td>
        <% end %>

        <!-- GEO ACCOUNT NAME -->


    <!-- ###  ACCT NAME JS ### -->
    <% if location.geo_acct_name == location.acct_name %>
        <td class="ind-green"><%= location.geo_acct_name %></td>

        <td class="ind-green geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
        <td class="ind-green"><%= location.acct_name %></td>
    <% else %>
        <td><%= location.geo_acct_name %></td>

        <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
        <td><%= location.acct_name %></td>
    <% end %>


    <!-- ###  FULL ADDRESS JS ### -->
    <% if location.geo_full_addr == location.address %>
        <td class="ind-green"><%= location.geo_full_addr %></td>

        <td class="ind-green geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

        <td class="ind-green address"><%= location.address %></td>
    <% else %>
        <td><%= location.geo_full_addr %></td>

        <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

        <td><%= location.address %></td>
    <% end %>

</tr>
