<tr><!-- 3RD ROW: CRM DATA -->
    <!-- ###  HIERARCHY JS ### -->
    <% if location.crm_hierarchy == "None" || location.crm_hierarchy == "Other"%>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "dot-circle-o lg", class: "hier-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "None" %></td>
    <% elsif location.crm_hierarchy == "Parent" %>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "arrow-circle-up lg", class: "hier-btn fa-blue", "data-toggle": "tooltip", "data-placement": "top", title: "Parent" %></td>
    <% elsif location.crm_hierarchy == "Child" %>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "arrow-circle-down lg", class: "hier-btn fa-green", "data-toggle": "tooltip", "data-placement": "top", title: "Child" %></td>
    <% elsif location.crm_hierarchy == "Flag" %>
        <td class="geo w-xsm" onClick="changeHierarchy(this);"><%= fa_icon "exclamation-circle lg", class: "hier-btn fa-red", "data-toggle": "tooltip", "data-placement": "top", title: "Alert" %></td>
    <% else %>
        <td class="geo w-xsm"><%= fa_icon "circle-thin lg", class: "fa-clear"  %></td>
    <% end %>
    <!-- ############ -->

    <% unless location.crm_url == nil %>
    <td>
        <span class="modalButton" data-toggle="modal" data-target="#myModal" data-src="<%= location.crm_url %>">
        <%= fa_icon "clone lg" %></span></span>
    </td>
    <% else %>
        <td class="fa-gray"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL" %></td>
    <% end %>

    <td><%= location.crm_source %></td>
    <td><%= location.acct_type %></td>

    <!-- ###  WEBSITE URL JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

    <% unless location.crm_url == nil %>
    <td>
        <%= link_to add_http(location.crm_url), :target => "_blank" do %>
        <span data-toggle="tooltip" data-placement="top" title="<%= location.crm_url %>">
        <%= location.crm_root %>
        <% end %>
    </td>
    <% else %>
        <td class="fa-gray"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL" %></td>
    <% end %>

    <!-- ###  ACCT NAME JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
    
    <td><%= location.acct_name %></td>


    <!-- ###  FULL ADDRESS JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
    <td><%= location.address %></td>

    <!-- ###  PHONE JS ### -->
    <td class="geo w-xxsm" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>

    <td><%= location.crm_phone %></td>

</tr>
