
<tr><!-- 3RD ROW: CRM DATA -->
    <!-- <td><%#= check_box_tag "multi_checks[]",  location.id %></td> -->


    <!-- ############ -->
    <% if location.crm_hierarchy == "None" || location.crm_hierarchy == "Other"%>
        <td class="geo fa-clear"><%= fa_icon "dot-circle-o lg" %></td>
    <% elsif location.crm_hierarchy == "Parent" %>
        <td class="geo fa-clear"><%= fa_icon "star lg" %></td>
    <% elsif location.crm_hierarchy == "Child" %>
        <td class="geo fa-clear"><%= fa_icon "star-half-full lg" %></td>
    <% elsif location.crm_hierarchy == "Flag" %>
        <td class="geo fa-clear"><%= fa_icon "flag lg" %></td>
    <% else %>
        <td class="geo fa-clear"><%= fa_icon "circle-thin lg" %></td>
    <% end %>
    <!-- ############ -->


    <td><%= location.crm_source %></td>
    <td><%= location.acct_type %></td>

    <td class="geo" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
    <td><%= location.acct_name %></td>

    <td class="geo" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
    <% unless location.address == nil %>
    <td><%= link_to location.address, "#{location}", :target => "_blank" %></td>
    <% else %>
    <td></td>
    <% end %>

    <td class="geo" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
    <td><%= location.crm_phone %></td>

    <td class="geo" onClick="changeStatus(this);"><%= fa_icon "circle-thin lg", class: "stat-btn fa-clear", "data-toggle": "tooltip", "data-placement": "top", title: "Reset" %></td>
    <% unless location.crm_url == nil %>
    <td>
        <%= link_to add_http(location.crm_url), :target => "_blank" do %>
        <%= fa_icon "external-link lg" %>
        <% end %>
    </td>
    <% else %>
    <td></td>
    <% end %>

    <td><%= location.crm_root %></td>


</tr>
