<h1 class="page-header">Geolocations</h1>
<h4 class="text-center">GeoLocated Account Locations</h4>
<h4 class="text-center">Used to find duplicates and see which stores are nearest.</h4>
<h5 class="text-center">Click any Address to View Map and List of Local Area.</h5>

<h4>Total GPS Accounts: <%= number_with_delimiter(@locations_count) %></h4>

<h4>Selected GPS Accounts: <%= number_with_delimiter(@selected_locations_count) %></h4>

<%= link_to "Geo Places Starter", geo_places_starter_btn_path, class: 'btn btn-warning' %>
<%= link_to "location_power_btn", location_power_btn_path, class: 'btn btn-warning' %>

<%= link_to "turbo_matcher_btn", turbo_matcher_btn_path, class: 'btn btn-warning' %>


<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- ## FILTER - STARTS## -->

<!-- <td><%#= select_tag :sales_person, options_for_select(sfdc_sales_person_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td> -->


<!-- ## FILTER - ENDS## -->

<div class="pull-right">
    <%= link_to 'Add Record', new_location_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div> <br>

<div class="geo-container">

    <div class="row profile-row">
        <div class="profile-col col-md-12">

            <table class="table table-bordered geo-result-table">

            <% coords = [] %>
            <% num = 0 %>
            <% @locations.each do |location| %>

                <% unless coords.include?(location.coordinates) %>
                    <% coords << location.coordinates %>
                    <% num +=1 %>
                    <%= render partial: 'table_group', locals: { num: num, location: location } %>
                <% end %>
                
            <% end %>
            </table>



        </div>
    </div>

</div>



<div class="pull-right">
    <%= link_to 'Add Record', new_location_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails  %>
<br>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-button">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0"></iframe>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
