<h1 class="page-header">Geolocations</h1>
<h4 class="text-center">GeoLocated Account Locations</h4>
<h4 class="text-center">Used to find duplicates and see which stores are nearest.</h4>
<h5 class="text-center">Click any Address to View Map and List of Local Area.</h5>

<h4>Total GPS Accounts: <%= number_with_delimiter(@locations_count) %></h4>

<h4>Selected GPS Accounts: <%= number_with_delimiter(@selected_locations_count) %></h4>

<%= link_to "Geo Places Starter", geo_places_starter_btn_path, class: 'btn btn-warning' %>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- ## FILTER - STARTS## -->

<!-- <td><%#= select_tag :sales_person, options_for_select(sfdc_sales_person_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td> -->


<!-- ## FILTER - ENDS## -->

<div class="pull-right">
    <%= link_to 'Add Record', new_location_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div> <br>

<%= form_tag locations_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

<%= form_tag "/locations", method: :get, class: 'form-inline'  do %>

    <!-- <table class="geo-result-table table table-bordered table-hover text-nowrap table-striped"> -->

    <% num = 0 %>
    <% @locations.each do |location| %>
        <% num +=1 %>
        <div class="row profile-row">
            <div class="profile-col col-md-12">
                <table class="table table-bordered geo-result-table">
                    <!-- TOP ROW -->
                    <thead>
                        <tr>
                            <!-- <th><%#= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th> -->
                            <!-- <th><%#= num %></th> -->

                            <th geo><%= num %> <%= fa_icon "arrows-v lg", "data-toggle": "tooltip", "data-placement": "top", title: "Address Hierarchy" %></th>

                            <!-- hierarchy -->
                            <!-- <th><%#= fa_icon "star lg" %></th> -->
                            <!-- source -->

                            <th><%= fa_icon "code-fork lg", "data-toggle": "tooltip", "data-placement": "top", title: "Account Source" %></th>
                            <!-- type -->

                            <th><%= fa_icon "tags lg", "data-toggle": "tooltip", "data-placement": "top", title: "Account Type" %></th>

                            <!-- account name -->
                            <th colspan="2"><%= fa_icon "address-card lg", "data-toggle": "tooltip", "data-placement": "top", title: "Account Name" %></th>


                            <!-- full address -->

                            <% unless location.geo_full_addr == nil %>
                            <th colspan="2">
                                <%= link_to location, :target => "_blank" do %>
                                <%= fa_icon "map lg", class: "fa-white", "data-toggle": "tooltip", "data-placement": "top", title: "Coordinates: #{location.coordinates}" %>
                                <% end %>
                            </th>
                            <% else %>
                                <%= fa_icon "map lg", class: "fa-white", "data-toggle": "tooltip", "data-placement": "top", title: "No Coordinates!" %>
                            <% end %>

                            <!-- phone -->
                            <th colspan="2"><%= fa_icon "phone lg" %></th>
                            <!-- website url -->
                            <th colspan="2"><%= fa_icon "globe lg", "data-toggle": "tooltip", "data-placement": "top", title: "Dealer Website Link" %></th>
                            <!-- root -->
                            <th colspan="2"><%= fa_icon "arrows-h lg", "data-toggle": "tooltip", "data-placement": "top", title: "URL Root" %></th>

                        </tr>
                    </thead>

                    <tbody><!-- 2ND ROW: GEO DATA -->
                        <tr class="geo-result-tr">

                            <!-- <td><%#= location.hierarchy %></td> -->
                            <% if location.coordinates %>
                            <td>
                                <%= link_to location.map_url, target: "_blank" do %>
                                <%= fa_icon "map-marker lg", "data-toggle": "tooltip", "data-placement": "top", title: "Google Places Map Link" %>
                                <% end %>
                            </td>
                            <% else %>
                            <td></td>
                            <% end %>

                            <td><%#= location.source %></td>
                            <td><%#= location.geo_type %></td>

                            <td class="geo"></td>
                            <td><%= location.geo_acct_name %></td>

                            <td class="geo"></td>
                            <% if location.geo_full_addr %>
                            <td><%= link_to location.geo_full_addr, location, target: "_blank" %></td>
                            <% else %>
                            <td></td>
                            <% end %>

                            <td class="geo"></td>
                            <td><%= location.phone %></td>

                            <td class="geo"></td>
                            <% unless location.url == nil %>
                            <td>
                                <%= link_to add_http(location.url), :target => "_blank" do %>
                                <%= fa_icon "external-link lg", "data-toggle": "tooltip", "data-placement": "top", title: location.url %>
                                <% end %>
                            </td>
                            <% else %>
                                <td class="fa-red"><%= fa_icon "warning lg", "data-toggle": "tooltip", "data-placement": "top", title: "No URL - Permanently Closed?" %></td>
                            <% end %>

                            <td><%= location.geo_root %></td>

                        </tr>

                        <!-- Testing iFrame -->
                        <%#= link_to "iFrame", location_path(location), :target => "_blank" %>

                        <%#= link_to location.url,"http://#{location.url}", :target => "_blank" %>


                        <!-- 3rd+ rows start - partial -->
                        <%= render partial: 'table_row', locals: {location: location, num: num} %>
                        <% s_ids = location.coord_id_arr %>
                        <% s_ids.each do |id| %>
                            <% if loc = Location.find_by(sfdc_id: id) %>
                                <%= render partial: 'table_row', locals: {location: loc, num: ""} %>
                                <!-- 3rd+ rows end - partial -->

                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>


    <% end %>

    <div class="pull-left">
        <div class="submit-button-area">
            <%= select_tag :selected_status, options_for_select(hierarchy_list), include_blank: '-- Update Status --', class: 'selectpicker' %>
        </div>
        <div class="submit-button-area">
            <%= submit_tag "Submit", class: 'btn btn-success' %>
        </div>
    </div>
<% end %>

<div class="pull-right">
    <%= link_to 'Add Record', new_location_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails  %>
<br>
