<p id="notice"><%= notice %></p>

<h1 class="page-header">Geolocations</h1>
<h4 class="text-center">GeoLocated Account Locations</h4>
<h4 class="text-center">Used to find duplicates and see which stores are nearest.</h4>
<h5 class="text-center">Click any Address to View Map and List of Local Area.</h5>

<h4>Total GPS Accounts: <%= number_with_delimiter(@locations_count) %></h4>

<h4>Selected GPS Accounts: <%= number_with_delimiter(@selected_locations_count) %></h4>
<%= link_to "Geo Places Starter", geo_places_starter_btn_path, class: 'btn btn-warning' %>

<!-- FILTER PARTIAL -->
<%= render partial: 'filter' %>

<!-- ## FILTER - STARTS## -->

<!-- <td><%#= select_tag :sales_person, options_for_select(sfdc_sales_person_list), multiple: true, class: 'selectpicker form-control', title: "[]" %></td> -->


<!-- ## FILTER - ENDS## -->

<div class="pull-right">
    <%= link_to 'Add Record', new_location_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div> <br>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>

<%= form_tag "/locations", method: :get, class: 'form-inline'  do %>

<!-- <table class="list-table table table-bordered table-hover text-nowrap table-striped"> -->


<% num = 0 %>
<% @locations.each do |location| %>
<% num +=1 %>


<table class="list-table table table-bordered table-hover table-striped">

    <!-- TOP ROW -->
  <thead>
    <tr>
        <th><%= check_box_tag 'check_all', 'check_all', false, onClick: 'checkAll(this);' %></th>

        <!-- <th>#</th> -->
        <th>Status</th>
        <th>Hierarchy</th>
        <th>Type</th>
      <th>Account</th>
      <th>Address</th>
      <th>Phone</th>
      <th>URL</th>
      <th>Root</th>
      <th>Franchise</th>
    <th>Coordinates</th>
    <td><%= link_to 'Details', location %></td>
    </tr>
  </thead>


  <!-- 2ND ROW: GEO DATA -->
 <tbody>
      <tr>
          <!-- <td><%#= check_box_tag "multi_checks[]",  location.id %></td> -->

          <td><%= num %></td>

          <% if location.updated_at %>
              <td><%= location.updated_at.strftime("%m/%d/%Y") %></td>
          <% else %>
              <td><%= location.updated_at%></td>
          <% end %>

        <td><%= location.hierarchy %></td>
        <td><%= location.geo_type %></td>
        <td><%= location.geo_acct_name %></td>


        <% if location.geo_full_addr %>
            <td><%= link_to location.geo_full_addr, location, target: "_blank" %></td>
        <% else %>
            <td></td>
        <% end %>


        <td><%= location.phone %></td>

        <% if location.url %>
            <td><%= link_to location.url, location.url, :target => "_blank" %></td>
        <% else %>
            <td></td>
        <% end %>

        <td><%= location.geo_root %></td>
        <td><%= location.geo_franch_cons %></td>

        <% if location.coordinates %>
            <td><%= link_to location.coordinates, location.map_url, target: "_blank" %></td>
        <% else %>
            <td></td>
        <% end %>

        <td><%= link_to 'Edit', edit_location_path(location) %></td>
      </tr>
  </tbody>


  <!-- 3RD ROW: CRM DATA -->
 <tbody>
      <tr>
         <td><%= check_box_tag "multi_checks[]",  location.id %></td>
        <td><%= location.location_status %></td>
        <td><%= location.crm_hierarchy %></td>
        <td><%= location.acct_type %></td>
        <td><%= location.acct_name %></td>

        <% unless location.address == nil %>
            <td><%= link_to location.address, "#{location}", :target => "_blank" %></td>
        <% else %>
            <td></td>
        <% end %>

        <td><%= location.crm_phone %></td>

        <% unless location.crm_url == nil %>
            <td><%= link_to location.crm_url, "http://#{location.crm_url}", :target => "_blank" %></td>
        <% else %>
            <td></td>
        <% end %>

        <td><%= location.crm_root %></td>
        <td><%= location.crm_franch_cons %></td>
        <td><%= location.sfdc_id %></td>

        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>




</table>









<div class="pull-left">

    <%#= submit_tag "Delete Checked", class: 'btn btn-danger' %>


    <div class="submit-button-area">

        <%= select_tag :selected_status, options_for_select(hierarchy_list), include_blank: '-- Update Status --', class: 'selectpicker' %>

    </div>

    <div class="submit-button-area">
        <%= submit_tag "Submit", class: 'btn btn-success' %>
    </div>


</div>
<% end %>

<div class="pull-right">
    <%= link_to 'Add Record', new_location_path, class: 'btn btn-primary' %>
    <%= link_to 'Import CSV', location_import_page_path, class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails  %>
<br>
