<h1 class="page-header">Geolocation Search</h1>
<h4 class="text-center">GeoLocated Account Locations</h4>
<h4 class="text-center">Used to find duplicates and see which stores are nearest.</h4>


<h4>Total GPS Accounts: <%= number_with_delimiter(@locations_count) %></h4>

<h4>Selected GPS Accounts: <%= number_with_delimiter(@selected_locations_count) %></h4>

<%#= link_to "Geo Places Starter", geo_places_starter_btn_path, class: 'btn btn-warning' %>
<%#= link_to "location_power_btn", location_power_btn_path, class: 'btn btn-warning' %>

<%#= link_to "turbo_matcher_btn", turbo_matcher_btn_path, class: 'btn btn-warning' %>



<!-- Search Section -->
<h3 class="section-header">Geo Search</h3>



<%#= form_tag "/locations", method: :get, class: 'form-inline'  do %>

<%= form_tag "/search_result_page_location", method: :post  do %>


<div class="theme-layout search-container">

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="theme-layout-table filter-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">GEO Status</th>
                    <th class="th-2">Match Status</th>
                    <th class="th-2">URL Status</th>
                    <th class="th-2">Name Status</th>
                    <th class="th-2">Address Status</th>
                    <th class="th-2">Phone Status</th>
                </tr>
                <tr>
                    <td><%= select_tag :location_status, options_for_select(@location_status_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sts_geo_crm, options_for_select(@sts_geo_crm_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sts_url, options_for_select(@sts_url_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sts_acct, options_for_select(@sts_acct_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sts_addr, options_for_select(@sts_addr_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :sts_ph, options_for_select(@sts_ph_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row filter-row">
        <div class="filter-col col-md-12">
            <table class="theme-layout-table filter-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">Source</th>
                    <th class="th-2">SFDC ID:</th>
                    <th class="th-2">Account</th>
                    <th class="th-2">Group Name</th>
                    <th class="th-2">Ultimate Group Name</th>
                    <th class="th-2">Sales Tier</th>
                </tr>
                <tr>
                    <td><%= select_tag :crm_source, options_for_select(@crm_source_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td class="w-md"><%= render partial: 'layouts/text_field_tag', locals: { col: :sfdc_id } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :acct_name } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :group_name } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :ult_group_name } %></td>
                    <td><%= select_tag :tier, options_for_select(@tier_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="theme-layout-table filter-table table table-bordered table-hover text-nowrap">
                <tr>
                    <th class="th-2">Sales Person:</th>
                    <th class="th-2">Type:</th>
                    <th class="th-2">Website</th>
                    <th class="th-2">Root</th>
                    <th class="th-2">Full Address</th>
                    <th class="th-2">Coords</th>
                </tr>
                <tr>
                    <td><%= select_tag :sales_person, options_for_select(@sales_person_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= select_tag :acct_type, options_for_select(@acct_type_opts), multiple: true, class: 'selectpicker form-control', title: "[]" %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :url } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :root } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :address } %></td>
                    <td><%= render partial: 'layouts/text_field_tag', locals: { col: :coordinates } %></td>
                </tr>
            </table>
        </div>
    </div>  <!-- row ends -->

</div> <!-- filter-container Ends -->

<%= submit_tag "Search", class: 'wide-button blue-button' %>

<!-- IMPORTANT END TO FORM - EVERYTHING MUST BE IN HERE. -->
<% end %>
<!-- # Filter Headers Form tag ends -->





<!-- ## FILTER - ENDS## -->
