<p id="notice"><%= notice %></p>

<h3 class="section-header">Geolocations - Nearby</h3>

<div class="pull-right">
    <%= link_to 'Back', locations_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-primary' %>
    <%= link_to 'Download CSV', locations_path(format: "csv"), class: 'btn btn-primary' %>
</div> <br>


<table class="list-table table table-bordered table-hover text-nowrap table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Source</th>

            <th>Account Name</th>
            <th>Full Address</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>SFDC ID</th>

            <th>Rev Full Address</th>
            <th>Rev Street</th>
            <th>Rev City</th>
            <th>Rev State</th>
            <th>Rev Zip</th>

            <th>Created</th>
            <th>Updated</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @location.location_status %></td>
            <td><%= @location.source %></td>
            <td><%= @location.acct_name %></td>
            <td><%= @location.full_address %></td>
            <td><%= @location.street %></td>
            <td><%= @location.city %></td>
            <td><%= @location.state_code %></td>
            <td><%= @location.postal_code %></td>
            <td><%= @location.latitude %></td>
            <td><%= @location.longitude %></td>
            <td><%= @location.sfdc_id %></td>

            <td><%= @location.rev_full_address %></td>
            <td><%= @location.rev_street %></td>
            <td><%= @location.rev_city %></td>
            <td><%= @location.rev_state_code %></td>
            <td><%= @location.rev_postal_code %></td>

            <% if @location.created_at %>
                <td><%= @location.created_at.strftime("%m/%d/%Y") %></td>
            <% else %>
                <td><%= @location.created_at%></td>
            <% end %>

            <% if @location.updated_at %>
                <td><%= @location.updated_at.strftime("%m/%d/%Y") %></td>
            <% else %>
                <td><%= @location.updated_at%></td>
            <% end %>

        </tr>
    </tbody>
</table>

<table class="list-table table table-bordered table-hover text-nowrap table-striped">
    <thead>
        <tr>
            <th colspan="13">Nearby Locations</th>
        </tr>
        <tr>

            <th>#</th>
            <th>Status</th>
            <th>Source</th>

            <th>Account Name</th>
            <th>Full Address</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Distance</th>

            <th>SFDC ID</th>

            <th>Rev Full Address</th>
            <th>Rev Street</th>
            <th>Rev City</th>
            <th>Rev State</th>
            <th>Rev Zip</th>

            <th>Created</th>
            <th>Updated</th>

        </tr>
    </thead>

    <tbody>
        <% num = 0 %>
        <% for location in @location.nearbys(5000) %>
        <tr>
            <% num +=1 %>
            <td><%= num %></td>

            <td><%= location.location_status %></td>
            <td><%= location.source %></td>
            <td><%= link_to location.acct_name, location %></td>
            <td><%= link_to location.full_address, location %></td>
            <td><%= link_to location.street, location %></td>
            <td><%= location.city%></td>
            <td><%= location.state_code %></td>
            <td><%= location.postal_code %></td>
            <td><%= location.latitude %></td>
            <td><%= location.longitude %></td>
            <td><%= location.distance.round(2) %> (mi)</td>
            <td><%= location.sfdc_id %></td>
            <td><%= location.rev_full_address %></td>
            <td><%= location.rev_street %></td>
            <td><%= location.rev_city %></td>
            <td><%= location.rev_state_code %></td>
            <td><%= location.rev_postal_code %></td>

            <% if location.created_at %>
                <td><%= location.created_at.strftime("%m/%d/%Y") %></td>
            <% else %>
                <td><%= location.created_at%></td>
            <% end %>

            <% if location.updated_at %>
                <td><%= location.updated_at.strftime("%m/%d/%Y") %></td>
            <% else %>
                <td><%= location.updated_at%></td>
            <% end %>

            <% end %>
        </tr>

    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">

            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=800x500&sensor=false&zoom=17&markers=#{@location.latitude}%2C#{@location.longitude}" %>

        </div>
    </div>
</div>
