<!DOCTYPE html>
<html>
<head>
    <title>Bigdatasage</title>
    <%= csrf_meta_tags %>

    <!-- ADD THIS LINK TO CDN: -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <!-- ADD THIS LINK TO CDN INSIDE NEW DIV, THEN MOVE "YIELD" INSIDE: -->
    <div class="container">
        <nav class="navbar navbar-default">
            <%= link_to 'Dash', root_path, class: 'navbar-brand' %>
            <ul class="nav navbar-nav">
                <li><%= link_to 'Core Accounts', cores_path %></li>
                <li><%= link_to 'Domain Finder', gcses_path %></li>
                <li><a>Dealer Builder</a></li>
                <li><a>WhoIs Finder</a></li>
                <li><a>Site Mapper</a></li>
                <li><a>Contact Finder</a></li>
                <li><a>Email Predictor</a></li>
                <li><a>Social Finder</a></li>
                <li><%= link_to 'Criteria', criteria_path %></li>
            </ul>
        </nav>

        <%= yield %>
    </div>

    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js" %>
</body>
</html>
